[
    {
        "Id": "default-nowhitespace",
        "Title": {
            "default": "No Whitespace"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.ValidatorRegex, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.nowhitespace",
            "Regex": "^[^ ]*$"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when input contains spaces. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "DefaultValue": {
                    "default": "No spaces are allowed"
                }
            }
        ]
    }
]
