[
    {
        "Id": "default-regex",
        "Title": {
            "default": "RegEx"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.ValidatorRegex, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.regex"
        },
        "Parameters": [
            {
                "Id": "Regex",
                "Type": "Text",
                "Title": {
                    "default": "Regex"
                },
                "HelpText": {
                    "default": "This regex is matched against the input. If it doesn't match, then the field does not validation and the error message is triggered. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                }
            },
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when a the validation fails. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "{FieldName} is invalid"
                }
            }
        ]
    }
]
