[
    {
        "Id": "default-required",
        "Title": {
            "default": "Required Field"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.Required, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.required"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when a required field is missing. The message to show when email is invalid. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "{FieldName} is required"
                }
            }
        ]
    }
]
