[
    {
        "Id": "default-url",
        "Title": {
            "default": "Web Address"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.ValidatorRegex, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.url",
            "Regex": "^(http:+\\/\\/)?(www.)?([a-z0-9_.-])+\\.[a-z]+([^ ]*)?",
            "IgnoreCase": "true"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when URL is invalid. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "Invalid web address"
                }
            }
        ]
    }
]
