[
    {
        "Id": "default-date-us",
        "Title": {
            "default": "Date US (mm/dd/yyyy)"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.ValidatorRegex, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.dateUS",
            "Regex": "^\\b([1-9]|0[0-9]|1[0-2])\\b\\/\\b([1-9]|0[0-9]|1[0-9]|2[0-9]|3[0-1])\\b\\/\\b(19[0-9]{2}|20[0-2][0-9])\\b$"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when input is not a valid US phone number. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "Date must be in format mm/dd/yyyy"
                }
            }
        ]
    }
]
