[
    {
        "Id": "default-user-exists",
        "Title": {
            "default": "User exists (by email)"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.SqlValidation, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.user-exists",
            "Sql": "if not exists(select top 1 UserId from {databaseOwner}[{objectQualifier}Users] where Email = '{value}') select 1"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when user does not exists. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "User does not exists"
                }
            }
        ]
    }
]
