[
    {
        "Id": "default-username-available",
        "Title": {
            "default": "Username is Available"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.SqlValidation, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.username-available",
            "Sql": "if exists(select UserId from {databaseOwner}[{objectQualifier}Users] where username = '{value}') select 1"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when username is already taken. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "A user with same username already exists"
                }
            }
        ]
    }
]
