[
    {
        "Id": "default-words",
        "Title": {
            "default": "Words Only"
        },
        "HelpText": {
            "default": ""
        },
        "TypeStr": "DnnSharp.Common.Fields.Validation.ValidatorRegex, DnnSharp.Common",
        "Settings": {
            "LocalizationKey": "validation.words",
            "Regex": "^[\\w\\d ]+$",
            "IgnoreCase": "true"
        },
        "Parameters": [
            {
                "Id": "Message",
                "Type": "Textarea",
                "Title": {
                    "default": "Message"
                },
                "HelpText": {
                    "default": "The message to show when email is invalid. Can contain other context tokens, for example [Name], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.."
                },
                "DefaultValue": {
                    "default": "{FieldName} allows words and numbers only"
                }
            }
        ]
    }
]
