[{
    "Title": "At Least One Is Filled",
    "JsValidator": "AtLeastOneIsFilled",
    "Type": "avt.ActionForm.Core.Validation.AtLeastOneInGroup, avt.ActionForm.Core",
    "JsValidationScriptFile": "static/validators/at-least-one-is-filled.js",
    "ErrorMessage": "At least one field is required."
}]