[{
    "Title": "At Least One Strictly Positive Integer",
    "JsValidator": "AtLeastOnePositiveInteger",
    "Type": "avt.ActionForm.Core.Validation.AtLeastOnePositiveInteger,avt.ActionForm.Core",
    "JsValidationScriptFile": "static/validators/at-least-one-positive-integer.js",
    "ErrorMessage": "At least one field must have a strictly positive value."
}]