<?xml version="1.0" encoding="utf-8"?>
<Validations>
	
	<Validation sample="true">
        <Title>Farenheit Test</Title>
        <Type>avt.ActionForm.Core.Validation.WebServiceValidator, avt.ActionForm.Core</Type>
        <JsValidator>test-farenheit</JsValidator>
		
		<Params>
			<url>http://www.w3schools.com/webservices/tempconvert.asmx</url>
			
			<!-- format is: 
					headerName1:value1
					headername2:value2
					................... -->
			<Headers>
				Content-Type:text/xml; charset=utf-8
			</Headers>
			
			<!-- format is: param1=value1&amp;param2=value2... -->
			<Get>
				
			</Get>
			
			<!-- format is: param1=value1&amp;param2=value2... -->
			<Post><![CDATA[
				<?xml version="1.0" encoding="utf-8"?>
				<soap12:Envelope 
					xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
					xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
				  <soap12:Body>
					<CelsiusToFahrenheit xmlns="http://tempuri.org/">
					  <Celsius>20</Celsius>
					</CelsiusToFahrenheit>
				  </soap12:Body>
				</soap12:Envelope>
				]]>
			</Post>
			
			<!-- If there is a group 1, Action Form will use consider the validation is a success -->
			<SuccessRegex><![CDATA[(.*)]]></SuccessRegex>
			
			<!-- If there is a group 1, Action Form will use consider the validation failed and use the group1 as the error message (unless ErrorMessage/default is defined)  -->
			<ErrorRegex><![CDATA[]]></ErrorRegex>
		
		
		</Params>
		
    </Validation>
	
	
	
</Validations>
