<?xml version="1.0" encoding="utf-8"?>
<ItemDataSources>
    <DataSource>
        <Id>FilesInFolder</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FilesInFolder, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>PageContentTemplates</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PageContentTemplates, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>PortalFiles</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common</TypeStr>

        <Parameter>
            <Id>Folder</Id>
            <Title>
                <Item key="default">Folder</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFolderList</DataSource>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
            <HelpText>
                <Item key="default">Choose a folder or leave blank to show all portal files or type in the FolderId.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>FileTypes</Id>
            <Title>
                <Item key="default">File Types</Item>
            </Title>
            <Type>Text</Type>
            <Settings>
            </Settings>
            <HelpText>
                <Item key="default">Optionally provide a series of file types to limit the upload to these specific types. For example "txt,cs,doc".</Item>
            </HelpText>
        </Parameter>
        
    </DataSource>

    <DataSource>
        <Id>PortalFolders</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFolders, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>PortalFolderList</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFolderList, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Containers</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.Containers, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>AdminPages</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalPages, DnnSharp.Common</TypeStr>
        <Settings>
            <admin>true</admin>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>HostPages</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalPages, DnnSharp.Common</TypeStr>
        <Settings>
            <host>true</host>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>Portals</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.Portals, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Modules</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.Modules, DnnSharp.Common</TypeStr>
    </DataSource>
	
	<DataSource>
        <Id>DnnModules</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.ModulesTypes, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Regions</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.DnnList, DnnSharp.Common</TypeStr>
        <Settings>
            <ListName>Region</ListName>
            <BaseKey>Country</BaseKey>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>RecurringPayments</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FromEnum, DnnSharp.Common</TypeStr>

        <Settings>
            <Enum>DnnSharp.Common.Actions.ePayPalRecurringInterval</Enum>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>Currency</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FromXml, DnnSharp.Common</TypeStr>

        <Settings>
            <Path>[AppPath]\Config\Currency.xml</Path>
        </Settings>

    </DataSource>

    <DataSource>
        <Id>DbTables</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.DbTables, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>BgPatterns</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/patterns</RestrictFolder>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>BgImages</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/images</RestrictFolder>
        </Settings>
    </DataSource>
	
	<DataSource>
		<Id>DnnEmailTemplatesSource</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.DnnEmailTemplatesSource, DnnSharp.Common</TypeStr>
	</DataSource>
    
</ItemDataSources>
