[{
    "Id": "DnnUsers",
    "TypeStr": "DnnSharp.Common.ItemDataSources.DnnUsers, DnnSharp.Common",
    "Title": {
        "default": "DNN Users"
    },
    "HelpText": {
        "default": "This will generate a list of users that belong to the selected roles."
    },
    "Parameters": [{
        "Id": "Roles",
        "Title": { "default": "Roles" },
        "Type": "CheckboxList",
        "Settings": {
            "DataSource": "Roles"
            }
        }
    ]
}]