<?xml version="1.0" encoding="utf-8"?>
<ItemDataSources>

	<DataSource>

		<Id>ModuleItems</Id>
		<TypeStr>DnnSharp.Common.ItemDataSources.ModuleItems, DnnSharp.Common</TypeStr>

		<Parameter>
			<Id>DesktopModuleFriendlyName</Id>
			<Title>
				<Item key="default">DesktopModule FriendlyName</Item>
			</Title>
			<Type>Text</Type>
		</Parameter>

		<Parameter>
			<Id>Settings</Id>
			<Title>
				<Item key="default">Settings</Item>
			</Title>
			<Type>NameValueCollection</Type>
			<Settings>
				<NameColumn>Name</NameColumn>
				<ValueColumn>Value</ValueColumn>
				<ButtonName>Add Setting</ButtonName>
			</Settings>
		</Parameter>

	</DataSource>

</ItemDataSources>