<?xml version="1.0" encoding="utf-8"?>
<ItemDataSources>

    <DataSource>
        <Id>Roles</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalRoles, DnnSharp.Common</TypeStr>
		<HelpText>
		<Item key="default">
		  Also generates the following tokens: [FieldName:Description], [FieldName:RoleGroupName], [FieldName:IsPublic], [FieldName:AutoAssignment], [FieldName:SecurityMode], [FieldName:Status].
		</Item>
		</HelpText>
        <Parameter>
          	<Id>GlobalRoles</Id>
          	<Title>
            	<Item key="default">Global Roles</Item>
          	</Title>
          	<Type>Boolean</Type>
          	<HelpText>
            	<Item key="default">
		            Include the global roles along with the current portal roles, like SuperUser, All Users and Unauthenticated Users.
            	</Item>
          	</HelpText>
        </Parameter>
        <Settings>
            <OrderBy>text</OrderBy>
        </Settings>
    </DataSource>
</ItemDataSources>
