[{
    "Id": "ServerRequest",
    "TypeStr": "DnnSharp.Common.ItemDataSources.ServerRequest, DnnSharp.Common",
    "Title": {
        "default": "Server Request (JSON)"
    },
    "HelpText": {
        "default": "This datasource will bring a data set from an external API. It only accepts APIs that return a JSON response."
    },
    "Parameters": [{
            "Id": "Url",
            "Title": {
                "default": "Url"
            },
            "HelpText": {
                "default": "Input the url to request data from. Can contain My Tokens."
            },
            "Type": "Text"
        },
        {
            "Id": "HttpMethod",
            "Title": {
                "default": "Method"
            },
            "HelpText": {
                "default": "Select a method for the HTTP request."
            },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "GET": {
                        "default": "GET"
                    },
                    "POST": {
                        "default": "POST"
                    }
                }
            }
        },
        {
            "Id": "RequestBody",
            "Title": {
                "default": "Request Body"
            },
            "HelpText": {
                "default": "The content of this parameter will be sent as body in a POST request. <br />This can also be used with a GET request, each line should contain a query string parameter and it's value, separated by an equals sign, with each parameter on a separate line. <br />Can contain My Tokens."
            },
            "Type": "Textarea"
        },
        {
            "Id": "TextProperty",
            "Title": {
                "default": "Text Property"
            },
            "Type": "Text",
            "HelpText": {
                "default": "Choose a property of the JSON response that will be shown to the user as an option in the dropdown. If not set, will default to 'Text'. Can contain My Tokens."
            },
            "Settings": {
                "ApplyTokens": false
            }
        },
        {
            "Id": "ValueProperty",
            "Title": {
                "default": "Value Property"
            },
            "Type": "Text",
            "HelpText": {
                "default": "Choose a property of the JSON response that will be the value of the selected option from the dropdown. This is the actual submitted value, and not the 'Text Property'. If not set, will default to the same value as used in the Text Property. Can contain My Tokens."
            },
            "Settings": {
                "ApplyTokens": false
            }
        },
        {
            "Id": "PathProperty",
            "Title": {
                "default": "Path Property"
            },
            "Type": "Text",
            "HelpText": {
                "default": "Choose a property of the JSON response that will be used as the path of the selected option from the dropdown. This is used for linked dropdowns. If not set, will default to the Text Property or the Value Property, depending on whether the Value Property is set or not. Can contain My Tokens."
            },
            "Settings": {
                "ApplyTokens": false
            }
        },
        {
            "Id": "JsonPath",
            "Type": "Text",
            "Title": {
                "default": "Path inside JSON"
            },
            "HelpText": {
                "default": "Provide the path inside the JSON result of the request to use as data for the datasource. <br />If for example your API returns a response containing a JSON object with a 'results' property which contains the array of results to display, you will set this parameter to '$.results' or 'results' (without the quotes). <br />You can also have something like this: '$.property.subproperty.subsubproperty' or 'property.subproperty.subsubproperty'. Can contain My Tokens."
            }
        },
        {
            "Id": "CustomHeaders",
            "Title": {
                "default": "Custom Headers"
            },
            "HelpText": {
                "default": "Optionally, provide some headers. The ContentType header defaults to application/x-www-form-urlencoded unless you specify another type. Can contain My Tokens."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Header Name",
                "ValueColumn": "Header Value",
                "ButtonName": "Add Header"
            }
        }
    ]
}]