[{
    "Id": "TimeZoneList",
    "TypeStr": "DnnSharp.Common.ItemDataSources.TimeZoneList, DnnSharp.Common",
    "Title": {
        "default": "Time Zone List"
    },
    "Parameters": [
        {
            "Id": "ValueType",
            "Type": "Select",
            "Title": {
                "default": "Property used as value"
            },
            "Settings": {
                "Items": {
                    "StandardName": {"default": "Standard Time Zone name"},
                    "MinutesOffset": {"default": "Offset in minutes"},
                    "HoursOffset": {"default": "Offset in hours"},
                    "HoursOffset60": {"default": "Offset in hours and minutes float"}
                }
            },
            "HelpText": {
                "default": "<b>Offset in minutes</b>: The value for a 05:45 timezone will be 345.</br><b>Offset in hours</b>: The value for a 05:45 timezone will be 5.75.</br><b>Offset in hour and minutes float</b>: The value for a 05:45 timezone will be 5.45."
            }
        }
    ]
}]