[{
    "Id": "YearRange",
    "TypeStr": "DnnSharp.Common.ItemDataSources.YearRange, DnnSharp.Common",
    "Title": {
        "default": "Year Range"
    },
    "Parameters": [{
            "Id": "YearsBefore",
            "Type": "Text",
            "Title": {
                "default": "Years Before"
            },
            "HelpText": {
                "default": "Number of years to show before the current year."
            }
        },
        {
            "Id": "YearsAfter",
            "Type": "Text",
            "Title": {
                "default": "Years After"
            },
            "HelpText": {
                "default": "Number of years to show after the current year"
            }
        },
        {
            "Id": "Sorting",
            "Type": "Select",
            "Title": {
                "default": "Sorting"
            },
            "Settings": {
                "Items": {
                    "ASC": {
                        "default": "Ascending"
                    },
                    "DESC": {
                        "default": "Descending"
                    }
                }
            },
            "HelpText": {
                "default": "How the years will be sorted. Default is Ascending."
            },
            "DefaultValue": {
                "default": "ASC"
            }
        }
    ]
}]