.TopSocial{
    padding: 0 10px 0 0;
}
.TopSocial a, .TopSocial a:link, .TopSocial a:active, .TopSocial a:visited {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

.TopInfo { margin:32px 0 0 0;}
.TopInfo em {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
    color: #fff;
	float:right;
}
.TopInfo .text {
	margin: 0;
	text-align: right;
	width: 220px;
}
.TopInfo .box {
    display: inline-block;
}

.TopInfo h5 {
    font-weight: 600;
    line-height: 1.4;
    color: #333;
}
.TopInfo h6 {
    /*font-family: open sans;*/
    line-height: 1.3;
}
.TopInfo:after {
  content: "";
  height: 0;
  clear: both;
}
.ContentTitle { text-align:center; padding:0 0 30px 0;}
.ContentTitle .MainTitle { color:#000;font-weight:300; position:relative; padding:0 0 10px 0; margin:0 0 10px 0;}
.ContentTitle .MainTitle:after {
	content: "";
	width: 40px;
	height: 3px;
	position: absolute;
	right: 50%;
	bottom: 0;
	margin: 0 -20PX 0 0;
}
.ContentTitle .MainTitle span {font-weight:500;}
.ContentTitle .SubTitle{ color:#777; font-weight:400;}
/*home-welcome */
.home-welcome  {
    padding:60px 0;
}
.home-welcome .image { width:48%; float:right; padding:0 0 0 2%;}
.home-welcome .text {
    width: 48%;
    float: left;
    padding:50px 0 0 0;
}

.home-welcome h6 { color:#1293d4;}
.home-welcome h2 { text-transform:capitalize;}
.home-welcome p { padding:0 0 20px 0;}
.home-welcome .button a { margin:0 0 0 10px;}
.home-welcome .ContentTitle { text-align:right;}
.home-welcome .ContentTitle .MainTitle:after {
	content: "";
	width: 40px;
	height: 3px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
/*home-top-box*/
.home-top-box {
    padding: 40px 0 20px;
}


.home-top-box .box {
  text-align: center;
  padding:50px 10%;
  background-color: #fff;
  border:1px solid #F3F3F3;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s;
  -ms-transition:all 0.3s ease-out 0s;
  -o-transition:all 0.3s ease-out 0s;
  transition:all 0.3s ease-out 0s;
  margin: 0 0 20px 0;
}


.home-top-box .box h4 {
    color: #333;
    padding: 15px 0px;
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
	font-weight:500;
}
 
.home-top-box .box p {
  color: #777;
}


.home-top-box .box:hover em { color:#fff;}
.home-top-box .box:hover h4 { color:#fff;}
.home-top-box .box:hover p { color:#fff;}

/*AppBox*/
.AppBox { padding:0 0 50px 0;}
.AppBox em {
    width: 70px;
    height: 70px;
    background: #1293d4 none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
    line-height: 66px;
    border-radius: 50%;
    font-size: 24px;
	border:2px solid #1293d4;
	-moz-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.AppBox .pull-left em {
    margin: 0px 30px 0px 0px;
    position: absolute;
    left: 0px;
}
.AppBox .pull-right .text {
    text-align: left;
    margin: 0px 0px 0px 100px;
}
.AppBox .pull-right em {
    margin: 0px 0px 0px 30px;
    position: absolute;
    right: 0px;
}
.AppBox .pull-right .text {
    text-align: right;
    margin: 0px 100px 0 0 ;
}

.AppBox .pull-left:hover em,
.AppBox .pull-right:hover em  { background:none; color:#1293d4;}

.AppBox .features .text h5 { color:#000; padding:0 0 10px 0; text-transform:capitalize;}
.AppBox .features { margin:30% 0 0 0;}
.AppBox .pull-right,
.AppBox .pull-left { position:relative;margin: 0 0 25% 0;}
.app-img { text-align:center;}
/*welcome-text*/
.welcome-text {
    color: #FFF;
    padding:25px 0px 30px 0;
}

.welcome-text h2 {
    color: #FFF;
}

.welcome-text p { font-size:16px;}
.quote-link, .quote-link:link, .quote-link:active, .quote-link:visited {
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 35px;
	padding: 13px 30px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	margin: 10px 0 0 0;
	font-family:inherit;
	white-space: nowrap;
}
.quote-link:hover { color:#333; background:#fff;}
.quote-link, .quote-link:after {
	content: "\f104";
	font-family: fontawesome;
	margin: 0 8px 0 0;
	font-size: 16px;
}

/*top icon*/
.home-top-icon h1 { text-transform:uppercase;}
.home-top-icon { text-align:center; }
.home-top-icon .top-text { width:60%; margin:0 auto; padding:0 0 30px 0;}
.home-top-icon em {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
	border:3px solid #1293d4;
	background:#1293d4; 
}

.home-top-icon .box:hover em{ background:none; color:#1293d4;}

.home-top-icon h4 {
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    padding: 30px 0 10px 0;
}
.home-top-icon p { color:#fff; padding:0 0 20px 0;}
.home-top-icon .box {
	padding: 20px 0;
}
.home-banner ul li { position:relative;}
.home-banner .image {
	background-position: 50% 0;
	background-repeat: no-repeat;
	min-height:500px;
	background-size: cover;
}

.home-banner .txt-content {
	position: absolute;
	top:30%;
	color: #fff;
	text-align: center;
	right: 0;
	left: 0;
	font-weight:300;
}
.home-banner .box h1 {
    font-weight: 700;
    font-size: 55px;
    text-transform: capitalize;
    display: inline-block;
    padding: 0px 4%;
}


.home-banner h2 {
    font-size: 48px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
}
.home-banner p {
	padding:5px 0 20px 0;
	font-size:14px;
}
.home-banner .button a {
	margin:0px 10px 5px;

}
.home-banner .learn-more {
    text-transform: uppercase;
    border: 2px solid #1293d4;
	background:#1293d4;
}
.home-banner .learn-more:hover { border: 2px solid #fff; background:none;}
.home-banner .contact-us { border:1px solid #fff; 	text-transform:uppercase; }
.home-banner .contact-us:hover { background:#333; border:1px solid #333; }


.top-social a, .top-social a:link, .top-social a:active, .top-social a:visited {
  color: #fff;
  font-size: 16px;
  margin: 0 10px;
  vertical-align: top;
  text-align: center;
}
.top-social a:hover { color:#1293d4;}
a.first-icon, 
a.first-icon:link, 
a.first-icon:active, 
a.first-icon:visited {
	color:#FFFFFF;
}
.home-main-top { text-align:center;}
.home-main-top .col-sm-4 a {
    width: 106px;
    height: 106px;
    display: inline-block;
    border-radius: 50%;
	border:3px solid #fff;
}
.home-main-top .col-sm-4 a:hover { border:3px solid; background:none!important;}
.home-main-top em {
    font-size: 50px;
    color: #FFF;
    transition: all 0.7s ease 0s;
    line-height: 105px;
    width: 100px;
    height: 100px;
}
.home-main-top em.fa-desktop { font-size: 45px;}
.home-main-top em:hover{
	background:none !important;
}

.home-main-top h4 {
    font-size: 16px;
    line-height: 2.5em;
}
.home-main-top .title-line {
    width: 70px;
    height: 1px;
    background: none repeat scroll 0% 0% #bbb;
    margin: 0 auto;
}
.home-main-top p { padding:10px 20px 80px;}

/*footer-logo*/
ul.footer-logo {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer-logo li {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 14%;
  opacity: 0.5;
  text-align: center;
  padding: 0 15px;
}

.footer-logo li:hover { opacity:1;}
.footer-logo li img{ width:100%;}
/*OurMission*/
.OurMission { text-align:center; padding:50px 0 30px;}
.OurMission h3 {
  color: #fff;
  font-weight: 200;
}
.OurMission h2 {
  color: #fff;
  text-transform: capitalize;
  padding: 0 0 20px 0;
}

.OurMission p { color:#fff; width:60%; margin:0 auto;}

.OurMission em { font-weight:400;}
.OurMission .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 1px solid #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.OurMission .bx-wrapper .bx-pager {
  padding-top: 40px;
}

.OurMission .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.OurMission .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}
/*============================================================
    Portfolio
============================================================*/
.home-works { padding:0 0 40px 0;}
#projects {
    width: 100%;
}

.project-filter {
  margin-bottom: 40px;
}

.project-filter ul li {
  padding: 0;
}

.project-filter ul li a {
  color: #000;
  display: block;
  line-height: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.project-filter ul li a:hover,
.project-filter ul li a.active {
    background-color: #00C7FC;
    color: #fff;
}

.mix {
    display: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  padding: 0 0 20px 0;
}

.plus {
  background: url("../images/plus.png") no-repeat scroll center center;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  right: 50%;
  margin: -25px -25px 0 0;
  position: absolute;
  top: 50%;
  -webkit-transition: 0.3s ease-out 0s;
  -moz-transition: 0.3s ease-out 0s;
  -ms-transition: 0.3s ease-out 0s;
  -o-transition: 0.3s ease-out 0s;
  transition: 0.3s ease-out 0s;
  border: 2px solid #fff;
 }

figcaption.mask {
  padding: 15px 0;
  width: 100%;
  -webkit-transition: 0.3s ease-out 0s;
  -moz-transition: 0.3s ease-out 0s;
  -ms-transition: 0.3s ease-out 0s;
  -o-transition: 0.3s ease-out 0s;
  transition: 0.3s ease-out 0s;
  text-align:right;
}



figcaption.mask h5 {
  color: #000;
  font-size:18px;
  padding:0 0 10px 0;
}

figcaption.mask span {
  color: #777;
}



.plus-mask{
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: -100%;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-out 0s;
  -moz-transition: 0.3s ease-out 0s;
  -ms-transition: 0.3s ease-out 0s;
  -o-transition: 0.3s ease-out 0s;
  transition: 0.3s ease-out 0s;
}
.gallery-item:hover .plus-mask { top:0;}

/*ParallaxText*/
.ParallaxText { text-align:center;}
.ParallaxText h1 { color:#fff;}
.ParallaxText p {
  color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 14px;
}
.btn-links, .btn-links:link, .btn-links:active, .btn-links:visited {
  background: #1293d4;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 20px;
}

.btn-links:hover { color:#333; background:#fff;}

/*Home Team*/
.home-team { padding:0 0 40px 0;}
.home-team figure {
  position: relative;
}
.home-team figure.box {
    overflow: hidden;
    margin: 0px 0px 20px;
    
}
.home-team.inner figure.box { background:#fff;}
.bottomline {
  display: inline-block;
  font-size: 16px;
  background: none repeat scroll 0% 0% #FFF;
  width: 80px;
  height: 1px;
  vertical-align: middle;
  color: rgb(204, 204, 204);
  margin: 25px auto;
}
.home-team .img { position:relative; overflow:hidden;}
.home-team .mask {
  position: absolute;
  top:100%;
  right: 0;
  width: 100%;
	-webkit-transition:0.3s ease-out 0s;
	-moz-transition: 0.3s ease-out 0s;
	-ms-transition: 0.3s ease-out 0s;
	-o-transition: 0.3s ease-out 0s;
	transition:0.3s ease-in 0s;
	color:#fff;
	height: 100%;
	opacity:0.9;

}
.team-text { text-align:center; margin:0px auto 40px; text-transform:capitalize; max-width:670px;}
.home-team .box h4 {
    padding: 10px 0px 0px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.home-team .box h6 {
    font-weight: normal;
    padding: 0px 0px 10px;
	font-size:12px;
}
.home-team .box .details {
    border: 1px solid #e5e5e5;
    padding: 10px 20px 30px ;
}
.home-team .box p {
    color: #888;
    line-height: 1.5;
}

.home-team figure:hover .mask { top:0; height:100%; }
.home-team .mask .social a {
    color: #333;
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 1px 0 0 0;
    font-size: 16px;
    display:inline-block;
	border-radius: 50%;
}
.home-team .mask .social a:hover { background:#333; color:#fff;}
.home-team .mask .social {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: -20px 0 0 0;
}
.home-team .mask p { padding:0 0 20px 0;}
.home-team .fa-link {
    height: 40px;
	width:40px;
	line-height:40px;
    display: inline-block;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -20px -20px 0 0;
	color:#fff;
	text-align:center;
	font-size:28px;
}
/*WorkProcess*/
.WorkProcess { text-align:center; padding:60px 0 40px;}
.WorkProcess .box { text-align:center; padding:0 20px 20px;}
.WorkProcess .box em {
	font-size: 30px;
	color: #fff;
	margin: 0 0 20px 0;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
}
.WorkProcess .box h4 {
    padding: 0 0 20px 0;
	color:#fff;
}
.WorkProcess h6 { color:#fff; padding:10px 0 30px;}
.WorkProcess .box p {
	color:#fff;
}


/*Accordion-style*/
.accordion-style { border-bottom:1px solid #ddd;}
.accordion-style .panel.panel-default {
    margin: 0 !important;
    border-radius: 0;
}

.accordion-style .panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-top: 1px solid #ddd;
	padding:0;
    border-radius: 0;
}

.accordion-style .panel-title { position:relative;}
.accordion-style .panel-title a {
    display: block;
    padding: 10px 0px 10px 30px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.accordion-style .panel-title em {
    vertical-align: middle;
    color: #FFF;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 8px;
    margin: 0px 0px 0px 10px;
}
.accordion-style .panel-body {
    border: none!important;
    padding: 0 55px 20px 0px;
}
.accordion-style .panel-title a.accordion-toggle:after {
  content: "-";
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  font-size: 25px;
  width: 45px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  color: #555;
  top: 0;
  font-weight: normal;
}

.accordion-style .panel-title a.accordion-toggle.collapsed:after {
    content: "+";
    display: inline-block;
    vertical-align: middle;
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    font-size: 18px;
    width: 45px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: #555;
    top: 0;
	font-weight: normal;
}


/*Home-Accordion*/
.home-accordion {
    border-radius: 2px;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
}
.home-accordion .panel-default > .panel-heading {
	color: #333333;
	background:none;
	padding:0;
	border-radius:0;
	background:#eee;
}
.home-accordion .panel-title a {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    padding: 13px 20px 13px 10px;
    line-height: 1.3;
}
.home-accordion  .panel { margin:0 0 8px 0!important;}
.home-accordion .panel-title a.collapsed { 	color: #333;background-color: transparent;}

.home-accordion .panel-title a.collapsed:hover { background:#f6f6f6;}
.panel-group .panel + .panel {
	margin-top: 5px;
	border: none;
}
.panel-group .panel-body img { padding:0 0 0 20px; max-width:130px;}
.panel-group .panel {
	border:none!important;
	box-shadow:none;
	border-radius: 0;
}
.page-faq .panel-default > .panel-heading {
    border: 1px solid #e5e5e5;
    background: none;
}
.page-faq .panel-title > a {
    display: block;
	font-weight:normal;
	color:#7C7C7C;
}
.page-faq .panel-title > a:hover { color:#1293d4;}
.home-accordion .panel-title a em {
	font-size: 20px;
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
	margin:0 0 0 5px;
}

.home-accordion .panel-body { border:1px solid #eee; border-top:none!important;}
.page-faq .panel-default > .panel-heading + .panel-collapse .panel-body { border:none;}
.home-accordion .accordion-toggle .accordion-icon:before { content:"\f146";}
.home-accordion .collapsed .accordion-icon:before { content:"\f0fe";}
.home-accordion .in .accordion-icon:before  { content: "\f146";}

.ui-icon-triangle-1-e:before { content:"\f146";}
.ui-icon-triangle-1-s:before { content:"\f0fe";}
.home-accordion .panel-title {
    position: relative;
	overflow:hidden;
}
.home-accordion .panel-title a.accordion-toggle:after {
  content: "\f068";
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  font-size: 14px;
  width: 45px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  top: 0;
 /* border-right: 1px solid rgba(255,255,255,0.3);*/
}
.home-accordion .panel-title a.accordion-toggle.collapsed:after {
	content: "\f067";
	display: inline-block;
	vertical-align:middle;
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	font-size: 14px;
	width: 45px;
	height:48px;
	text-align: center;
	line-height: 45px;
	color:#555;
	top:0;
}

/*WhoWeAre*/

.WhoWeAre h4 { padding:20px 0 10px 0; color:#000; font-weight:bold;}
.WhoWeAre img { width:100%;}
/*our-blog*/
.our-blog {
  padding: 20px 0 0px;
}
.our-blog .box{ border:1px solid #eee; border-radius:0 0 5px 5px; overflow:hidden;  margin: 0 0 20px 0;}
.our-blog img { width:100%;}

.our-blog .avator {
  text-align: left;
  position: absolute;
  left: 20px;
}
.our-blog .avator img {
  border: 3px solid #FFF;
  border-radius: 50%;
  width: 70px;
  margin: -35px 0px 0px;
}
.our-blog .details { padding:0 25px 30px 25px; position:relative;}
.author-date {
  color: #aaa;
  padding: 15px 0 5px;
  /*font-family: open sans;*/
  font-size: 12px;
}
.author-date em { line-height:30px; vertical-align: baseline; margin:0 0 0 5px; }
.author-date .author { margin:0 0 0 20px;}
.our-blog .details h5 { color:#333; padding:0 0 10px 0;}
.our-blog .details h5 a { color:#333;}
.our-blog .details h5 a:hover { color:#1293d4;}
.our-blog .details p { color:#888;}

.our-blog .box .img { position:relative;}
.our-blog .box .mask {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
	background:#1293d4;
	transition: all 0.7s ease 0s;
}
.our-blog .box:hover .mask { 
	display:block;    
	opacity: 0.7;
}
.our-blog .box .mask em {
    position: absolute;
    z-index: 9;
    top: 50%;
    margin: -25px -25px 0px 0px;
    right: 50%;
    display: inline-block;
}
.our-blog .plus-large {
    background: transparent url("../images/plus-large.png") no-repeat scroll 0% 0%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
/*home-about*/

.home-about-us h3 {
  text-transform: uppercase;
  padding: 15px 0 5px 0;
  position: relative;
  margin:0 0 10px 0;
  font-weight:700;
}

.home-about-us h3:after {
  height: 1px;
  width: 60px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-about-us h3 em { font-weight:200; font-style:normal;}
.home-about.service { padding:0 0 50px 0;}
.home-about-us .button a {
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
}
.home-about-us .button a:hover { opacity:0.8;}
.home-about-us .button a:after {
  content: "+";
  margin: 0 10px 0 0;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.home-about-us p {
    padding: 10px 0;
    color: #666;
}

.TitleBar h2 { text-transform: capitalize; text-align:center; font-weight:400; color:#333;}
.TitleBar h6 {
  font-weight: 300;
  padding: 10px 0 30px;
  text-align: center;
  text-transform: capitalize;
  position:relative;
  margin:0 0 20px 0;
}
.TitleBar h6:after {
  position: absolute;
  width: 50px;
  height: 2px;
  background: #555;
  right: 0;
  left: 0;
  content: "";
  bottom: 0;
  margin: 0 auto;
}
.home-about { margin:0 0 20px 0;}
.home-about .featured-pro {
  margin: 0 0 20px 0;
   border-bottom:2px solid transparent;
   text-align:center;
   background:#fff;
}
.home-about .featured-pro:hover img { opacity:0.9;}
.home-about .featured-pro .box {
  padding: 10px 30px 30px;
  border: 1px solid #eee; 
  border-top: none;
}

.home-about h5 {
    color: #333;
    text-transform: capitalize;
    padding: 35px 0px 5px;
    font-weight: 600;
}
.home-about h6 { font-weight:300;}
.home-about ul li { margin:0; padding:0; list-style:none;border-bottom:1px solid #eee; padding:7px 0;}
.home-about ul li a { color:#555; padding:0 10px 0 0;}

.home-about p {
    padding: 10px 0px 20px;
    color: #999;
}
.home-about .featured-pro a {
    font-weight: 500;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 4px;
    color: #555;
}

.home-about .featured-pro a:after {
  content: "\f100";
  font-family: fontawesome;
  margin:0 0 0 5px;
}

.featured-pro img { width: 100%; }
.home-about .featured-pro .img { position:relative;}
.home-about .featured-pro .overlay {
  position: absolute;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 3px solid #fff;
  right: 50%;
  margin: 0 -30px 0 0;
  bottom: -30px;
  line-height: 52px;
}
.home-about .featured-pro .overlay em { color:#fff; font-size:24px; display:inline-block; vertical-align:middle;}
/*home-offer*/
.home-offer { margin:0 0 40px 0;}
.home-offer .featured-pro {
    margin: 0px 0px 20px;
	overflow:hidden;
}
.home-offer .featured-pro .img {    
    overflow: hidden;
}
.home-offer .featured-pro img { 
	width: 100%;	
	-moz-transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	transition:all 0.7s ease 0s;
}


.home-offer .featured-pro:hover img { 
	opacity:0.9;
   -moz- transform:scale(1.4,1.4);
	-webkit-transform:scale(1.4,1.4);
	-o-transform:scale(1.4,1.4);
	transform:scale(1.4,1.4);
}
.home-offer .featured-pro .box {
  padding: 10px 0px 0px;
    position: relative;
}

.home-offer h5 {
    text-transform: capitalize;
    padding: 15px 0px 5px;
    font-weight: 600;
	color:#333;
}
.home-offer h6 { font-weight:300;}
.home-offer ul li { margin:0; padding:0; list-style:none;border-bottom:1px solid #eee; padding:7px 0;}
.home-offer ul li a { color:#555; padding:0 10px 0 0;}

.home-offer p {
    padding: 10px 0px 20px;
}
.home-offer .featured-pro a {
    position: relative;
    font-weight: 600;
    padding: 10px 20px 8px;
    border: 1px solid #EEE;
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;
}

.home-offer .featured-pro a:before{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -1px;
    bottom: -1px;
    width: 0;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.36, 0.99, 0.69, 1.2) 0s;
    z-index: 1;

}
.home-offer .featured-pro a:hover:before { width:100%; z-index:-1; }
.home-offer .featured-pro a:hover { color:#fff;}

.home-offer .featured-pro a:after {
  content: "\f100";
  font-family: fontawesome;
  margin:0 5px 0 0;
}

.home-offer .featured-pro .overlay {
    background: #FFF none repeat scroll 0% 0%;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #1293D4;
    right: 50%;
    margin: 0px -35px 0px 0px;
    top: -35px;
    line-height: 58px;
	display:none;
}
.home-offer .featured-pro .overlay em { color:#1293d4; font-size:24px; display:inline-block; vertical-align:middle;}

/*page-about*/
.page-about h2 { font-weight:300; }
.page-about p { padding:20px 0;}
.page-about .details em{ font-size:16px; margin:0 5px 0 0;}
.page-about .details { padding:0 0 20px 0;}
.page-about ul { padding:0 ; margin:0; list-style:none;}
.page-about ul li { padding:5px 0 ; margin:0; list-style:none;}
.page-about .check-link {
    display: inline-block;
    border: 1px solid #1293d4;
    padding: 8px 15px;
    color: #555;
}
.page-about .check-link:hover { background:#1293d4; color:#fff;}

/*myteam-top*/
.myteam-top {
    text-align: center;
    padding: 60px 0;
}
.myteam-top h2 {
  color: #eee;
  text-transform: capitalize;
  font-weight: 400;
}

.myteam-top h1 {
    font-weight: 800;
    color: #EEE;
    max-width: 800px;
    margin: 0 auto;
	line-height:1.3;
}

.myteam-top p { margin:20px auto; color:#fff;max-width: 900px;}

.myteam-top .button a { padding: 10px 20px; margin:0 10px 10px;}



/*footer contact  */
.home-contact { color:#aaa;}
.home-contact p{ padding:0 0 10px 0;}

.footer-title {
  color: #fff;
  text-transform: capitalize;
  padding: 0 0 20px 0;
}

.home-contact .social-icon { margin:0 0 40px 0;}
.home-contact .social-icon a {
	color: #DDD;
	font-size: 16px;
	border-radius: 35px;
	display: inline-block;
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin: 0 0 0 10px;
}
.home-contact .social-icon a:hover { color:#1293d4;}
.contact-info { padding:0; margin:0;}
.home-contact .contact-info li {
  line-height: 20px;
  padding: 12px 0;
  clear: both;
  border-top: 1px solid #393939;
}
.home-contact .contact-info em {
  font-size: 20px;
  min-width: 30px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  color: #666;
  line-height:1;
}
.home-contact .contact-info a { color:#aaa;}
.home-contact .contact-info em.fa-envelope-o { font-size:16px;}

/*latest-news*/
.latest-news ul { padding:0; margin:0; list-style:none;}
.latest-news ul li {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;
	min-height: 70px;
}
.latest-news ul li .img {
	max-width: 70px;
	float: right;
	margin: 0 0 0 15px;
}

.latest-news ul li a { color:#aaa; font-size:13px;}

.latest-news ul li span { color:#777;}


/*footer-social*/
.footer-social {
	text-align: left;
	padding: 17px 0 0 0;
}

.footer-social A, .footer-social A:link, .footer-social A:active, .footer-social A:visited {
	color: #555;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
}



/* newsletter*/
.footer-newsletter h6 {
  color: #aaa;
  border-bottom: 1px solid #393939;
  padding: 15px 0;
  margin: 0 0 20px 0;
}
.footer-newsletter .social a {
  color: #555;
  font-size: 24px;
  margin: 0 5px;
}
.footer-newsletter .social a:hover { color:#1293d4;}
.footer-newsletter p {
  padding: 0 0 20px 0;
  color: #aaa;
}

.newsletter { position:relative; max-width:300px;}
.newsletter input {
  border: medium none;
  border-radius: 0;
  background: none repeat scroll 0% 0% #FFF;
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0 10px 0 70px;
  color: #bbb;
  outline: none;
}
.newsletter button {
  position: absolute;
  left: 0px;
  top: 0px;
  border: none;
  background: #1293d4;
  line-height: 35px;
  text-transform: capitalize;
  border-radius: 0;
  color: #FFFFFF;
  padding: 0 12px;
  outline: none;
  height: 35px;
}
.newsletter button:hover { opacity:0.8;}

/*home-other-links*/
ul.home-other-links { margin:0; padding:0; list-style:none;}
.home-other-links li {
  padding: 0 0px 20px 10px;
}
.home-other-links li a { color:#aaa; }
.home-other-links li em {
    margin: 0px 0px 0px 8px;
    font-size: 16px;
}
.fa-round {
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.footer-links {
  text-align: left;
  color: #aaa;
  padding: 20px 0 0 0;
}
.footer-links a,
.footer-links a:link, .footer-links a:active, .footer-links a:visited { display:inline-block; margin:0 10px; color:#aaa;}

/*quick-contact*/
.quick-contact input { border:1px solid #383d40; background:#2a2e30; margin:0 0 10px 0; outline:none; height:40px; padding:0 10px; width:100%;}
.quick-contact textarea  { border:1px solid #383d40; background:#2a2e30; margin:0 0 5px 0; outline:none; min-height:80px; padding:0 5px; width:100%;}
.quick-contact .btn-send {
	color: #fff;
	border: none;
	width: auto;
	min-width: 80px;
	text-align: center;
}
.quick-contact .btn-send:hover { opacity:0.8;}
/*Flickr*/
.Flickr a {
	margin: 0;
	display: block;
	float: right;
}

.Flickr a:hover { opacity:1;}
.Flickr a img { width:70px; border:3px solid transparent;}
.Flickr a img:hover { border:3px solid #ccc;}
/*Testimonials*/
.Testimonials { font-size:13px;}
.Testimonials-top { position:relative; margin:0 0 20px 0;}
.Testimonials-top p {
    background: none repeat scroll 0% 0% #EEE;
    border-radius: 5px;
	padding:20px 20px;
	line-height:2em;
}
.triangle {
	border-width: 8px 8px 0;
	height: 6px;
	border-color: #eee transparent;
	border-style: solid;
	margin: 0;
	display: inline-block;
	right: 50px;
	position: absolute;
	bottom: -8px;
}
.Testimonials-info img {
    width: 70px;
    margin: 0 30px 0 20px;
}
.info-right { padding:15px 0 0 0; font-size:14px; text-transform:capitalize;}
.info-right em { font-size:13px;} 

/*Home tabs*/
.home-blog {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #777;
}

.home-blog li { display:block; clear:both; padding:10px 0; overflow:hidden;}
.home-blog li img { width:60px; border-radius:5px; margin:0 0 0 15px;}
.home-blog li em {
	font-size: 16px;
	margin: 0 0 0 10px;
	display: inline-block;
	vertical-align: middle;
}
.home-blog li h5 { line-height:1.3em;}


/*Mid-icon-box*/
.Mid-icon-box { margin:0 0 30px 0;}
.Mid-icon-box em {
	border-radius: 50%;
	color: #fff;
	width:50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	margin:0 0 0 15px;
}
.Mid-icon-box span { font-size:16px; color:#000; text-transform:capitalize;}
.Mid-icon-box p { margin:0 65px 0 0;}
.home-latestwork .box { border:1px solid #e1e1e1; border-radius:3px;text-align:center;}
.home-latestwork .box h5 a{
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	color: #333;
	display:block;
}
.project-category{
    padding: 7px 0px;
    color: #999;
}
.home-latestwork .box .img { position:relative;}
.project-category em { margin:0 0 0 5px;}
.home-latestwork .box .overlay { 
	opacity:0.6;
	-moz-transition: all 0.7s ease 0s;
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
.home-latestwork .box .overlay a { display:block;  height:100%; }
.home-latestwork .box .overlay em {
	position: absolute;
	z-index: 9999;
	top: 50%;
	margin: -25px -25px 0 0;
	right: 50%;
	display:none;
}
.home-latestwork .box .overlay:hover em { display:block;}
.plus-large {
	background: url(images/plus-large.png) no-repeat;
	width: 50px;
	height: 50px;
	display: inline-block;
}
.home-latestwork .view-all {
    border-radius: 5px;
    padding: 12px 25px;
    display: inline-block;
    margin: 40px 0 20px 0;
    color: #fff;
    font-size: 20px;
    box-shadow: 0px -4px rgba(0, 0, 0, 0.1) inset;
}
.home-latestwork .view-all:hover { background:#333!important;}

/*page-about-icon*/
.page-about-icon{
  margin: 20px 0;
}
.page-about-icon h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
}

.page-about-icon h5 { text-align:center; padding:0 0 40px 0;}
.page-about-icon h4 {
  text-transform: capitalize;
  color: #333;
}

.page-about-icon p {
  padding: 0 55px 20px 0px;
  /*font-family: open sans;*/
}

.page-about-icon .col-sm-4 {
  margin: 10px 0;
}


.page-about-icon h4 em {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 0px 0px 15px;
    font-size: 32px;
    vertical-align: top;
}

/* Contact page*/
.contact-info p { padding:0 0 20px 0;}
.contact-info em {
  vertical-align: middle;
  line-height: 30px;
  font-size: 16px;
  width:30px;
}
.contact-info .box { padding:0 0 10px 0;}
.contact-info .address em { position:absolute; right:0;}
.contact-info .address div { margin:0 35px 0 0;}
.contact-page p.text-center { padding:20px 0 50px 0;}
.contact-section input[type="text"],
.contact-section textarea {
  width: 100%;
  display: inline-block;
  padding: 12px 10px;
  background: #ffffff;
  color: #777;
  font-size: 13px;
  /*font-family: 'Open Sans', sans-serif;*/
  border: 1px solid #cccccc;
  outline: none;
  margin: 0 0 20px;
}

.contact-section input[type="submit"] {
	display: inline-block;
	outline: none;
	padding: 10px 57px;
	font-size: 16px;
	/*font-family: 'Open Sans', sans-serif;*/
	background: transparent;
	font-weight: 300;
	transition: all 0.2s ease-in-out;
	color: #ffffff;
    border-radius: 4px;
}
.contact-section input[type="submit"]:hover {
	opacity:0.8;
}
.contact-section {
  padding:0;
}
.contact-section .info-post {
  overflow: hidden;
  margin-bottom: 30px;
}
.contact-section .info-post span.icon-info {
  display: inline-block;
  float: right;
  width: 60px;
  height: 60px;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #1293d4;
  text-align: center;
}
.contact-section .info-post span.icon-info em {
  font-size: 24px;
  line-height: 56px;
}
.contact-section .info-post p {
  padding-top: 20px;
  color: #333333;
  font-size: 15px;
  font-style: 600;
  margin: 0 80px 0 0;
}
.contact-section .info-post p span {
  color: #1293d4;
}
.contact-section .info-post p a {
  color: #333333;
}

.contact-section .submit-area { text-align:right;}
#submit_contact:hover { color:#fff!important;}

/*service-tabs*/
.service-tabs ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-tabs ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    text-align: center;
    position: relative;
    width: 33.33333%;
}

.service-tabs ul li a {
  padding: 12px 0px;
  display: block;
  color: #000;
  font-size: 14px;
  border-bottom: none;
  transition: none;
  font-weight: bold;
  text-transform: uppercase;
}
.service-tabs ul li.active a:before {
  content: "";
  font-family: fontawesome;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 14px;
}

.service-tabs .tab-content {
    border-top: 1px solid #E5E5E5;
    padding: 30px 0 0 0;
}
.service-tabs .tab-content img { padding:0 0 20px 0; width:100%;}

/*------ Blan Tables ------*/
.plan_col {
  background: #ffffff;
  position: relative;
  font-weight: 600;
  /*font-family: open sans;*/
}
.content_section:not(.white_section):not(.bg_fixed) .plan_col.plan_column1 {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
	padding: 1px;
	border-radius: 4px;
}
.plan_col.plan_column1 {
    margin-top: 50px;
    text-align: center;
}
.plan_col .spec_req2 {
    right: 50%;
    position: absolute;
    top: 0;
	z-index: 1;
    transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.plan_column1 .plan_price_block {
    display: block;
    height: 115px;
    position: absolute;
    top: 0;
    width: 115px;
	overflow: hidden;
	z-index: 2;
	top: -55px;
}
.plan_column1 .plan_price_block .plan_price_in {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.plan_column1 .plan_price_block .plan_price_in .price {
    color: #1ccdca;
    display: block;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 32px;
}
.plan_column1 .plan_price_block .plan_price_in .price small {
    color: #1ccdca;
    font-size: 59%;
    font-weight: 300;
    margin-left: 5px;
}
.plan_column1 .plan_price_block .plan_price_in .plan_per {
	color: #1ccdca;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.plan_col.plan_column1 > h6{
	position: relative;
    border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
    padding-bottom: 20px;
    padding-top: 35px;
	margin: -1px;
}
.plan_col .polygon_con {
	max-height: 115px;
    max-width: 115px;
    display: block;
    right: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.plan_col .polygon_con .polygon_fill {
    fill: #fff;
	stroke: #1CCDCA;
}
.plan_col.active_plan .polygon_con .polygon_fill, .plan_col:hover .polygon_con .polygon_fill {
    fill: #fff;
	stroke: #1CCDCA;
}
.plan_col .polygon_con svg {
    height: 100%;
    width: 100%;
}
.plan_col.plan_column1 > h6 .plan_price_name {
    /*font-family: "Oswald","Open Sans",sans-serif;*/
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.plan_col.plan_column1 li {
    border-bottom: 1px solid #F1EFF0;
    padding: 13px 0px;
	color: #878787;
}
.plan_col.plan_column1 li:first-child {
    border-top: 1px solid #f1eff0;
}
.plan_col.plan_column1 .plan_price_btn {
    background: #fff;
    border: 2px solid #ECE8E7;
    display: inline-block;
    font-size: 14px;
    margin: 30px 0;
    padding: 10px 18px;
    color: #999;
    font-style: italic;
}
.plan_col.plan_column1 .plan_price_btn:hover{
	background: #576162;
	border-color: #576162;
	color: #fff;
}
.plan_price_btn i {
    margin-left: 10px;
}
.plan_col li i {
    margin-left: 10px;
}
.plan_col li i.check_icon {
    color: #92C135;
}
.plan_col li i.wrong_icon {
    color: #1293d4;
}
.plan_col.plan_column1:hover  > h6, .plan_col.plan_column1.active_plan > h6{
    color: #fff;
}
.plan_col.plan_column1:hover > h6:after{
	opacity: 1;
}
.plan_price_in { display:block; font-size:24px; font-weight:600;}
.plan_col ul { padding:0; margin:0; list-style:none;}
.hm-pricing-list { text-align:center;}
.hm-pricing-list .box { border:1px solid #eee; border-radius: 4px; overflow:hidden;}
.hm-pricing-header h2 {
  padding: 0 0 30px 0;
  font-weight: 600;
}

.hm-currency { font-size:24px;}
.hm-duration { font-size:18px;}
.hm-value { font-size:60px;}
.hm-pricing-body em { font-style:normal;}
.hm-pricing-features { margin:0; padding:0; list-style:none;}
.hm-pricing-features li:nth-of-type(2n+1) {
	background: rgba(23, 61, 80, 0.06);
}
.hm-pricing-features li { padding:15px 0;}
.hm-pricing-body{
  font-weight: 600;
  f/*ont-family:open sans;*/
}
.hm-pricing-list header {  padding:20px 0;}
.hm-pricing-footer { background:#555;}
.hm-pricing-footer .hm-select {
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}
.price-table .col-md-4 {
  width: 33.33333333%;
  float:right;
}
/*pricing table*/
.pricing-table {
    margin: 0 0 50px;
    text-align: center;
}
.pricing-table .price-item {
    border: 1px solid #E5E1E1;
}
.pricing-table .price-item {
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	margin:25px 0;
}
.pricing-table .header { background:#1293d4;}

.pricing-table .header h2 {
    background: none repeat scroll 0 0 #1293d4;
    color: #FFFFFF;
    margin: 0;
    padding: 0.8em 0;
}
.pricing-table .price h2 {
    border-bottom: 1px solid #E5E1E1;
}
.post-content ul, #woocommerce-container .summary ul, #woocommerce-container .tab-content ul {
    list-style-position: inside;
    margin-bottom: 10px;
}
.pricing-table ul { padding:0; margin:0;}
.pricing-table ul li {
    border-bottom: 1px solid #E5E1E1;
}
.pricing-table ul li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-right-colors: none;
    -moz-border-left-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-style: none none solid;
    border-width: 0 0 1px;
    list-style-type: none;
    margin: 15px 10px;
    padding-bottom: 10px;
}

.pricing-table .price-item.featured .header h2 { padding: 30px 0;}
.pricing-table .price-item.featured p { margin:25px 0 15px;}
.pricing-table .price-item.featured {
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
	 transition: all 0.2s linear 0s;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.6);
	margin:0;
}
.pricing-table A, 
.pricing-table A:link, 
.pricing-table A:active, 
.pricing-table A:visited
{
	color:#FFFFFF;
}
.pricing-table .price-item.featured .button, #submit { padding:10px 35px;}
.box .icon {
	position: relative;
	margin-bottom: 20px;
	float: right;
}
.box .icon em {
	font-size: 32px;
	line-height: 53px;
	text-align: center;
	display: inline-block;
	width: 56px;
	border: 2px solid;
	border-radius: 100%;
	height: 56px;
}
.box.listed-left .box-text {
    margin-right: 90px;
}
.box.listed-left {
    text-align: right;
    margin: 0 0 30px 0;
}
/*page service*/
.page-service .box {
  border-radius: 5px;
  text-align: center;
  padding: 20px;
    -moz-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.page-service .box h4 { padding:0 0 20px 0;}
.page-service .box p { color:#999;}
.page-service .box em {
  font-size: 24px;
  color: #fff;
  margin: 0 0 20px 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.page-service h5{
  color: #333;
  font-weight: 600;
  padding:0 0 5px 0;
}
.page-service .details {
  padding: 20px 25px;
  background-color: #f8f8f8;
}
.page-service .button-medium:hover { color:#fff;}
/*Our Product*/
.our-product { font-size:14px; padding:20px 0; line-height:2em; }
.our-product .left-img { width:50%; float:right; vertical-align:middle;}
.our-product img {
	margin: 0 0 15px 0;
	padding: 0 0 0 20px;
}

.our-product .features { float:right; width:48%; color:#fff;}
.our-product .features p{text-align:right; margin:0 0 15px 0;}
.our-product .features a {
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 25px;
    padding: 15px 25px;
	color:#FFFFFF;
	margin:20px 20px 0 0;
}
.our-product .features a:hover { background:#333!important; text-decoration:none;}
.our-product .features ul li {
    line-height: 2em;
    padding: 0;
}
.Container015 .dnntitle em { font-style:normal; color:#fff;}
.our-product .features h2 em { margin:0 0 0 10px;}
.our-product .features h2 { font-size:28px;}
.our-product .features ul { list-style:none; padding:0;}
.choose-us .features ul li {
    line-height: 3em;
    list-style: none;
    margin: 0;
    padding: 0px;
}
.choose-us { padding:50px 0 30px 0;}
.choose-us .features ul { padding:0; margin:0; list-style:none;}
.choose-us .features { float:left; padding:0 20px 0 0; width:50%;}
.choose-us .left-img { width:50%; float:right; vertical-align:middle; padding:20px 0;}
.choose-us .features h2 { font-weight:200;}
.choose-us .features em { font-size:24px; padding:0 0 0 5px; vertical-align:middle ;}
.choose-us .features p { padding:10px 0 20px 0;}
.choose-us .Purchase-Now a {
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px 0 0 0;
    display: inline-block;
}
.choose-us .Purchase-Now a:hover { background:#555!important;}
/* page-about-us*/
.page-about-us .stat2 { padding:0 0 20px 0;}
.page-about-us .stat2 .subtitle { padding:0 12%;}
.page-about-us .stat2{ color:#333;}
.page-about-us .text-center img {  max-width:100%;}
.page-about-us .member { color:#fff; text-align:center; margin:20px 0;}
.page-about-us .member h4 { color:#fff; padding:10px 0 0 0;}
.page-about-us .member .social { padding:10px 0 0 0;}
.page-about-us .member .social a {
    color: #FFF;
    border: 1px solid #FFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.page-about-us .member .social a:hover { color:#000; background:#fff;}
.inner-banner-bg {
	background-image: url(images/zf0047-inner-banner.jpg);
	min-height: 300px;
	width: 100%;
	background-size: cover;
	background-attachment:scroll;
	background-position:0 100%;
	background-repeat:no-repeat;
}
/*Meet the team*/
.meet-team .left-img { float:right; margin:0 0 0 20px;}
.meet-team .left-img img {
    width: 130px;
	border-radius: 50%;
}
.left-img a { border-radius: 50%;border: 8px solid #eee!important; display:inline-block; overflow:hidden;  max-width:140px;}
.team-content .icons a {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #FFF;
    font-size: 18px;
}
.team-content .icons a:hover { background:#444!important;}
.team-content .icons {
	margin: 10px 0px;
}
.meet-team p { padding:0px 0 20px 0; font-size:14px; line-height:1.8;}
.team-content span { color:#aaa;}
ul.looping { margin:0; padding:0 0 0 10px;}
ul.looping li {
    overflow: hidden;
    margin: 30px 0px;
}
.looping .article_content { padding:15px 0 0 0;}
.post_media {
	float: right;
	max-width: 34%;
	margin-left: 15px;
}
.post_media img{
	border-radius: 50%;
	border: 10px solid #e6e6e6;
	width:180px;
}
.looping h4 {
    /*font-family: open sans;*/
    font-weight: normal;
}
.looping .social_icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 50%;
    font-size: 16px;
}
.looping .social_icons a:hover { background:#333; color:#fff!important; border:1px solid #333!important;}
.looping p.description { padding:10px 0;}
.page-team h1 {
	font-size: 60px;
	font-weight: normal;
	padding: 40px 0 0 0;
	line-height: 1em;
	color: #333;
}
.page-team h4 {
    font-weight: normal;
    padding: 10px 0;
    color: #000;
}
.page-service-top { padding:20px 0;}
.testimonial-slider { padding:60px 0 40px ; text-align:center;}
.testimonial-slider h2 {
	color: #fff;
	text-transform: capitalize;
	position: relative;
	padding: 0 0 10px 0;
	font-weight:600;
}

.testimonial-slider h2:after {
	content: "";
	width: 80px;
	height: 3px;
	position: absolute;
	right: 50%;
	bottom: 0;
	margin: 0 -40PX 0 0;
}

.quote { text-align:center;}
.quote em {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 75px;
    font-size: 30px;
    color: #fff;
}
.Testimonial { color:#fff; font-size:18px; text-align:center; line-height:1.8; overflow:hidden;}
.quote-name{
	margin:10px 0px 10px 0;
	padding:0 15px;
}
.quote-name span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
	/*font-family:open sans;*/
	font-weight:bold;
}
.quote-name em {
    font-size: 11px;
    line-height: 1;
    display: inline-block;
	font-style:normal;
}
.Testimonial .figure a {
	display: inline-block;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
}
.Testimonial .figure a img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	margin: 10px 0 0 0px;
	display: inline-block;
}

.Testimonial .figure {
    padding: 20px 0 0 0;
    font-weight: 300;
}

.Testimonial .figure p {
    margin: 0 auto 10px;
    font-style: italic;
    line-height: 1.5;
	max-width:870px;
}

/*---pane-layout---*/
.pane-layout-style .col-sm-3 span,
.pane-layout-style .col-sm-4 span,
.pane-layout-style .col-sm-5 span,
.pane-layout-style .col-sm-6 span,
.pane-layout-style .col-sm-7 span,
.pane-layout-style .col-sm-8 span,
.pane-layout-style .col-sm-9 span,
.pane-layout-style .col-sm-10 span,
.pane-layout-style .col-sm-11 span,
.pane-layout-style .col-sm-12 span,
.pane-layout-style .FullContent span { background:#ccc; height:60px; display:block; margin:10px 0; padding:20px 0 0 0;}
.ZF0047-Tabs-Home ul li.item1.ui-tabs-selected a { border-radius: 5px 0 0 5px;}

/*about-works*/
.about-works .myworks .entry-content ul li { padding:0; margin:0;}
/*progressbar*/
.progressbar {
	background: #eee;
	height: 32px;
	position: relative;
	margin: 0 0 20px 0;
}
.progress-item { height:30px;}
.skill-item {
	position: absolute;
	top: 0;
	color: #fff;
	right: 10px;
	left: 10px;
	line-height: 30px;
}
.progress-main p {
	margin: 0 0 20px 0;
	-webkit-font-smoothing:antialiased
}
.skill-item h6 { line-height:30px;}
.skill-item span { color:#888;}
@-webkit-keyframes progressbar {
   0% { width: 0; }
}
@-moz-keyframes progressbar {
   0% { width: 0; }
}
keyframes progressbar {
   0% { width: 0; }
}

.progressbar > div { 
  -webkit-animation: progressbar 2s;
  -moz-animation: progressbar 2s;
  animation: progressbar 2s;
}

/*404 Page*/
.Page404 { text-align:center;}
.Page404 h1 {
    font-size: 200px;
    line-height: 250px;
	font-weight:600;
}
.Page404 .text { font-size:16px; line-height:2em;}
.Page404 .icon-cafe {
    font-size: 80px;
    line-height: 110px;
}
.coffee em{ font-size:80px;}


/*shop*/
.list-pro {  padding:0; list-style:none;    
	margin: -10px 0 0 0;
}
.best-pro {
    margin:0;
	padding: 0px;
    list-style: outside none none;
}
.best-pro li {
  display: inline-block;
  width: 100%;
  padding: 0 0 20px 0;
}

.best-pro .image {
	width: 75px;
	float: right;
	background: #f0f2f3;
}


.best-pro .details { margin:0 85px 0 0;}
.best-pro .details h6 { padding:0 0 10px 0;}
.best-pro .details h6 a { color:#333; font-size:13px;}
.best-pro .details h6 a:hover { color:#1293d4;}
.best-pro .price-new {
  color: #ed4c4c;
  font-size: 14px;
  font-style: normal;
  /*font-family: open sans;*/
}

.best-pro .price-old { color:#aaa; font-style:normal;text-decoration: line-through;}

.list-pro li {
  border-bottom: 1px solid #eee;
  padding: 10px 15px 10px 10px;
}
.list-pro li.last { border:none;}
.list-pro li a{
  color:#333;
  display:block;
}
.list-pro li a:hover{
  color:#1293d4;
}
.list-pro li a em { margin:0 0 0 10px; color:#1293d4;}
.product-list { position:relative;}
.product-list .box { text-align:center;}
.product-list .box h6 a{ color:#333;}
.product-list .box h6 a:hover{ color:#1293d4;}
.product-list .rating { color:#FFCC00;}
.product-list .rating em { margin:0 2px;}
.product-list .price { color:#ed4c4c; font-size:20px; padding:15px 0;}
.product-list .cart a {
    background: #f0f2f3;
    color: #adaeaf;
    display: inline-block;
    margin: 2px 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}
.product-list .cart a:hover { background:#1293d4; color:#fff;}
.more-link  {
  position: absolute;
  left: 0;
  top: -50px;
}
.product-list .more-link a:after { content: "\f101"; font-family:fontawesome; margin:0 5px 0 0;}



/*---------Responsive Layout--------------*/

@media handheld, only screen and (max-width:1680px) {
.home-banner .image {
	min-height: 600px;
}
}
@media handheld, only screen and (max-width:1440px) {
.home-banner .image {
	min-height: 500px;
}
}

@media handheld, only screen and (max-width:1280px) {
.home-banner .image {
	min-height: 450px;
}
.home-banner .box h1 {
  font-size: 45px;
}


}
@media handheld, only screen and (max-width:1100px) {
.welcome-text h2 { font-size:24px;}
.home-welcome .text {
    padding: 0px 0 0 0;
}
}
@media handheld, only screen and (max-width:1024px) {

.AppBox .features {
  margin: 25% 0 0 0;
}
.our-product .features h2 { font-size:24px;}
.home-banner .image {
	min-height: 400px;
}


.home-banner h2 { font-size:36px;}
.home-banner .box h1 {
  font-size: 40px;
}



}
@media handheld, only screen and (max-width:960px) {

.AppBox {
  padding: 0 0 20px 0;
}
.AppBox .pull-right, .AppBox .pull-left {
  margin: 0 0 15% 0;
}
.myteam-top p {
  width: auto;
}
}
@media handheld, only screen and (max-width:960px) {
.TopInfo {
    margin: 10px 0px 20px;
	text-align:center;
}
.home-team .mask .social { display:none;}
.home-team .mask p { line-height:1.5;}

}

@media handheld, only screen and (max-width:900px) {
.quote-link, .quote-link:link, .quote-link:active, .quote-link:visited {
  padding: 10px 20px;
  font-size: 14px;
}
.inner-banner-bg { min-height:200px;}


.AppBox .features {
  margin: 10% 0 0 0;
}


.home-banner .box h1 {
  font-size: 30px;
}
.OurMission p { width:90%;}



}


@media handheld, only screen and (max-width:800px) {
.home-top-icon .top-text { width:auto;}
.home-team .col-sm-3 { width:50%; float:right;}
.home-team .mask .social { display:block;}
.home-team .mask p { line-height: inherit;}
.welcome-text h2 {
  font-size: 22px;
}
.AppBox p { font-size:12px;}
.AppBox .pull-right, .AppBox .pull-left {
  margin: 0 0 20px 0;
}
.footer-logo li { padding:0;}
.home-welcome .text {
    padding: 0;
}
}
@media handheld, only screen and (max-width:768px) {
.home-contact .social-icon a {
	font-size: 12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.home-contact .contact-info em {
	display: none;
}
.home-main-top .col-sm-4 img{ max-height:145px;}
}
@media handheld, only screen and (max-width:767px) {

.price-table .col-md-4 {
  width: auto;
  float: none;
}
.home-top-icon {
	padding: 20px 0;
}
.none767 { display:none;}
.home-main-top .col-sm-4 img{ max-height: none;}
.home-top-icon .row .col-sm-4 { width:auto;}
.home-contact .contact-info em {
	display: inherit;
}

.home-contact .contact-info li {
	vertical-align: top;
}


.contact-section {
  padding: 20px 0px 70px;
}
.page-team.text-right { text-align:right;}
.our-product .left-img {
	width: auto;
	float: none;
	vertical-align: middle;
	text-align: center;
}
.our-product .features {
	float: none;
	width: 100%;
	padding: 0 20px;
}
.home-banner .image { min-height:250px;}
.home-banner .txt-content {
	padding: 0 40px;
}
.home-banner .txt-content a {
	padding: 5px 15px;
}
.home-banner h2 {
	font-size: 30px;
}
.home-banner p {
  font-size: 12px;
}
.home-banner .box h1 {
  font-size: 24px;
}
.choose-us .features { float:none; width:auto; padding:0;}
.choose-us .left-img { float:none; width:80%; text-align:center; margin:0 auto;}
.Flickr a {
	float: none;
	display:inline-block;
}
.Testimonial { font-size:14px;}
.Testimonial .figure p {
	width: auto;
}
.quote.fa {
	width: 50px;
	height: 50px;
	line-height: 55px;
}
.Testimonial .figure a {
	width: 100px;
	height: 100px;
}
.Testimonial .figure a img {
	width: 88px;
	height: 88px;
	margin: 5px 0 0 0px;
}

.page-about-us .stat2 .subtitle {
    padding: 0px;
}
.welcome-text { display:none;}
.home-top-box {
  margin: 0;
}


.home-about .featured-pro {
  margin: 0 auto 20px auto;
}
.AppBox em {
  width: 60px;
  height: 60px;
  line-height: 56px;
  font-size: 16px;
}
.AppBox .pull-right, .AppBox .pull-left {
  margin: 0 0 40px 0;
  float: none !important;
}
.AppBox .pull-left .text,
.AppBox .pull-right .text {
  text-align: right;
  margin: 0px 80px 0 0;
  padding: 5px 0 0 0;
}
.AppBox .features {
  margin: 10px auto 0;
}
.AppBox .pull-left em {
  margin: 0;
  right: 0px;
}
.app-img {
  display: none;
}

.myteam-top .button a {
  padding: 8px 15px;
  font-size: 12px;
}
.footer-links {
  text-align: center;
  padding: 0;
}
.top-contact { display:none;}

.product-list .col-sm-3 { width:50%; float:right;}
.TopInfo {
  display: none;
}
.ParallaxText p {
  width: auto;
  font-size: 12px;
}
.team-text {
  width: auto;
}
.home-welcome .text {
    width: auto;
    float: none;
	padding:20px 0 0 0;
}
.home-welcome .image {
    width: auto;
    float: none;
	padding:0;
}
.testimonial-slider {
	padding: 40px 0 20px;
}
.page-about-icon .col-sm-4 {
	margin: 15px 0 25px;
}
.footer-social {
	text-align: center;
	padding: 0;
}
.home-banner .txt-content { top:25%;}
.TopSocial {
    display: none;
}

}
@media handheld, only screen and (max-width:640px) {


.home-banner .box h1 {
  font-size: 20px;
}
.home-banner p {
  font-size: 12px;
  line-height: 1.2;
  font-size: 11px;
}
.home-banner .txt-content a {
	padding: 2px 10px;
	font-size: 11px;
}
.our-blog .details p {
    font-size: 12px;
}

}
@media handheld, only screen and (max-width:600px) {
.social { display:none;}
.top-social {
	text-align: center;
}
.home-banner h2 {
	font-size: 24px;
}

}
@media handheld, only screen and (max-width:520px) {
.home-top-icon .box {
	padding: 10px 0;
}
.home-banner h2 {
	font-size: 20px;
}
 

}
@media handheld, only screen and (max-width:480px) {
.page-team h1 {
	font-size: 30px;
}
.home-team .col-sm-3 { width:auto; float:none;}
.home-top-box .box {
  width: auto;
  float: none;
  margin: 0 0 20px 0;
}


.home-about {
    padding: 0;
}
.product-list .col-sm-3 { width:auto; float:none;}
.ParallaxText h1 {
    font-size: 20px;
}
figcaption.mask { padding:10px 0;}
}
@media handheld, only screen and (max-width:400px) {


.home-top-icon .box .icon { float:right;}
.box .icon {
	float: none;
	text-align: center;
}
.box.listed-left .box-text {
	margin-right: 0;
	text-align: center;
}
.service-tabs ul li a {
  font-size: 12px;
}
.home-banner .box h1 {
    font-size: 14px;
    white-space: nowrap;
}
}
@media handheld, only screen and (max-width:375px) {
.home-banner .image {
    min-height: 200px;
}
.home-banner .txt-content a {
    padding: 0px 8px;
    font-size: 10px;
}
.home-banner .txt-content a.contact-us { display:none;}

.home-banner h2 {
    font-size: 16px;
	white-space:nowrap;
}
.home-banner p {
    font-size: 10px;
}
.ParallaxText h1 {
    color: #FFF;
    font-size: 18px;
}
}
@media handheld, only screen and (max-width:360px) {

.home-banner h2 {
    font-size: 14px;
}
.home-banner p {
    font-size: 10px;
}
.home-other-links li { min-width: inherit; width:auto;}
.service-tabs ul li a {
  padding: 12px 10px;
}
figcaption.mask span {
    font-size: 10px;
}
figcaption.mask h5 {
    font-size: 12px;
}


}
@media handheld, only screen and (max-width:350px) {
.service-tabs .tab-pane img {
  width: 100%;
  max-width: none;
  padding: 0 0 10px 0;
}
}
@media handheld, only screen and (max-width:300px) {

.home-banner .txt-content {
    top: 15%;
}
.home-banner p {
    padding: 5px 0px 10px;
}

}

@media handheld, only screen and (max-width:239px) {
.home-banner .txt-content{
    display: none;
}
}




