[
    {
        "Id": "SendMail",
        "Title": { "default": "Send email" },
        "TypeStr": "DnnSharp.Common.Actions.Communications.SendEmail, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Email",
            "Bulk": "False"
        },

        "Parameters": [
			{
			    "Id": "From",
			    "Title": { "default": "From" },
			    "HelpText": { "default": "Leave empty to use the system default. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."},
			    "Type": "Text"
			},

			{
			    "Id": "To",
			    "Title": { "default": "To" },
			    "HelpText": { "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."},
			    "Type": "Text"
			},
			
			{
			    "Id": "DetermineEmail",
			    "Title": { "default": "Determine Email Automatically" },
			    "HelpText": { "default": "If <em>To</em> field above is empty, Action Form will determine email based on currently logged in user."},
			    "Type": "Boolean"
			},
		
			{
			    "Id": "ToAllUsers",
			    "Title": { "default": "Send mail to all users." },
			    "HelpText": { "default": "Send mail to all users from the context." },
			    "Type": "Boolean"
			},

			{
			    "Id": "ReplyTo",
			    "Title": { "default": "Reply To" },
			    "HelpText": { "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "Text"
			},
			
			{
			    "Id": "Cc",
			    "Title": { "default": "CC" },
			    "HelpText": { "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "Text"
			},
			
			{
			    "Id": "Bcc",
			    "Title": { "default": "BCC" },
			    "HelpText": { "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "Text"
			},
			
			{
			    "Id": "DnnEmailTemplate",
			    "Title": { "default": "DNN email template to use." },
			    "HelpText": { "default": "Get subject and content of email from template." },
			    "Type": "Select",
			    "Settings": {
			        "DataSource": "DnnEmailTemplatesSource"
			    }
			},
			
			{
			    "Id": "Subject",
			    "Title": { "default": "Subject." },
			    "HelpText": { "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "Text"
			},
				
			{
			    "Id": "Format",
			    "Title": { "default": "Format." },
			    "HelpText": { "default": "Email format." },
				"Type": "Text"
			},
			
			{
			    "Id": "Body",
			    "Title": { "default": "Body." },
			    "HelpText": { "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "RichText"
			},
			
			{
			    "Id": "Headers",
			    "Title": { "default": "Headers" },
			    "HelpText": { "default": "Append custom headers to the email. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
			    "Type": "NameValueCollection",
			    "Settings": {
			        "NameColumn": "Name",
			        "ValueColumn": "Value",
			        "ButtonName": "Add Header"
				}
			},
			
			{
			    "Id": "PortalFiles",
			    "Title": { "default": "Attach Portal Files" },
			    "Type": "FilePicker"
			},
			
			{
			    "Id": "FileField1",
			    "Title": { "default": "Attach Field #1" },
			    "HelpText": { "default": "Select an upload field to send as attachment" },
			    "Type": "FieldSelect",
			    "Settings": {
			        "FieldType": "upload.single"
				}
			},
			
			{
			    "Id": "FileField2",
			    "Title": { "default": "Attach Field #2" },
			    "HelpText": { "default": "Select an upload field to send as attachment" },
			    "Type": "FieldSelect",
			    "Settings": {
			        "FieldType": "upload.single"
				}
			},
			
			{
			    "Id": "FileField3",
			    "Title": { "default": "Attach Field #3" },
			    "HelpText": { "default": "Select an upload field to send as attachment" },
			    "Type": "FieldSelect",
			    "Settings": {
			        "FieldType": "upload.single"
				}
			},
			
			{
			    "Id": "FileField4",
			    "Title": { "default": "Attach Field #4" },
			    "HelpText": { "default": "Select an upload field to send as attachment" },
			    "Type": "FieldSelect",
			    "Settings": {
			        "FieldType": "upload.single"
				}
			},
			
			{
			    "Id": "FileField5",
			    "Title": { "default": "Attach Field #5" },
			    "HelpText": { "default": "Select an upload field to send as attachment" },
			    "Type": "FieldSelect",
			    "Settings": {
			        "FieldType": "upload.single"
				}
			},
			
			{
			    "Id": "FileToken1",
			    "Title": { "default": "Attach from Token" },
			    "HelpText": { "default": "This lets you compute file path from token. It must be relative to portal home folder.
             					       Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.
             					       Multiple items must be separated by semicolons." },
			    "Type": "Text"
			}
			
        ]
    }
]