[
	{
		"Id": "ChangeUser",
		"Title": { "default": "Change User" },
		"TypeStr": "DnnSharp.Common.Actions.Context.ChangeUser, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Context"
		},

		"Parameters": [
			{
				"Id": "Id",
				"Title": { "default": "User Identifier" },
				"HelpText": { "default": "This could be the user ID, username or email.Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>. One common scenario is to use [QueryString:UserId] to read the user from the URL via My Tokens." },
				"Type": "Text"
			}
		]
	},

	{
		"Id": "LoadUsersFromSql",
		"Title": { "default": "Load Users from SQL" },
		"TypeStr": "DnnSharp.Common.Actions.Context.LoadUsersFromSql, DnnSharp.Common.Actions",
		"HelpText": { "default": "A job can run in the context of one or more users.
       				          Related actions such as granting roles or sending emails will be performed for every user loaded in context.
     			                  This letes you load additional users into the context. For example, make a selection of users, then send a tokenzied email to all of them." },
		"Settings": {
			"Group": "Context"
		},

		"Parameters": [
			{
				"Id": "SqlQuery",
				"Title": { "default": "SQL Query" },
				"HelpText": { "default": "SQL to execute. It should return only one column, which is the UserID.
             					          A common query is <em>SELECT UserId from Users Where FirstName LIKE '%John%'</em>.
              				       	          Can contain context tokens (for example [ContextTokenName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
				"Type": "Code"
			}
		]
	}
]