[

    {
        "Id": "CSV",
        "Title": { "default": "Serialize to CSV" },
        "HelpText": { "default": "Serializes a list of entities from the context into CSV (Comma Separated Values) format." },
        "TypeStr": "DnnSharp.Common.Actions.Serialization.Csv, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Serialization",
            "Bulk": "True"
        },

        "Parameters": [
			{
			    "Id": "EntityName",
			    "Title": { "default": "Entity Name" },
			    "HelpText": { "default": "Determines which entities are serialized. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
			    "Type": "Text"
			},
		
			{
			    "Id": "Fields",
			    "Title": { "default": "Fields" },
			    "HelpText": { "default": "Provide a list of fields to serialize." },
			    "Type": "NameValueCollection",
			    "Settings": {
			        "NameColumn": "CSV Name",
			        "ValueColumn": "Value",
			        "ButtonName": "Add Field"
			    }
			},

            {
                "Id": "IncludeAllFields",
                "Title": { "default": "Include All Fields" },
                "HelpText": { "default": "Or, select this option to serialize all fields." },
                "Type": "Boolean"
            },

            {
                "Id": "FieldSeparator",
                "Title": { "default": "Field Separator" },
                "HelpText": { "default": "Use semicolon if you open CSV Files with Excel and your region Format is set to other than English (United States). Left unselected , defaults to comma." },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "comma": { "default": ", i.e. comma" },
                        "semicolon": { "default": "; i.e. semicolon" },
                        "tab": { "default": "tab" }
                    },
			"SupportsExpressions": "true"
                } 
            },
		       
	        {
                "Id": "inlineSeparator",
                "Title": { "default": "Add Inline Separator" },
                "HelpText": { "default": "Inserts 'sep=<separator>' on the first line of Excel to specify '<separator>' as a CSV separator." },
                "Type": "Boolean"
            },

			{
			    "Id": "Criteria",
			    "Title": { "default": "Criteria" },
			    "HelpText": { "default": "Provide criteria to determine which entries are serialized." },
			    "Type": "NameValueCollection",
			    "Settings": {
			        "NameColumn": "Property",
			        "ValueColumn": "Value",
			        "ButtonName": "Add Criteria"
			    }
			},

			{
			    "Id": "Pattern",
			    "Title": { "default": "Pattern" },
			    "HelpText": { "default": "Optionally provide a pattern to use for filenames on the server. For example &quot;[User:Username]-avatar&quot;.
           					         Leave blank to use the original filename.
           					         Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>" },
			    "Type": "Text"
			},

			{
			    "Id": "Duplicates",
			    "Title": { "default": "Handle Duplicates" },
			    "Type": "Select",
			    "Settings": {
				"Items": {
					 "Overwrite": { "default": "Overwrite" },
					 "Rename": { "default": "Rename" }
					 }
					},
			    "DefaultValue": { "default": "Rename" }
			},

			{
			    "Id": "Folder",
			    "Title": { "default": "Folder" },
			    "HelpText": { "default": "Folder to write the CSV file into." },
			    "Type": "Select",
			    "Settings": {
			        "DataSource": "PortalFolderList"
			    }
			},
			{
			    "Id": "StoreAbsoluteURL",
			    "Title": { "default": "Store Absolute URL" },
			    "HelpText": { "default": "Optionally provide a token name where to Store Absolute URL. The token can be used in next actions down the stack." },
			    "Type": "Text"
			},
			{
			    "Id": "StoreRelativeURL",
			    "Title": { "default": "Store Relative URL" },
			    "HelpText": { "default": "Optionally provide a token name where to Store Relative URL. The token can be used in next actions down the stack." },
			    "Type": "Text"
			},
			{
			    "Id": "StorePhysicalPath",
			    "Title": { "default": "Store Physical Path" },
			    "HelpText": { "default": "Optionally provide a token name where to Store Physical Path. The token can be used in next actions down the stack." },
			    "Type": "Text"
			}

        ]
    }
]