[{
    "Id": "ServerRequestHttpClient",
    "TypeStr": "DnnSharp.Common.Actions.Data.ServerRequestHttpClient, DnnSharp.Common.Actions",
    "Title": {
        "default": "Server Request HTTP Client"
    },
    "HelpText": {
        "default": "Send a request to a specific URL.<br/><b>Note</b>: When using relative URLs or when the referer header needs to be sent (the <b>Disable Referer Header</b> is unchecked) make sure that the action is executing within a portal context (e.g. in <a href=\"https://www.dnnsharp.com/dnn/modules/sharp-task-scheduler\">SharpScheduler</a>)"
    },
    "Settings": {
        "Group": "Data"
    },
    "Parameters": [{
            "Id": "URL",
            "Type": "Text",
            "Title": {
                "default": "URL"
            },
            "DefaultValue": {
                "default": "http://example.com"
            },
            "HelpText": {
                "default": "URL where to send the request. Can contain tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            }
        },
        {
            "Id": "UseSSL",
            "Type": "Boolean",
            "Title": {
                "default": "Use SSL"
            },
            "HelpText": {
                "default": "Force SSL use."
            }
        },
        {
            "Id": "Timeout",
            "Type": "Text",
            "Title": {
                "default": "Timeout"
            },
            "HelpText": {
                "default": "Specify a custom timeout (in seconds). If left empty, it defaults to 100 seconds. It is recommended to let it default."
            }
        },
        {
            "Id": "Data",
            "Type": "Code",
            "Title": {
                "default": "Post Data"
            },
            "DefaultValue": {
                "default": "name=[FirstName]\npage=[Tab:TabName]"
            },
            "HelpText": {
                "default": "Put key=value pairs each on separate line. If a Content-Type is set to a json or xml type the data will pe parsed accordingly. Can contain tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            }
        },
        {
            "Id": "DoNotEscapeTokens",
            "Type": "Boolean",
            "Title": {
                "default": "Do not escape tokens in Post Data"
            },
            "HelpText": {
                "default": "By default tokens in XML content are escaped so that they do not break the XML structure. Check this if in your case the tokens return XML that you need to keep unescaped."
            }
        },
        {
            "Id": "DisableReferer",
            "Type": "Boolean",
            "Title": {
                "default": "Disable Referer Header"
            },
            "HelpText": {
                "default": "By default we append the Referer header, but some APIs (like <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">this one</a>) throw an error when this header is specified. Check this box to disable the referer header."
            }
        },
        {
            "Id": "Headers",
            "Type": "NameValueCollection",
            "Title": {
                "default": "Headers"
            },
            "Settings": {
                "ButtonName": "Add",
                "NameColumn": "Name",
                "ValueColumn": "Value"
            },
            "HelpText": {
                "default": "Additional HTTP headers to pass"
            }
        },
        {
            "Id": "HttpMethod",
            "Type": "Select",
            "Title": {
                "default": "Choose an HTTP Method"
            },
            "Settings": {
                "Items": {
                    "GET": {
                        "default": "GET"
                    },
                    "POST": {
                        "default": "POST"
                    },
                    "PUT": {
                        "default": "PUT"
                    },
                    "PATCH": {
                        "default": "PATCH"
                    },
                    "DELETE": {
                        "default": "DELETE"
                    }
                }
            }
        },
        {
            "Id": "AddCurrentCookies",
            "Type": "Boolean",
            "Title": {
                "default": "Add Current Cookies"
            },
            "HelpText": {
                "default": "Pass the current cookies with the request."
            }
        },
        {
            "Id": "CookieContainerToken",
            "Type": "Text",
            "Title": {
                "default": "Cookie Container Token"
            },
            "HelpText": {
                "default": "Optional. Provide a name for the cookie container. The container is stored in the context and can be used to share cookies between Server Request actions in the current context. Cookies from previous actions (that have the same <b>Cookie Container Token</b> value) are accumulated and passed on to the current request."
            }
        },
        {
            "Id": "UrlTokenContext",
            "Type": "Select",
            "Title": {
                "default": "Url Token Context"
            },
            "HelpText": {
                "default": "Url - Encodes all values from tokens (default)<br/>Plain - Normal token replacement"
            },
            "Settings": {
                "Items": {
                    "Plain": {
                        "default": "Plain"
                    },
                    "Url": {
                        "default": "Url"
                    }
                }
            },
            "DefaultValue": {
                "default": "Url"
            }
        },
        {
            "Id": "OutputTokenName",
            "Type": "Text",
            "Title": {
                "default": "Output Token Name"
            },
            "HelpText": {
                "default": "Specify a token name to save the post response into. You can access it later using the token syntax, for example [MyNamedTPostoken]"
            }
        },
        {
            "Id": "OutputHeaders",
            "Type": "NameValueCollection",
            "Title": {
                "default": "Output Headers"
            },
            "Settings": {
                "NameColumn": "Header Name",
                "ValueColumn": "Token Name",
                "ButtonName": "Add"
            },
            "HelpText": {
                "default": "Specify a list of headers to retrieve from the server response."
            }
        },
        {
            "Id": "IgnoreErrors",
            "Type": "Boolean",
            "Title": {
                "default": "Ignore Errors"
            },
            "HelpText": {
                "default": "Pass to the next action execution"
            }
        },
        {
            "Id": "FileIds",
            "Type": "Text",
            "Title": {
                "default": "File Identifiers"
            },
            "HelpText": {
                "default": "Specify a file (or more files separated by comma). You can specify the files by their path or file id. Can contain tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            }
        },
        {
            "Id": "OnError",
            "Type": "ActionList",
            "Title": {
                "default": "On Error"
            },
            "Settings": {
                "Event": "error"
            },
            "HelpText": {
                "default": "Define a list of actions that should execute when this actions results in error. To retrieve the error message use: [&lt;OutputTokenName&gt;:ErrorResponse]"
            }
        }
    ]
}]