[

    {
        "Id": "BrowseActionGrid",
        "Title": { "default": "Browse Data from Action Grid" },
        "HelpText": { "default": "Opens a popup with Action Grid to select a row and pull it into form fields." },
        "TypeStr": "avt.ActionForm.Core.Actions.DnnSharpIntegrations.BrowseGrid, avt.ActionForm.Core",
        "Settings": {
            "Group": "DNN Sharp"
        },

        "Parameters": [
            {
                "Id": "Grid",
                "Title": { "default": "Action Grid Module" },
                "HelpText": { "default": "The selected grid will be opened in a popup where you can pick the row to get values for ActionForm fields." },
                "Type": "Select",
                "Settings": {
                    "DataSourceMethod": "GetModules",
                    "ModuleDef": "avt.ActionGrid"
                }
            },
            {
                "Id": "DisplayButtons",
                "Title": { "default": "Display Action Grid Buttons" },
                "HelpText": { "default": "If checked, the Action Grid buttons will be visible within the popup." },
                "Type": "Boolean"
            },
            {
                "Id": "Mappings",
                "Title": { "default": "Mappings" },
                "Type": "Grid",
                "Settings": {
                    "Columns": [
                        {
                            "Id": "ActionFormField",
                            "Title": { "default": "Action Form Field" },
                            "HelpText": { "default": "This field will get the value from the associated grid field." },
                            "Type": "FieldSelect",
                             "Settings": {
                                "ColSize": 4
                            }
                        },
                        {
                            "Id": "ActionGridField",
                            "Title": { "default": "Action Grid Field" },
                            "HelpText": { "default": "Associate this field with the ActionForm field." },
                            "Type": "Select",
                            "Settings": {
                                "ColSize": 4,
                                "Interpolate": true,
                                "DataSourceMethod": "GetGridFields",
                                "GridModuleID": "{{parentObject.Parameters['Grid'].Value}}"
                            }
                        }

                    ],
                    "ModuleDef": "avt.Action Grid"
                }
            }

        ]
    }

]
