<?xml version="1.0" encoding="utf-8"?>
<Actions>
  <Action>
    <Id>SendMail</Id>
    <Title>
      <Item key="default">Send Email</Item>
    </Title>
    <HelpText>
      <Item key="default">
        Note that you can use [Email] to get the email address that was submitted with the form or [User:Email] to get the email address of the currently logged in user.
      </Item>
    </HelpText>
    <TypeStr>DnnSharp.Common.Actions.Communications.SendEmail, DnnSharp.Common.Actions</TypeStr>
    <Settings>
      <Group>Email</Group>
    </Settings>

    <Parameter>
      <Id>From</Id>
      <Title>
        <Item key="default">From</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Leave empty to use the system default. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>DetermineEmail</Id>
      <Title>
        <Item key="default">Determine Email Automatically</Item>
      </Title>
      <Type>Boolean</Type>
      <HelpText>
        <Item key="default">
          Email will be determined based on currently logged in user.
        </Item>
      </HelpText>
      <Settings>
        <ShowCondition>!itemParameters["ToAllUsers"]</ShowCondition>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>To</Id>
      <Title>
        <Item key="default">To</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
      <Settings>
        <ShowCondition>!itemParameters["DetermineEmail"] &amp;&amp; !itemParameters["ToAllUsers"]</ShowCondition>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>ToAllUsers</Id>
      <Title>
        <Item key="default">Send mail to all users</Item>
      </Title>
      <Type>Boolean</Type>
      <HelpText>
        <Item key="default">
          Send mail to all users from the context. When this is checked the To field should be empty. In case it is not empty, beware that tokens form the 'User' namespace will have unexpected values.
        </Item>
      </HelpText>
      <Settings>
        <ShowCondition>!itemParameters["DetermineEmail"]</ShowCondition>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>ReplyTo</Id>
      <Title>
        <Item key="default">Reply To</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>Cc</Id>
      <Title>
        <Item key="default">CC</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>Bcc</Id>
      <Title>
        <Item key="default">BCC</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>Subject</Id>
      <Title>
        <Item key="default">Subject</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>Format</Id>
      <Title>
        <Item key="default">Format</Item>
      </Title>
      <Type>Select</Type>
      <Settings>
        <Items>
          { "Html": { "default": "Html (And replace newline with <br/>)" }, "Text": { "default": "Text" }, "HtmlWithoutNewline": { "default": "Html" } }
        </Items>
      </Settings>
      <DefaultValue>
        <Item key="default">Html</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>DnnEmailTemplate</Id>
      <Title>
        <Item key="default">DNN email template to use.</Item>
      </Title>
      <Type>Select</Type>
      <HelpText>
        <Item key="default">
          Get subject and body of email from template.
        </Item>
      </HelpText>
      <Settings>
        <DataSource>DnnEmailTemplatesSource</DataSource>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>Body</Id>
      <Title>
        <Item key="default">Body</Item>
      </Title>
      <Type>RichText</Type>
      <HelpText>
        <Item key="default">
          Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
      <Settings>
        <ShowCondition>!itemParameters["DnnEmailTemplate"].Value</ShowCondition>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>Headers</Id>
      <Title>
        <Item key="default">Headers</Item>
      </Title>
      <Type>NameValueCollection</Type>
      <HelpText>
        <Item key="default">
          Append custom headers to the email. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
        </Item>
      </HelpText>
      <Settings>
        <NameColumn>Name</NameColumn>
        <ValueColumn>Value</ValueColumn>
        <ButtonName>Add Header</ButtonName>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>PortalFiles</Id>
      <Title>
        <Item key="default">Attach Portal Files</Item>
      </Title>
      <Type>FilePicker</Type>
    </Parameter>

    <Parameter>
      <Id>FileField1</Id>
      <Title>
        <Item key="default">Attach Field #1</Item>
      </Title>
      <HelpText>
        <Item key="default">Select an upload field to send as attachment</Item>
      </HelpText>
      <Type>FieldSelect</Type>
      <Settings>
        <FieldType>["upload.single", "upload.multi"]</FieldType>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>FileField2</Id>
      <Title>
        <Item key="default">Attach Field #2</Item>
      </Title>
      <HelpText>
        <Item key="default">Select an upload field to send as attachment</Item>
      </HelpText>
      <Type>FieldSelect</Type>
      <Settings>
        <FieldType>["upload.single", "upload.multi"]</FieldType>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>FileField3</Id>
      <Title>
        <Item key="default">Attach Field #3</Item>
      </Title>
      <HelpText>
        <Item key="default">Select an upload field to send as attachment</Item>
      </HelpText>
      <Type>FieldSelect</Type>
      <Settings>
        <FieldType>upload.single</FieldType>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>FileField4</Id>
      <Title>
        <Item key="default">Attach Field #4</Item>
      </Title>
      <HelpText>
        <Item key="default">Select an upload field to send as attachment</Item>
      </HelpText>
      <Type>FieldSelect</Type>
      <Settings>
        <FieldType>["upload.single", "upload.multi"]</FieldType>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>FileField5</Id>
      <Title>
        <Item key="default">Attach Field #5</Item>
      </Title>
      <HelpText>
        <Item key="default">Select an upload field to send as attachment</Item>
      </HelpText>
      <Type>FieldSelect</Type>
      <Settings>
        <FieldType>["upload.single", "upload.multi"]</FieldType>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>FileToken1</Id>
      <Title>
        <Item key="default">Attach from Token</Item>
      </Title>
      <HelpText>
        <Item key="default">
          This lets you compute file path from token. It must be relative to portal home folder.
          Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
          Multiple items must be separated by semicolons.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>IgnoreErros</Id>
      <Title>
        <Item key="default">Ignore Errors</Item>
      </Title>
      <Type>Boolean</Type>
      <HelpText>
        <Item key="default">
          If errors are ignored, the submission of the form continues even when there is an error sending the email.
          Otherwise, an error message will be displayed to the user.
          Note that if the email is being sent async or is placed in a pickup folder, errors won't be caught.
        </Item>
      </HelpText>
    </Parameter>

  </Action>
</Actions>