<?xml version="1.0" encoding="utf-8"?>
<Actions>

    <Action>
        <Id>UserLogin</Id>
        <Title>
            <Item key="default">User Login</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action will search in the form for the username and email fields, which can be either of the type found under the User tab or simple Text boxes with the ID set to username/password.
                The Password field must be of type 'Password', which is found under the Security tab.
                On successfull login, access user info using the [User:*] tokens (for example [User:UserID] or [User:FirstName]).
            </Item>
        </HelpText>
        <Settings>
            <Group>User</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.UserLogin, avt.ActionForm.Core</TypeStr>		
				
		<Parameter>
            <Id>TryEmailAsUsername</Id>
            <Title>
                <Item key="default">Try Email as Username</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is enabled, Action Form looks for email - password match.</Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>UserRegistration</Id>
        <Title>
            <Item key="default">User Registration</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action will create a new user account.
                The form must contain at least an username or email address.
                The password can be collected via a password field or randomly generated.
                On successfull registration, access user info using the [NewUserId] and [User:*] tokens (for example [User:UserID] or [User:FirstName]).
            </Item>
        </HelpText>
        <Settings>
            <Group>User</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.UserRegistration, avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>EmailUsername</Id>
            <Title>
                <Item key="default">Email as Username</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is disabled, Action Form looks for a username field in the form.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>RandomPass</Id>
            <Title>
                <Item key="default">Generate random password</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">Enable this option to have Action Form generate a random password. This basically replaces the password fields. The generated password is stored in [RegRandomPass] token so you can use it for example in an email action.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SendDnnMail</Id>
            <Title>
                <Item key="default">Send standard DNN registration email</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is enabled Action Form will use the standard registration email from DNN. For custom emails, disable this option and add Email actions.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>LoginIfExists</Id>
            <Title>
                <Item key="default">Login if user already exists</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is enabled, instead of throwing an error Action Form tries to login the user using the username and password provided. If authentication is successfull, then Action Form continues with the rest of the actions.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Authorization</Id>
            <Title>
                <Item key="default">Authorize users who register with this form.</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <Items>{ "Authorize": { "default": "Authorize" }, "NoAuthorize": { "default": "Don't Authorize" }, "Inherit": { "default": "Inherit DNN Settings" }}</Items>
            </Settings>
            <DefaultValue>
                <Item key="default">Authorize</Item>
            </DefaultValue>
            <HelpText>
                <Item key="default">When this option is enabled, users that will register with this Action Form will be authorized. </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>SaveReportDb</Id>
        <Title>
            <Item key="default">Save Report in the Database</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Saves report in database. <br/>
                <!-- Reports can be also accessed by using module actions &gt; reports in main view. <a href="{{reportlink}}" tabindex="-1">click here</a> to go there directly. <br/> -->
				This action is automatically executed on every button if there are no validation errors. <br/>
				If you wish to save to the ActionForm Reports even when there are validation errors add this action under Form Events - On Validation Failed.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.SaveReport, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
    </Action>

    <Action>
        <Id>RepostData</Id>
        <Title>
            <Item key="default">Repost Data</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action reposts the form to a different URL, ending executation of any actions that follow.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.RepostData, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
        <Final>true</Final>

        <Parameter>
            <Id>Url</Id>
            <Title>
                <Item key="default">Url</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The Url can be to same or different domain, relative or absolute. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>PostData</Id>
            <Title>
                <Item key="default">Post Data</Item>
            </Title>
            <Type>Code</Type>
            <HelpText>
                <Item key="default">
                    Write one pair key=value per line. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>RepostEverything</Id>
            <Title>
                <Item key="default">Repost Everything</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to also repost all data in addition to fields above.
                </Item>
            </HelpText>
        </Parameter>

    </Action>

    <Action>
        <Id>LoadEntryById</Id>
        <Title>
            <Item key="default">Load Entry (by ID)</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action redirects to the form with a specific record already loaded.
                Submiting the form will update that record instead of creating a new one.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.Context.LoadEntryById, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Context</Group>
        </Settings>

        <Parameter>
            <Id>EntryId</Id>
            <Title>
                <Item key="default">EntryId</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    A guid that uniquely identifies an entry.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>

        </Parameter>

    </Action>

    <Action>
        <Id>LoadEntryByUserId</Id>
        <Title>
            <Item key="default">Load Entry (by User ID)</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action looks up the most recent submission of a user and redirects to the form with a specific record already loaded.
                Submiting the form will update that record instead of creating a new one.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.Context.LoadEntryByUserId, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Context</Group>
        </Settings>

        <Parameter>
            <Id>UserId</Id>
            <Title>
                <Item key="default">UserId</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    An user ID, username or email address that identifies the user. Leave blank to load data for current user.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>

        </Parameter>

    </Action>

       <Action>
        <Id>LoadUsersFromSql</Id>
        <Title>
            <Item key="default">Load Users from SQL</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Related actions such as granting roles or sending emails will be performed for every user loaded in context.
                This letes you load additional users into the context. For example, make a selection of users, then send a tokenzied email to all of them.
            </Item>
        </HelpText>
        <TypeStr>DnnSharp.Common.Actions.Context.LoadUsersFromSql, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Context</Group>
        </Settings>

        <Parameter>
            <Id>SqlQuery</Id>
            <Title>
                <Item key="default">SQL Query</Item>
            </Title>
            <Type>Code</Type>

            <HelpText>
                <Item key="default">
                    SQL to execute. It should return only one column, which is the UserID.
                    A common query is <em>SELECT UserId from Users Where FirstName LIKE '%John%'</em>.
                    Can contain context tokens (for example [ContextTokenName]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
            <Settings>
                <CodeMirrorMode>sql</CodeMirrorMode>
            </Settings>
        </Parameter>

    </Action>
    
    <Action>
        <Id>AesEncrypt</Id>
        <Title>
            <Item key="default">AES Encrypt</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action lets you encrypt data with AES.
            </Item>
        </HelpText>
        <TypeStr>DnnSharp.Common.Actions.Security.AESEncrypt, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Security</Group>
        </Settings>

        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">AES Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    If you're setting up a new system, we've included a tool to <a href="GenerateAesKey.aspx" target="_blank" tabindex="-1">Generate your Key and Initialization Vector</a>
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>IV</Id>
            <Title>
                <Item key="default">IV Vector</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Fields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Specify field name that will be encrypted and the field value that will hold the encrypted name.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Data to Encrypt</NameColumn>
                <ValueColumn>Store in Token</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

    </Action>

    <Action>
        <Id>DecryptData</Id>
        <Title>
            <Item key="default">AES Decrypt</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action lets you decryp data with AES.
            </Item>
        </HelpText>
        <TypeStr>DnnSharp.Common.Actions.Security.AESDecrypt, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Security</Group>
        </Settings>

        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    If you're setting up a new system, we've included a tool to <a href="GenerateAesKey.aspx" target="_blank" tabindex="-1">Generate your Key and Initialization Vector</a>. If AES Decrypt is used together with AES Encrypt, you must employ the same key and vector as set up with the latter.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>IV</Id>
            <Title>
                <Item key="default">IV</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Fields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Specify field name that will be decrypted and the token that will hold the encrypted name.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Data to Decrypt</NameColumn>
                <ValueColumn>Store in Token</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

    </Action>

    <Action>
        <Id>RSAEncrypt</Id>
        <Title>
            <Item key="default">RSA Encrypt</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action lets you encryption data, according selected algorithm.
            </Item>
        </HelpText>
        <TypeStr>DnnSharp.Common.Actions.Security.RSAEncrypt, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Security</Group>
        </Settings>

        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Public Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Enter your Public Key.
                    If you're setting up a new system, we've included a tool to <a href="GenerateRsaKey.aspx" target="_blank" tabindex="-1">Generate Public and Private Key</a>.
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Fields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Specify field name that will be encrypted and the field value
                    that will hold the encrypted name.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Data to Encrypt</NameColumn>
                <ValueColumn>Store in Token</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

    </Action>

    <Action>
        <Id>RSADecrypt</Id>
        <Title>
            <Item key="default">RSA Decrypt</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action lets you decryption data, according selected algorithm.
            </Item>
        </HelpText>
        <TypeStr>DnnSharp.Common.Actions.Security.RSADecrypt, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Security</Group>
        </Settings>

        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Private Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Enter your private key.
                    If you're setting up a new system, we've included a tool to <a href="GenerateRsaKey.aspx" target="_blank" tabindex="-1">Generate Public and Private Key</a>. Note that if it is used with the RSA Encrypt action, the Private Key should be the one generated in the RSA Encrypt action.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Fields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Specify field name that will be decrypted and the field value
                    that hold the encrypted name.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Data to Decrypt</NameColumn>
                <ValueColumn>Store in Token</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

    </Action>

    <Action>
        <Id>ShowMessage</Id>
        <Title>
            <Item key="default">Display Message</Item>
        </Title>
        <HelpText>
            <Item key="default">Displays a confirmation message. The user has to click a button before the rest of the following actions, if any, are executed.</Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.ShowMessage, avt.ActionForm.Core</TypeStr>
        <Final>true</Final>
        <Settings>
            <Group>Message</Group>
        </Settings>

        <Parameter>
            <Id>Message</Id>
            <Title>
                <Item key="default">Message</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    Specify
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>ButtonsList</Id>
            <Title>
                <Item key="default">Action Buttons</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Optionally, bind one or more buttons from the form.
                    Watch out for referencing buttons recursively.
                </Item>
            </HelpText>
            <Type>MultipleFieldSelect</Type>
            <Settings>
                <FieldType>button</FieldType>
            </Settings>
            <DefaultValue>
                <Item key="default">[]</Item>
            </DefaultValue>
        </Parameter>
    </Action>

    <Action>
        <Id>UpdateForm</Id>
        <Title>
            <Item key="default">Update Form Data (AJAX)</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Sends current context back to the browser, updating the form fields.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.UpdateData, avt.ActionForm.Core</TypeStr>
        <Final>true</Final>
        <Settings>
            <Group>Data</Group>
        </Settings>

    </Action>

    <Action>
        <Id>ShowError</Id>
        <Title>
            <Item key="default">Display Error Message</Item>
        </Title>
        <HelpText>
            <Item key="default">Displays an error message. The user can't submit the form until the error is corrected.</Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.ShowError, avt.ActionForm.Core</TypeStr>
        <Final>true</Final>
        <Settings>
            <Group>Message</Group>
        </Settings>

        <Parameter>
            <Id>Message</Id>
            <Title>
                <Item key="default">Message</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

    </Action>

    <!--<Action>
        <Id>KeepOnPage</Id>
        <Title>
            <Item key="default">Keep on Current Page</Item>
        </Title>
        <TypeStr>avt.ActionForm.Core.Form.Actions.MessageHtml, avt.ActionForm.Core</TypeStr>
    </Action>-->

    <Action>
        <Id>RedirectToUrl</Id>
        <Title>
            <Item key="default">Redirect to URL</Item>
        </Title>
        <TypeStr>DnnSharp.Common.Actions.Redirect.RedirectToUrlAction, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Redirect</Group>
        </Settings>
        <Final>true</Final>
        <Parameter>
            <Id>Url</Id>
            <Title>
                <Item key="default">URL</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                    <br/>Writing the anchor tags without the whole url will not generate a page refresh. For example: #Id14
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
          <Id>EscapeUrl</Id>
          <Title>
            <Item key="default">Escape URL special characters in tokens</Item>
          </Title>
          <Type>Boolean</Type>
          <HelpText>
            <Item key="default">
              Enable this option to escape special URL characters from the token results in the URL.
            </Item>
          </HelpText>
        </Parameter>
        <Parameter>
            <Id>OpenInPopup</Id>
            <Title>
                <Item key="default">Open in Popup</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to open in a poupup.
                    Note that you might want to arrange your URLs a bit to look nice inside popups.
                    More instructions in <a href="http://action-form.dnnsharp.com/form-actions/redirect" tabindex="-1">Action Form documentation.</a>
                </Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                !itemParameters["OpenInNewTab"]
              </ShowCondition>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>PopupTitle</Id>
            <Title>
                <Item key="default">Popup Title</Item>
            </Title>
            <HelpText>
                <Item key="default">Optionally, provide a title for the popup.</Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                itemParameters["OpenInPopup"]
              </ShowCondition>
            </Settings>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>OpenInNewTab</Id>
            <Title>
                <Item key="default">Open in new tab</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to open in a new tab.
                    <br/>  
                    This option is not compatible with the Safari browser; it will open the URL in the same tab.
                </Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                !itemParameters["OpenInPopup"]
              </ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
          <Id>ForceDownload</Id>
          <Title>
            <Item key="default">Force Download</Item>
          </Title>
          <Type>Boolean</Type>
          <HelpText>
            <Item key="default">
              Enable this option to force a download when the redirect is made to a file.
              More instructions in <a href="http://action-form.dnnsharp.com/form-actions/redirect" tabindex="-1">Action Form documentation.</a>
            </Item>
          </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>RedirectToFile</Id>
        <Title>
            <Item key="default">Send File for Download</Item>
        </Title>
        <HelpText></HelpText>
        <TypeStr>DnnSharp.Common.Actions.Redirect.RedirectToFileAction, DnnSharp.Common.Actions</TypeStr>
        <Settings>
            <Group>Redirect</Group>
        </Settings>
        <Final>true</Final>

        <Parameter>
            <Id>PortalFile</Id>
            <Title>
                <Item key="default">Portal File</Item>
            </Title>
            <Type>FilePicker</Type>
            <Settings>
                <Mode>Single</Mode>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>OpenInPopup</Id>
            <Title>
                <Item key="default">Open in Popup</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to open in a poupup.
                    Note that you might want to arrange your URLs a bit to look nice inside popups.
                </Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                !itemParameters["OpenInNewTab"]
              </ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>PopupTitle</Id>
            <Title>
                <Item key="default">Popup Title</Item>
            </Title>
            <HelpText>
                <Item key="default">Optionally, provide a title for the popup.</Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                itemParameters["OpenInPopup"]
              </ShowCondition>
            </Settings>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>OpenInNewTab</Id>
            <Title>
                <Item key="default">Open in new tab</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to open in a new tab.
                    Note that you might want to arrange your URLs a bit to look nice inside the new tab.
                </Item>
            </HelpText>
            <Settings>
              <ShowCondition>
                !itemParameters["OpenInPopup"]
              </ShowCondition>
            </Settings>
        </Parameter> 
    </Action>

</Actions>
