[

	{
		"Id": "DeleteFile",
		"Title": { "default": "Delete File" },
		"HelpText": { "default": "Delete a file." },
		"TypeStr": "DnnSharp.Common.Actions.DNNActions.DeleteFile, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Dnn"
		},

		"Parameters": [
			{
				"Id": "Identifier",
				"Title": { "default": "Identifier" },
				"HelpText": { "default": "Identifier for the file. \n It can be: The file ID. (Example: 77) \n The file path (Example: Images/Cars/Ford.jpg) \n The file path from current portal (Example: Portals/0/Images/Cars/Ford.jpg). For multiple files separate the identifiers with a comma ',' or a semicolon ';'. \n Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
				"Type": "Text"
			}
		]
	},
  
  {
		"Id": "DeleteFolder",
		"Title": { "default": "Delete Folder" },
		"HelpText": { "default": "Delete a folder." },
		"TypeStr": "DnnSharp.Common.Actions.DNNActions.DeleteFolder, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Dnn"
		},

		"Parameters": [
			{
				"Id": "Identifier",
				"Title": { "default": "Identifier" },
				"HelpText": { "default": "Identifier for the folder. \n It can be: The folder ID. (Example: 77) \n The folder path (Example: Images/Cars/) \n The file folder from current portal (Example: Portals/0/Images/Cars/). \n Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
				"Type": "Text"
			},
      
      {
				"Id": "Recursive",
				"Title": { "default": "Recursive" },
				"HelpText": { "default": "Also deletes the subfolders and their content." },
				"Type": "Boolean"
			},
      
      {
				"Id": "IgnoreErrors",
				"Title": { "default": "Ignore errors" },
				"Type": "Boolean"
			}
		]
	}
	
]
