[
    {
        "Id": "OpenFileManager",
        "Title": {
            "default": "Open File Manager"
        },
        "Final": true,
        "TypeStr": "DnnSharp.Common.Actions.InModuleDnnsfApiCall, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "DNN Sharp",
            "JavaScriptFile": "Common/static/client-actions/OpenFileManager.js",
            "ExposedParameters": "FileManagerId, CallBack"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
                "Settings": {
                    "ModuleFriendlyName": "avt.ActionForm"
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "03.09.550"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "FileManagerId",
                "Title": {
                    "default": "Select File Manager"
                },
                "HelpText": {
                    "default": "Select the File Manager field that you want to open in popup."
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "file-manager"
                }
            },
            {
                "Id": "CallBack",
                "Title": {
                    "default": "CallBack Javascript Code"
                },
                "DefaultValue": { "default": "console.log(files);" },
                "HelpText": { "default": "This javascript code will be executed on 'Done' button click from FileBrowser. The 'files' javascript variable is automatically initialized with an object containing all files(filesInQueue and selectedFiles)." },
                "Type": "Code",
                "Settings": {
                    
                }
            }
        ]
    }
]