[
    {
        "Id": "AddDynamicTextBox",
        "Title": {
            "default": "Add Textbox"
        },
        "HelpText": {
            "default": "This action will add a textbox to the specified dynamic container."
        },
        "TypeStr": "avt.ActionForm.Core.Actions.DynamicFields.AddTextBox, avt.ActionForm.Core",
        "Settings": {
            "Group": "Dynamic Fields"
        },
        "Parameters": [
            {
                "Id": "ContainerId",
                "Title": {
                    "default": "Container Id"
                },
                "HelpText": {
                    "default": "This is the Container Id to place this textbox into. Eg. Add a Dynamic Field Container having id DynamicFieldContainer. \"DynamicFieldContainer\" is the ID of the field.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "FieldId",
                "Title": {
                    "default": "Field Id"
                },
                "HelpText": {
                    "default": "Required. Give this field an id so you can reference it later.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "FieldName",
                "Title": {
                    "default": "Field Title"
                },
                "HelpText": {
                    "default": "Give this field an title/name which is a label.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "FieldDescription",
                "Title": {
                    "default": "Field Description"
                },
                "HelpText": {
                    "default": "Give this field a description.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "InitialValue",
                "Title": {
                    "default": "Initial Value"
                },
                "HelpText": {
                    "default": "Give this field an initial value.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "BindShow",
                "Title": {
                    "default": "Bind Expression - Show"
                },
                "HelpText": {
                    "default": "Dynamically show or hide this field. This must be a boolean expression. Use standard javascript boolean operators (==, !=, &#x3C;,&#x3E; , !). For example, use [PaymentMethod] == &#x27;CreditCard&#x27; to show the credit card field only when the Payment Method is set accordingly.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "BindValue",
                "Title": {
                    "default": "Bind Expression - Value"
                },
                "HelpText": {
                    "default": "Dynamically compute the value of this field. So when other fields change this fields updates automatically. Use standard javascript operators where needed (+, -, *, /). For example, use [FirstName] + &#x27; &#x27; + [LastName] to automatically fill the Display Name field. Note that once the value is edited manually, the automatic synchronization stops.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "BindOnChange",
                "Title": {
                    "default": "Bind Expression - On Change/Click"
                },
                "HelpText": {
                    "default": "Bind some javascript code to execute when the value in this field changes or when a button is clicked. Access the form fields by using syntax [FieldId] which maps to the js object form.fields.FieldId.value. For buttons, you can &#x22;return false;&#x22; to prevent the form from submitting.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Textarea"
            },
            {
                "Id": "TokenizeBindExpressions",
                "Title": {
                    "default": "Tokenize Bind Expressions?"
                },
                "HelpText": {
                    "default": "Check this box in order to tokenize the Bind Expressions fields. This is useful when you dynamically compute the id values so you need to tokenize and obtain the real IDs first."
                },
                "Type": "Boolean"
            },
            {
                "Id": "IsReadOnly",
                "Title": {
                    "default": "Readonly"
                },
                "HelpText": {
                    "default": "The field will be Readonly. Supports tokens. (1 or 0, true or false)."
                },
                "Type": "Text"
            },
            {
                "Id": "ControlCssClass",
                "Title": {
                    "default": "CSS Class"
                },
                "HelpText": {
                    "default": "Set CSS classes on the input control. This is appended to the container's UI settings! <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "ControlCssStyle",
                "Title": {
                    "default": "CSS Styles"
                },
                "HelpText": {
                    "default": "Set inline styles on the input control. This is appended to the container's UI settings! <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "LabelCssClass",
                "Title": {
                    "default": "Label CSS Class"
                },
                "HelpText": {
                    "default": "Set CSS classes on the input label. This is appended to the container's UI settings!<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "LabelCssStyle",
                "Title": {
                    "default": "Label CSS Styles"
                },
                "HelpText": {
                    "default": "Set inline styles on the input label. This is appended to the container's UI settings!<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "IsRequired",
                "Title": {
                    "default": "Is Required"
                },
                "HelpText": {
                    "default": "Specify if this field is required.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "ValidationCondition",
                "Title": {
                    "default": "Validation Condition"
                },
                "HelpText": {
                    "default": "This boolean expression is used to determine if this field validation will execute. It supports C# syntax. A common example is [SomeField] == \"Some Value\" or [SomeField].IndexOf(\"something\") == 0. This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. <br/>Note that the tokenization will take place when you <b>submit</b> the form and you have access to the values of the submitted fields."
                },
                "Type": "Text" 
            },
            {
                "Id": "CustomValidator1",
                "Title": {
                    "default": "Custom Validator #1"
                },
                "HelpText": {
                    "default": ""
                },
                "Type": "Select",
                "Settings": {
                    "ColSize": 4,
                    "Interpolate": true,
                    "DataSourceMethod": "GetCustomValidatorTitles",
                    "SupportsExpressions": "true"
                }
            },
            {
                "Id": "CustomValidator2",
                "Title": {
                    "default": "Custom Validator #2"
                },
                "HelpText": {
                    "default": ""
                },
                "Type": "Select",
                "Settings": {
                    "ColSize": 4,
                    "Interpolate": true,
                    "DataSourceMethod": "GetCustomValidatorTitles",
                    "SupportsExpressions": "true"
                }
            },
            {
                "Id": "TokenizeValidators",
                "Title": {
                    "default": "Tokenize Validators?"
                },
                "HelpText": {
                    "default": "Check this box in order to tokenize the Validator fields and the Validation Condition field. This is useful when you need to use tokens for validation at Form Initialization."
                },
                "Type": "Boolean",
                "DefaultValue": {
                    "default": "True"
                }
            },
            {
                "Id": "FieldIdTokenName",
                "Title": {
                    "default": "Field ID Token Name"
                },
                "HelpText": {
                    "default": "Similarly to normal fields, the ID is the name/inputted id sanitized. This means that if you dynamically generate id's, they might contain spaces or other invalid characters. For this, we output the sanitized id of the field. Give a name to this token which holds the sanitized ID."
                },
                "Type": "Text"
            }
        ]
    }
]
