[{
    "Id": "LoadDynamicFieldsFromJson",
    "Title": {
        "default": "Load dynamic field from JSON"
    },
    "HelpText": {
        "default": "This action will add the fields provided to the specified dynamic container."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.DynamicFields.LoadDynamicFieldsFromJson, avt.ActionForm.Core",
    "Settings": {
        "Group": "Dynamic Fields"
    },
    "Parameters": [{
            "Id": "ContainerId",
            "Title": {
                "default": "Container Id"
            },
            "HelpText": {
                "default": "This is the Container Id to load dynamic fields into. Eg. Add a <b>Dynamic Field Container</b> field having the ID as <b>DynamicFieldContainer</b>.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "FieldsJson",
            "Type": "Code",
            "Title": {
                "default": "Fields Json"
            },
            "HelpText": {
                "default": "Required. The JSON string with the fields. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Settings": {
                "CodeMirrorMode": "javascript"
            }
        }
    ]
}]
