[
    {
        "Id": "RegisterStaticFiles",
        "Title": {
            "default": "Load Static Files"
        },
        "HelpText": {
            "default": "Load custom javascript or CSS file by using it's relative or absolute URL."
        },
        "TypeStr": "avt.ActionForm.Core.Actions.RegisterStaticFiles, avt.ActionForm.Core",
        "Settings": {
            "Group": "DNN Sharp"
        },
        "Parameters": [
            {
                "Id": "JsPaths",
                "Title": {
                    "default": "JS Urls"
                },
                "HelpText": {
                    "default": "Relative or absolute URL of the Javascript files to load.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Id",
                    "ValueColumn": "URL"
                }
            },
            {
                "Id": "CssPaths",
                "Title": {
                    "default": "CSS Urls"
                },
                "HelpText": {
                    "default": "Relative or absolute URL of the CSS file to load.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Id",
                    "ValueColumn": "URL"
                }
            }
        ]
    }
]