<?xml version="1.0" encoding="utf-8"?>
<Actions>

    <Action>
        <Id>SaveState</Id>
        <Title>
            <Item key="default">Save State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action saves all the submitted data in the server session so it can be loaded back into this or another form.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.State.SaveState, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Select a key to save under. Note that the scope is global, data can be shared between any two Action Forms.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SaveLocation</Id>
            <Title>
                <Item key="default">Save Location</Item>
            </Title>
            <Type>Select</Type>
            <HelpText>
                <Item key="default">
                    Select where to store the saved data. Session data is lost after a period of inactivity, usually around 20 minutes.
                    Browser cookies usually last longer.
                </Item>
            </HelpText>
            <Settings>
                <Items>{ "Session": { "default": "Server Session" }, "Cookies": { "default": "Browser Cookies" } }</Items>
            </Settings>
        </Parameter>

        
    </Action>


    <Action>
        <Id>AutoSaveState</Id>
        <Title>
            <Item key="default">Auto Save State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Add this action to Init event to auto save form state in browser cookies.
                Load it back later by using LoadState action (make sure Storage Location is set to Browser Cookies), normally also placed in the initialization event.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.State.AutoSaveState, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Select a key to save under. Note that the scope is global, data can be shared between any two Action Forms.
                    <b>Important!</b> This is saved in cookies. So, when using LoadState action, make sure to load from cookies.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
        
    </Action>

    <Action>
        <Id>ClearState</Id>
        <Title>
            <Item key="default">Clear State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Clears previously saved state.
            </Item>
        </HelpText>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.State.ClearState, avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Select a key to clear. Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SaveLocation</Id>
            <Title>
                <Item key="default">Storage Location</Item>
            </Title>
            <Type>Select</Type>
            <HelpText>
                <Item key="default">
                    Select what storage to clear. Session data is lost after a period of inactivity, usually around 20 minutes.
                    Browser cookies usually last longer.
                </Item>
            </HelpText>
            <Settings>
                <Items>{ "Session": { "default": "Server Session" }, "Cookies": { "default": "Browser Cookies" }, "Any": { "default": "Any" } }</Items>
            </Settings>
        </Parameter>
    </Action>

    <Action>
        <Id>LoadState</Id>
        <Title>
            <Item key="default">Load State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Loads previously saved state.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.State.LoadState, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Select a key to load from. Note that the scope is global, data can be shared between any two Action Forms.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SaveLocation</Id>
            <Title>
                <Item key="default">Storage Location</Item>
            </Title>
            <Type>Select</Type>
            <HelpText>
                <Item key="default">
                    Select where to load the saved data from. Session data is lost after a period of inactivity, usually around 20 minutes.
                    Browser cookies usually last longer.
                </Item>
            </HelpText>
            <Settings>
                <Items>{ "Session": { "default": "Server Session" }, "Cookies": { "default": "Browser Cookies" }, "Any": { "default": "Any" } }</Items>
            </Settings>
        </Parameter>
    
        <Parameter>
            <Id>SerilazeToReports</Id>
            <Title>
                <Item key="default">Save data in Reports</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Check this if you want to save the data from the previous forms into the reports.
                </Item>
            </HelpText>
            <DefaultValue>
                <Item key="default">True</Item>
            </DefaultValue>
        </Parameter>
    </Action>

</Actions>
