<a href="{{ returnUrl }}" class="pull-left" style="margin: 10px 10px 0 0;">
    <span class="glyphicon glyphicon-menu-left"></span>
</a>
<h2 style="margin: 40px 0;">Activate {{ app.Name }}</h2>

<p class="alert alert-info text-info">
    Activation requires IE10+ or any other modern browser (Chrome, Firefox, Safari, etc)<br/>
    <strong>Important</strong>: Activating the product will trigger an application restart.
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title" style="font-size: 20px;">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                   style="color: #337ab7;">
                    Already have purchased a license? Activate this copy below.
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
            data-ng-class="{ 'in': hash != '#trial' }">
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Invoice Number <br />or License Key</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-ng-model="$parent.invoiceNo" id="tbInvoiceNo" placeholder="Invoice Number or License Key" />
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            This is the invoice number provided by DNN Store or DNN Sharp team.</p>
                    </div>
                </div>

                <div class="form-group" data-ng-show="licenseType && !isEnterprise">
                    <label class="col-sm-3 control-label">Domain</label>
                    <div class="col-sm-8">
                        <select class="form-control" data-ng-model="$parent.host" data-ng-options="host for host in hosts">
                        </select>
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            The license will be bound to this host name.
                        </p>
                    </div>
                </div>

                <div class="form-group" data-ng-show="!loading">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-primary" data-ng-click="activate()">Activate</button>
                    </div>

                </div>

                <div class="col-sm-offset-3 loading" data-ng-show="loading">
                    <img src="{{ app.CommonUrl }}/static/img/loading.gif" height="32" />
                    &#160;Please wait, activation might take a few minutes to complete...
                </div>

                <div class="col-sm-offset-3 alert alert-danger" data-ng-if="errInput">
                    Please fill in all fields above.
                </div>

                <div class="col-sm-offset-3 alert alert-danger" data-ng-if="response">
                    {{response}}
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title" style="font-size: 20px;">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#trial" aria-expanded="false" aria-controls="trial"
                   style="color: #337ab7; text-decoration: underline;">
                    Don't have a license yet? Try it FREE for 30 days.
                </a>
            </h4>
        </div>
        <div id="trial" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
            data-ng-class="{ 'in': hash == '#trial' }">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        Unlock trial using your <a href="http://www.dnnsharp.com" target="_blank">dnnsharp.com</a> account
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-ng-model="$parent.username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" data-ng-model="$parent.password" />
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            Your username and password for dnnnsharp.com.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Host</label>
                    <div class="col-sm-8">
                        <select class="form-control" data-ng-model="$parent.host" data-ng-options="host for host in hosts">
                        </select>
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            This is the domain name to activate the trial for.</p>
                    </div>
                </div>

                <div class="form-group" data-ng-show="!loading">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-primary" data-ng-click="unlockTrial()">Unlock Trial</button>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3" style="margin-top: 8px;">
                        <a href="https://www.dnnsharp.com/register" target="_blank">Don't have an account? Create one now, it's free.</a>
                    </div>
                </div>

                <div class="col-sm-offset-3 loading" data-ng-show="loading">
                    <img src="{{ app.CommonUrl }}/static/img/loading.gif" height="32" />
                    &#160;Please wait, activation might take a few minutes to complete...
                </div>

                <div class="col-sm-offset-3 alert alert-danger" data-ng-if="errInput">
                    Please fill in all fields above.
                </div>

                <div class="col-sm-offset-3 alert alert-danger" data-ng-if="response">
                    {{response}}
                </div>

            </div>
        </div>
    </div>

</div>
