<div data-ng-repeat="p in params track by p.Id">
    <div data-ng-switch="p.Type">

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Boolean">
            <div class="col-sm-10 col-sm-offset-2 col-xs-11">
                <label class="checkbox-inline" style="margin-left:9px;">
                    <span ng-if="p.Settings.WithSetterGetter">
                        <input type="checkbox" data-ng-init="injectGetterSetter(p.Id)"
                               data-ng-model="itemParameters['$_' + p.Id]"
                               ng-model-options="{ getterSetter: true }" />
                    </span>
                    <span ng-if="!p.Settings.WithSetterGetter">
                        <input type="checkbox" data-ng-model="itemParameters[p.Id]" />
                    </span>
                    <strong>{{localize(p.Title)}}</strong>
                </label>
                <p class="text-muted help p-checkbox-spacing-fix hidden-xs" style="clear: both; margin-top:5px;" data-dynamic="p.HelpText"></p>

                <div class="visible-xs">
                    <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                        <p class="text-muted help p-checkbox-spacing-fix" data-dynamic="p.HelpText"></p>
                    </div>
                </div>
            </div>
            <span class="helptext-visible-xs col-xs-1"
                  data-toggle="collapse"
                  data-target="#condition{{item.$_uid + p.Id}}"
                  aria-expanded="false"
                  aria-controls="condition{{item.$_uid + p.Id}}">
                <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
            </span>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Code">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <textarea rows="8" class="form-control code" codemirror="{{p.Settings.CodeMirrorMode}}" data-ng-model="itemParameters[p.Id]"></textarea>
                <span class="helptext-visible-xs"
                      data-toggle="collapse"
                      data-target="#condition{{item.$_uid + p.Id}}"
                      aria-expanded="false"
                      aria-controls="condition{{item.$_uid + p.Id}}">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
                </span>
                <p class="text-muted help hidden-xs" style="clear: both; margin-top:5px;" data-dynamic="p.HelpText"></p>

                <div class="visible-xs">
                    <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                        <p class="text-muted help" data-dynamic="p.HelpText"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="StaticHelpText">
            <div class="col-sm-12">
                <p class="help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Textarea">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <textarea rows="8" class="form-control" data-ng-model="itemParameters[p.Id]" data-dnnsf-required="p.Settings['IsRequired']"></textarea>
                <span class="helptext-visible-xs checkbox-inline"
                      data-toggle="collapse"
                      data-target="#condition{{item.$_uid + p.Id}}"
                      aria-expanded="false"
                      aria-controls="condition{{item.$_uid + p.Id}}">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
                </span>
                <p class="text-muted help hidden-xs" style="clear: both; margin-top:5px;" data-dynamic="p.HelpText"></p>

                <div class="visible-xs">
                    <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                        <p class="text-muted help p-checkbox-spacing-fix" data-dynamic="p.HelpText"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Date">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10" ng-init="convertDate(p.Id)">
                <div class="input-group">
                    <input readonly type="text" class="form-control text" data-date-format="yyyy-mm-dd" data-bs-datepicker="" data-ng-model="itemParameters[p.Id]" style="width: 120px" />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Time">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input readonly class="form-control text" type="text" data-ng-model="itemParameters[p.Id]" data-bs-timepicker="" style="width: 120px;">
                    <button type="button" class="btn" data-toggle="timepicker"><i class="glyphicon glyphicon-time"></i></button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="DateTime">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10" ng-init="convertDate(p.Id)">
                <div class="input-group pull-left">
                    <input readonly type="text" class="form-control text" data-date-format="yyyy-mm-dd" data-bs-datepicker="" data-ng-model="itemParameters[p.Id].Date" style="width: 120px" />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="input-group pull-left" style="margin-left: 10px;">
                    <input readonly type="text" class="form-control text" data-ng-model="itemParameters[p.Id].Time" data-bs-timepicker="" style="width: 120px;">
                    <button type="button" class="btn" data-toggle="timepicker"><i class="glyphicon glyphicon-time"></i></button>
                </div>
                <div class="clearfix"></div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Interval">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="pull-left" style="width: 80px;">
                    <input type="text" class="form-control text" data-ng-model="itemParameters[p.Id].Qty" />
                </div>
                <div data-ctl-datasource="p"
                     data-updatemodel="itemParameters[p.Id].Unit"
                     class="pull-left" style="width: 120px; margin-left: 10px;">
                    <select class="form-control" data-ng-model="model.Value" data-ng-options="c.Value as c.Text for c in items">
                        <option value="">--</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="RichText">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-ng-if="fields">
                    <div class="dropdown pull-left">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Append Field
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-hide="field.Def && field.Def.Settings.HasValue == 'false'" ng-repeat="field in fields | orderBy:'Title'"><a ng-click="appendField(field, p.Id)" href="javascript:void(0)">{{field.Title}}</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-sm btn-default" data-ng-click="appendData(item, p.Id)">Append All Fields</button>
                </div>
                <div text-angular="text-angular" data-ta-unsafe-sanitizer="true" data-ng-model="itemParameters[p.Id]"></div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <!-- The source is specified in 'Settings/DataSource' or in place if 'Settings/Items' is used -->
        <div class="form-group form-group-baseline" ng-show="evalShowCondition(p.Settings)" ng-switch-when="Select">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10 col-xs-11" data-pname="{{p.Id}}">

                <div ng-if="p.Settings['SupportsExpressions'] == 'true'">
                    <div class="input-group">
                        <div data-ctl-datasource="p"
                             data-updatemodel="itemParameters[p.Id]"
                             ng-show="!itemParameters[p.Id].IsExpression"
                             data-params="itemParameters"
                             data-parent-object="item">
                            <select class="form-control" ng-model="selectedSource" ng-options="c as c.Text for c in items"
                                    ng-change="model.Value = selectedSource.Value">
                                <option value="">--</option>
                            </select>
                        </div>
                        <input type="text" class="form-control text expression"
                               ng-model="itemParameters[p.Id].Expression"
                               ng-show="itemParameters[p.Id].IsExpression" />
                        <span class="btn-group input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default btn-xs" ng-class="{ 'btn-success': itemParameters[p.Id].IsExpression }" title="Switch to an expression to use My Tokens or values based on other fields."
                                   ng-click="itemParameters[p.Id].IsExpression = !itemParameters[p.Id].IsExpression">
                                <input type="checkbox" />
                                Expr
                            </label>
                        </span>
                    </div>
                </div>
                <div ng-if="p.Settings['SupportsExpressions'] != 'true'">
                    <div data-ctl-datasource="p"
                         data-updatemodel="itemParameters[p.Id]"
                         data-params="itemParameters"
                         data-parent-object="item">
                        <select class="form-control" ng-model="selectedSource" ng-options="c as c.Text for c in items" ng-change="model.Value = selectedSource.Value">
                            <option value="">--</option>
                        </select>
                        <span class="text-muted">{{selectedSource.HelpText.default}}</span>
                        <div data-dnnsf-calldirective=""
                             data-pass-dnnsf-params="selectedSource.Parameters"
                             data-pass-dnnsf-item="model"
                             data-pass-dnnsf-fields="fields"
                             style="margin-top: 22px;">
                        </div>
                    </div>
                </div>
                <p class="text-muted help hidden-xs" style="clear: both; margin-top:5px;" data-dynamic="p.HelpText"></p>
            </div>
            <span class="helptext-visible-xs col-xs-1"
                  data-toggle="collapse"
                  data-target="#condition{{item.$_uid + p.Id}}"
                  aria-expanded="false"
                  aria-controls="condition{{item.$_uid + p.Id}}">
                <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
            </span>
            <div class="visible-xs col-xs-12">
                <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                    <p class="text-muted help" data-dynamic="p.HelpText"></p>
                </div>
            </div>
        </div>

        <!-- CheckboxList: very much like the previous Select -->
        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="CheckboxList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-ng-model="item"
                     data-ctl-datasource="p"
                     data-updatemodel="itemParameters[p.Id]"
                     data-params="itemParameters"
                     data-parent-object="item">
                    <button type="button"
                            class="btn btn-default btn-sm"
                            data-toggle="button"
                            data-ng-repeat="c in items"
                            data-ng-model="model[c.Value]"
                            data-dnnsf-checkbox=""
                            data-bs-init="true"
                            style="margin-right: 4px;">
                        {{c.Text}}
                    </button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="RadioList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-ng-model="itemParameters[p.Id]" data-ng-options="o for o in p.Settings['Items']" data-dnnsf-radiogroup="">
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" ng-switch-when="SelectWithGroups">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10" data-pname="{{p.Id}}">

                <div ng-if="p.Settings['SupportsExpressions'] == 'true'">
                    <div class="input-group">
                        <div data-ctl-datasource="p"
                             data-updatemodel="itemParameters[p.Id]"
                             ng-show="!itemParameters[p.Id].IsExpression"
                             data-params="itemParameters"
                             data-parent-object="item">
                            <select class="form-control"
                                    ng-model="selectedSource"
                                    ng-options="c as c.Text group by c.Group for c in items"
                                    ng-change="model.Value = selectedSource.Value">
                                <option value="">--</option>
                            </select>
                        </div>
                        <input type="text" class="form-control text expression"
                               ng-model="itemParameters[p.Id].Expression"
                               ng-show="itemParameters[p.Id].IsExpression" />
                        <span class="btn-group input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default btn-xs" ng-class="{ 'btn-success': itemParameters[p.Id].IsExpression }" title="Switch to an expression to use My Tokens or values based on other fields."
                                   ng-click="itemParameters[p.Id].IsExpression = !itemParameters[p.Id].IsExpression">
                                <input type="checkbox" />
                                Expr
                            </label>
                        </span>
                    </div>
                </div>
                <div ng-if="p.Settings['SupportsExpressions'] != 'true'">
                    <div data-ctl-datasource="p"
                         data-updatemodel="itemParameters[p.Id]"
                         data-params="itemParameters"
                         data-parent-object="item">
                        <select class="form-control"
                                ng-model="selectedSource"
                                ng-options="c as c.Text group by c.Group for c in items"
                                ng-change="model.Value = selectedSource.Value">
                            <option value="">--</option>
                        </select>
                        <span class="text-muted">{{selectedSource.HelpText.default}}</span>
                        <div data-dnnsf-calldirective=""
                             data-pass-dnnsf-params="selectedSource.Parameters"
                             data-pass-dnnsf-item="model"
                             data-pass-dnnsf-fields="fields"
                             style="margin-top: 22px;">
                        </div>
                    </div>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="FilePicker">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-dnnsf-filepicker="" data-ng-model="itemParameters[p.Id]" data-dnnsf-pickermode="{{p.Settings['Mode']}}"></div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="FieldSelect">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-5 col-xs-11">

                <div data-ng-if="p.Settings['SupportsExpressions'] == 'true'">

                    <div class="input-group">

                        <select class="form-control"
                                data-ng-model="itemParameters[p.Id].Value"
                                data-ng-options="c.BoundName as c.BoundName for c in fields | filter:byType(p.Settings['FieldType'],c) | filter:exceptItem(item.BoundName)"
                                data-ng-show="!itemParameters[p.Id].IsExpression">
                            <option value="">--</option>
                        </select>

                        <input type="text" class="form-control text expression"
                               data-ng-model="itemParameters[p.Id].Expression"
                               data-ng-show="itemParameters[p.Id].IsExpression" />
                        <span class="btn-group input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default btn-xs" data-ng-class="{ 'btn-success': itemParameters[p.Id].IsExpression }" title="Switch to an expression to use My Tokens or values based on other fields."
                                   data-ng-click="itemParameters[p.Id].IsExpression = !itemParameters[p.Id].IsExpression">
                                <input type="checkbox" />
                                Expr
                            </label>
                        </span>
                    </div>
                </div>

                <div data-ng-if="p.Settings['SupportsExpressions'] != 'true'">
                    <div data-dnnsf-field-select=""
                         data-ng-model="itemParameters[p.Id]"
                         data-fields="fields"
                         data-filter-type="p.Settings['FieldType']"
                         data-current-item="item">
                    </div>
                </div>

            </div>
            <div class="col-sm-10 col-sm-offset-2 col-xs-11 hidden-xs">
                <p class="text-muted help" style="clear: both; margin-top:5px;" data-dynamic="p.HelpText"></p>
            </div>
            <span class="helptext-visible-xs col-xs-1"
                  data-toggle="collapse"
                  data-target="#condition{{item.$_uid + p.Id}}"
                  aria-expanded="false"
                  aria-controls="condition{{item.$_uid + p.Id}}">
                <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
            </span>
            <div class="visible-xs col-xs-12">
                <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                    <p class="text-muted help" data-dynamic="p.HelpText"></p>
                </div>
            </div>
        </div>

        <!-- Like previous but capable of generating a list of FieldSelect -->
        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="MultipleFieldSelect">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText" style="margin: 8px 0;"></p>
                <div class="controls row" data-ng-repeat="savedValue in itemParameters[p.Id].Value">
                    <div class="col-sm-6" style="margin-bottom: 3px;">
                        <select class="form-control" data-ng-model="itemParameters[p.Id].Value[$index]" data-ng-options="c.BoundName as c.BoundName for c in fields | filter:byType(p.Settings['FieldType']) | filter:notInArray(itemParameters[p.Id].Value, $index) | filter:notParentButton(item)">
                            <option value="">--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].Value.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </div>
                <div class="">
                    <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].Value.push({})">Add</button>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="List">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText" style="padding-top:10px;"></p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" style="padding-top: 10px;">
                <div data-dnnsf-list-parameter="itemParameters[p.Id] || (itemParameters[p.Id] = [])" data-definition="p"></div>
            </div>
        </div>

        <!-- span4 used here because "Form Events" \ "On Init" && "On Validation Failed" limit the available space even more -->
        <div class="form-group" ng-show="evalShowCondition(p.Settings)" style="padding-top:10px;" data-ng-switch-when="NameValueCollection">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" style="padding-bottom:10px;">
                <div class="row" data-ng-show="itemParameters[p.Id] && itemParameters[p.Id].length && p.Settings['NameColumn']">
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['NameColumn']}}</label>
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['ValueColumn']}}</label>
                </div>

                <div data-ng-repeat="nameValue in itemParameters[p.Id]" class="row" style="margin-bottom: 3px;">
                    <div class="col-sm-4">
                        <span class="control-label" data-ng-show="!p.Settings['NameColumn']">Name: </span>
                        <input type="text" class="form-control text" data-ng-model="nameValue.name" />
                    </div>
                    <div class="col-sm-6">
                        <span class="control-label" data-ng-show="!p.Settings['NameColumn']">Value: </span>
                        <input type="text" class="form-control text" data-ng-model="nameValue.value" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </div>

                <button class="btn btn-info btn-sm" type="button" data-ng-click="itemParameters[p.Id] = itemParameters[p.Id] || []; itemParameters[p.Id].push({'value':''});" style="margin-top: 6px;">
                    <span data-ng-show="!p.Settings['ButtonName']">New Parameter</span>
                    <span data-ng-show="p.Settings['ButtonName']">{{p.Settings['ButtonName']}}</span>
                </button>
            </div>
        </div>

        <div class="form-group grid-field" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Grid">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" ng-if="p.HelpText" data-dynamic="p.HelpText" style="padding-top:10px;"></p>
                <div class="row">
                    <label ng-repeat="column in p.Settings.Columns" class="col-sm-{{column.Settings.ColSize}} control-label" style="text-align: left;" ng-show="!column.Settings.NoColumnLabel">
                        {{column.Title.default}}
                        <span ng-if="column.HelpText" class="glyphicon glyphicon-info-sign help info" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{column.HelpText.default}}"></span>
                    </label>
                </div>
                <div data-ng-repeat="row in itemParameters[p.Id]" class="row">
                    <div class="col-sm-{{column.Settings.ColSize}}" ng-repeat="column in p.Settings.Columns" ng-show="evalShowCondition(column.Settings, row)">

                        <div data-dnnsf-initparam=""
                             data-parameters-container="row"
                             data-parameter-def="column"></div>

                        <div data-dnnsf-render-param=""
                             data-use-action-info="useActionInfo"
                             data-def="column"
                             data-item="item"
                             data-container="row"
                             data-model="row[column.Id]"
                             data-fields="fields"></div>
                    </div>

                    <div class="col-sm-1">
                        <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </div>

                <button class="btn btn-info btn-sm" type="button" data-ng-click="itemParameters[p.Id] = itemParameters[p.Id] || []; itemParameters[p.Id].push({});" style="margin-top: 6px;">
                    <span data-ng-show="!p.Settings['ButtonName']">New Parameter</span>
                    <span data-ng-show="p.Settings['ButtonName']">{{p.Settings['ButtonName']}}</span>
                </button>
            </div>
        </div>


        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Number">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control number" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="URL">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control url" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" style="margin-top:20px;" data-ng-switch-when="ActionList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
                <div class="event-root">

                    <div data-dnnsf-calldirective=""
                         data-pass-dnnsf-use-action-info="useActionInfo"
                         data-pass-dnnsf-actions="actions"
                         data-pass-dnnsf-defs="actionDefs"
                         data-pass-dnnsf-defgroups="actionDefGroups"
                         data-pass-event-name="p.Settings['Event']"
                         data-pass-dnnsf-fields="fields"
                         data-pass-dnnsf-field="item"
                         data-pass-dnnsf-actionlist="itemParameters[p.Id]">
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Password">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="InheritableSettings">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control text" data-ng-model="item.parameters[p.Id].value" data-ng-disabled="item.parameters[p.Id].canOverrideDisabled" />
                <p class="text-muted help" data-ng-bind-html="$sce.trustAsHtml(localize(p.HelpText))"></p>
            </div>
            <div class="col-sm-2">
                <label data-ng-hide="item.parameters[p.Id].inheritHidden"><input type="checkbox" title="Use the value from parent scope." data-ng-model="item.parameters[p.Id].inherit" data-ng-disabled="item.parameters[p.Id].canOverrideDisabled" /> inherit</label>
                <label><input type="checkbox" title="Locked settings can't be overridden in child scopes." data-ng-model="item.parameters[p.Id].canOverride" data-ng-disabled="item.parameters[p.Id].canOverrideDisabled" /> can be overridden</label>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="ActionCredentials">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10" data-ng-init="actionCredentials.initModel(p, itemParameters)" ng-show="!itemParameters[p.Id].IsExpression">
                <div class="row">
                    <label class="col-sm-1 control-label">Group</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select class="form-control"
                                    ng-model="itemParameters[p.Id].Group"
                                    ng-options="group.Value as group.Text for group in actionCredentials.getGroups(p.Settings.Type, itemParameters[p.Id])"
                                    ng-change="actionCredentials.groupOnChange(p.Settings.Type, itemParameters[p.Id])"></select>
                            <span class="input-group-btn"
                                  data-toggle="tooltip" data-placement="top" title="Manage Credentials">
                                <button class="btn btn-info" style="margin-left:1px"
                                        type="button" data-toggle="modal" data-target="#credentialsModal-{{p.$_cleanHashKey}}"
                                        ng-click="iframeSrc = initActionCredentialIframe(p, '#credentialsModal-' + p.$_cleanHashKey)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align:center">
                    <label class="col-sm-1 control-label">Entry</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select class="form-control" ng-model="itemParameters[p.Id].Entry"
                                    ng-options="entry.Value as entry.Text for entry in actionCredentials.getEntries(p.Settings.Type, p.Settings.Selection, itemParameters[p.Id].Group, itemParameters[p.Id])"
                                    ng-change="actionCredentials.updateEntireGroup(p.Id, p.Settings.Selection, itemParameters)">
                                <option ng-show="p.Settings.Selection == 'Multiple'" value="">&lt;All Entries&gt;</option>
                            </select>
                            <span class="input-group-btn"
                                  data-toggle="tooltip" data-placement="top" title="Switch to Entry ID">
                                <button class="btn btn-default btn-xs" style="margin-left:1px"
                                        type="button"
                                        ng-click="actionCredentials.toggleExpr(itemParameters[p.Id])">
                                    EXPR
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <p class="text-muted help" data-ng-bind-html="$sce.trustAsHtml(localize(p.HelpText))"></p>
            </div>
            <label class="col-sm-1 control-label" ng-show="showEntryIdInput">Entry ID: </label>
            <div class="col-sm-8" ng-show="itemParameters[p.Id].IsExpression">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="itemParameters[p.Id].Entry" />
                    <span class="input-group-btn"
                          data-toggle="tooltip" data-placement="top" title="Manage Credentials">
                        <button class="btn btn-info" style="margin-left:1px"
                                type="button" data-toggle="modal" data-target="#credentialsModal-{{p.$_cleanHashKey}}"
                                ng-click="iframeSrc = initActionCredentialIframe(p, '#credentialsModal-' + p.$_cleanHashKey)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </span>
                    <span class="input-group-btn"
                          data-toggle="tooltip" data-placement="top" title="Switch to Group and Entries">
                        <button class="btn btn-success btn-xs" style="margin-left:1px"
                                type="button"
                                ng-click="actionCredentials.toggleExpr(itemParameters[p.Id])">
                            EXPR
                        </button>
                    </span>
                </div>
            </div>
            <div class="modal fade cred" id="credentialsModal-{{p.$_cleanHashKey}}" tabindex="-1" role="dialog">
                <div class="modal-dialog cred-dialog" role="document">
                    <div class="modal-content cred-content">
                        <button type="button" style="position:relative;padding:1px;z-index:1050" class="close btn btn-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="modal-body cred-body">
                            <iframe width="100%" height="100%" src="{{iframeSrc}}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="evalShowCondition(p.Settings)" data-ng-switch-when="Iframe">
            <label ng-if="!itemParameters.NoLabel" class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-{{itemParameters.NoLabel ? '12' : '10'}}">
                <iframe ng-src="{{itemParameters[p.Id]}}" width="{{itemParameters.Width}}" height="{{itemParameters.Height}}"></iframe>
                <!--<input type="text" class="form-control text" data-ng-model="itemParameters[p.Id]" placeholder="{{localize(p.Placeholder)}}" />-->
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group form-group-baseline" style="margin-top:10px;" ng-show="evalShowCondition(p.Settings)" data-ng-switch-default="">
            <label class="col-sm-2 col-xs-12 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10 col-xs-11">
                <input type="text" class="form-control text" data-ng-model="itemParameters[p.Id]" placeholder="{{localize(p.Placeholder)}}" />
                <p class="text-muted help hidden-xs" data-dynamic="p.HelpText"></p>
            </div>
            <span class="helptext-visible-xs col-xs-1"
                  data-toggle="collapse"
                  data-target="#condition{{item.$_uid + p.Id}}"
                  aria-expanded="false"
                  aria-controls="condition{{item.$_uid + p.Id}}">
                <i class="glyphicon glyphicon-question-sign" style="font-size: 20px;vertical-align: middle;"></i>
            </span>
            <div class="visible-xs col-xs-12">
                <div class="collapse" id="condition{{item.$_uid + p.Id}}" aria-expanded="false" style="height: 0px;">
                    <p class="text-muted help" data-dynamic="p.HelpText"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bstrap3-material .helptext-visible-xs {
        display: none !important;
    }

    @media (max-width: 767px) {
        .bstrap3-material .helptext-visible-xs {
            display: inline-block !important;
        }
    }
</style>