[
    {
        "Id": "ActionForm.IItemsDatasourceService",
        "ServiceType": "avt.ActionForm.Core.Services.IItemsDatasourceService, avt.ActionForm.Core",
        "ImplementationType": "avt.ActionForm.Core.Services.ItemsDatasourceService, avt.ActionForm.Core",
        "ServiceKey": "",
        "Reuse": "Singleton"
    }
]