[{
    "Id": "DnnSharp.SharpCdn.ServiceRegistrator",
    "ServiceType": "DnnSharp.Common2.Services.IServiceRegistrator,DnnSharp.Common2",
    "ImplementationType": "DnnSharp.SharpCdn.ServiceRegistrator,DnnSharp.SharpCdn",
    "ServiceKey": "",
    "ContainerName": "root",
    "Reuse": "Singleton"
}]