<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hotcakes.Shetab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Hotcakes.Shetab.Properties.Settings>
            <setting name="Hotcakes_Shetab_com_zarinpal_ir_PaymentGatewayImplementationService"
                serializeAs="String">
                <value>https://ir.zarinpal.com/pg/services/WebGate/service</value>
            </setting>
            <setting name="Hotcakes_Shetab_com_zarinpal_de_PaymentGatewayImplementationService"
                serializeAs="String">
                <value>https://de.zarinpal.com/pg/services/WebGate/service</value>
            </setting>
            <setting name="Hotcakes_Shetab_ir_shaparak_bpm_PaymentGatewayImplService"
                serializeAs="String">
                <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
            </setting>
        </Hotcakes.Shetab.Properties.Settings>
    </applicationSettings>
</configuration>