<?xml version="1.0" encoding="utf-8"?>
<ItemDataSources>

    <DataSource>
        <Id>Items</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.Items, DnnSharp.Common</TypeStr>

        <Settings>

        </Settings>

        <Parameter>
            <Id>Items</Id>
            <Title>
                <Item key="default">Items List</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    Can contain <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

    </DataSource>
    
    <DataSource>
        <Id>FrontEndDataSources</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.FrontEndDataSources, avt.ActionForm.Core</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>FilesInFolder</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FilesInFolder, DnnSharp.Common</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>PortalFolders</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFolders, DnnSharp.Common</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>PortalFolderList</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFolderList, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>PortalPages</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalPages, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Portals</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.Portals, DnnSharp.Common</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Regions</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.DnnList, DnnSharp.Common</TypeStr>
        <Settings>
            <ListName>Region</ListName>
            <BaseKey>Country</BaseKey>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>RecurringPayments</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FromEnum, DnnSharp.Common</TypeStr>

        <Settings>
            <Enum>avt.ActionForm.Core.Actions.ePayPalRecurringInterval</Enum>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>Currency</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.FromXml, DnnSharp.Common</TypeStr>

        <Settings>
            <Path>[AppPath]\Config\Currency.xml</Path>
        </Settings>

    </DataSource>

     <DataSource>
        <Id>BgPatterns</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/patterns</RestrictFolder>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>BgImages</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/images</RestrictFolder>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource> 

    <DataSource>
        <Id>SQL Query</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.SqlQuery, DnnSharp.Common</TypeStr>

        <Settings>
            
        </Settings>

         <Parameter>
            <Id>ConnectionString</Id>
            <Title>
                <Item key="default">Connection String</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Specify a connection string or the name of a connection string form web.config. Leave this field empty to use the connection string from DNN.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SqlQuery</Id>
            <Title>
                <Item key="default">SQL Query</Item>
            </Title>
            <Type>Code</Type>
            <HelpText>
                <Item key="default">
                    SQL to execute. Can contain <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>
        
    </DataSource> 
	
	<DataSource>
		<Id>DnnEmailTemplatesSource</Id>
        <TypeStr>DnnSharp.Common.ItemDataSources.DnnEmailTemplatesSource, DnnSharp.Common</TypeStr>
	</DataSource>
    
</ItemDataSources>
