/*===== LOADER =====*/
.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999999999999;
  top: 0;
  text-align: center;
}
.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
/*===== END LOADER =====*/
.dropdown-menu .action-selected {
  text-decoration: none;
  color: #fff !important;
  background-color: #757575;
}
.dropdown-menu .field-selected {
  text-decoration: none;
  color: #fff !important;
  background-color: #757575;
}
.dropdown-submenu .dropdown-menu.hover {
  display: block;
}