[
    {
        "Title": "Agreement Links",
        "Name": "agreement-links",
        "Categories": [
            "Multiple Choice"
        ],
        "JsIncludes": [
        "[commonUrl]/static/angular15/agreementlinks/agreementlinks.js"
    ],
        "TypeStr": "avt.ActionForm.Core.Input.AgreementLinks,avt.ActionForm.Core",
        "Settings": {
            "TemplateFile": "controls/agreement-links.xsl"
        },
        "Parameters": [
            {
                "Id": "Value",
                "Title": {
                    "default": "Initially Checked"
                },
                "Type": "Boolean",
                "DefaultValue": {
                    "default": "false"
                },
                "HelpText": {
                    "default": "Determines whether this field will load initially checked."
                }
            },
        
            {
                "Id": "TermsAndConditions",
                "Title": {
                    "default": "Content"
                },
                "Type": "Grid",
                "Settings": {
                    "Columns": [
                        {
                            "Id": "ContentType",
                            "Type": "Select",
                            "Title": {
                                "default": "Type"
                            },
                            "Settings": {
                                "Items": {
                                    "html": {
                                        "default": "Html"
                                    },
                                    "page": {
                                        "default": "Page"
                                    }
                                },
                                "ColSize":1,
                                "NoColumnLabel": false
                            },
                            "DefaultValue": {
                                "default":"html"
                            }
                        },
                        {
                            "Id": "LinkText",
                            "Title": {
                                "default": "Link Text"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 2,
                                "NoColumnLabel": false
                            }
                        },
                        {
                            "Id": "PageId",
                            "Title": {
                                "default": "Content"
                            },
                            "Type": "Select",
                            "Settings": {
                                "DataSource": "PortalPages",
                                "ColSize": 8,
                                "NoColumnLabel": false,
                                "ShowCondition": "row['ContentType']['Value']=='page'",
                                "SupportsExpressions": "true"
                            }
                        },
                         {
                            "Id": "Html",
                            "Title": {
                                "default": "Html"
                            },
                            "Type": "RichText",
                            "Settings": {
                                "ColSize":8,
                                "NoLabel": true,
                                "NoColumnLabel":true,
                                "ShowCondition": "row['ContentType']['Value']=='html'"
                            }
                        }
                  
                    ],
                    "ModuleDef": ""
                }
            },
              {
                "Id": "EnforceReading",
                "Title": {
                    "default": "Enforce reading terms"
                },
                "Type": "Boolean",
                "DefaultValue": {
                    "default": "false"
                },
                "HelpText": {
                    "default": "By checking this all terms popups will be opened one by one and have to be agreed to before setting the checkbox to true."
                }
              },
             {
                "Id": "WordBetween",
                "Title": {
                    "default": "Word between links"
                },
                "Type": "Text",
                "DefaultValue": {
                    "default": "and"
                },
                "HelpText": {
                    "default": "Displays a text between the links."
                }
            },
            {
                "Id": "PopupWidth",
                "Title": {
                    "default": "Popup Width"
                },
                "Type": "Text",
                "DefaultValue": {
                    "default": "80%"
                },
                "HelpText": {
                    "default": "Please set modal width CSS property(px,%,em)"
                }
            },
            {
                "Id": "PopupHeight",
                "Title": {
                    "default": "Popup Height"
                },
                "Type": "Text",
                "DefaultValue": {
                    "default": "auto"
                },
                "HelpText": {
                    "default": "Please set modal height CSS property(px,%,em)"
                }
            },
            {
                "Id": "CloseButton",
                "Title": {
                    "default": "Popup Close Button"
                },
                "Type": "Text",
                "DefaultValue": {
                    "default": "I agree"
                },
                "HelpText": {
                    "default": "Please set the close button text, if this value is empty the close button will not be displayed. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> so you can pull data from various sources such as user profile."
                }
            },
            {
                "Id": "SaveToReport",
                "Title": {
                    "default": "Save to Report"
                },
                "Type": "Boolean",
                "DefaultValue": {
                    "default": "false"
                },
                "HelpText": {
                    "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
                }
            }
        ]
    }
]