[{
    "Title": "Button",
    "Name": "button",
    "Categories": ["Buttons"],
    "TypeStr": "avt.ActionForm.Core.Input.Button,avt.ActionForm.Core",
    "JsIncludes": [],
    "CssIncludes": [],
    "Settings": {
        "HasInputValidation": "false",
        "HasValue": "false",
        "IsCommon": "true"
    },
    "Parameters": [{
            "Id": "CausesValidation",
            "Type": "Boolean",
            "Title": {
                "default": "Causes Validation"
            },
            "HelpText": {
                "default": "This determines whether the form will be validated when the button is clicked. Usually you'll want this option \"on\" for Submit buttons and \"off\" for cancel buttons."
            },
            "DefaultValue": {
                "default": "True"
            }
        },
        {
            "Id": "IsDefaultButton",
            "Type": "Boolean",
            "Title": {
                "default": "Default button"
            },
            "HelpText": {
                "default": "This determines the default button when submitting the form using the Enter key"
            },
            "DefaultValue": {
                "default": "True"
            }
        },
        {
            "Id": "ButtonSize",
            "Type": "Select",
            "Title": {
                "default": "Button Size"
            },
            "Settings": {
                "Items": {
                    "btn-xs": {
                        "default": "Mini"
                    },
                    "btn-sm": {
                        "default": "Small"
                    },
                    "btn-normal": {
                        "default": "Normal"
                    },
                    "btn-lg": {
                        "default": "Large"
                    }
                }
            },
            "DefaultValue": {
                "default": "btn-normal"
            }
        },
        {
            "Id": "ButtonType",
            "Type": "Select",
            "Title": {
                "default": "Button Type"
            },
            "Settings": {
                "Items": {
                    "btn-primary": {
                        "default": "Primary"
                    },
                    "btn-info": {
                        "default": "Info"
                    },
                    "btn-success": {
                        "default": "Success"
                    },
                    "btn-warning": {
                        "default": "Warning"
                    },
                    "btn-danger": {
                        "default": "Danger"
                    },
                    "btn-link": {
                        "default": "Link"
                    }
                }
            },
            "DefaultValue": {
                "default": "btn-info"
            }
        },
        {
            "Id": "ButtonAlign",
            "Type": "Select",
            "Title": {
                "default": "Button Align"
            },
            "HelpText": {
                "default": "Determines the alignment of the button. By default, it will align with the controls."
            },
            "Settings": {
                "Items": {
                    "block": {
                        "default": "Full Width"
                    },
                    "left": {
                        "default": "Left"
                    },
                    "center": {
                        "default": "Center"
                    },
                    "right": {
                        "default": "Right"
                    }
                }
            },
            "DefaultValue": {
                "default": "left"
            }
        },
        {
            "Id": "ButtonIcon",
            "Type": "Text",
            "Title": {
                "default": "Button Icon"
            },
            "HelpText": {
                "default": "Use <a href=\"https://fontawesome.com/v5.12.1/icons?d=gallery\">font awesome version 5.12.1 classes</a> to label the button with icons. (fa-*shortcode*).<br/>You can use 4 different styles - Solid(fas), Regular(far), Light(fal) and Brands(fab). Example:(fas fa-*shortcode*).<br/>You can also use \"pull-left\" and \"pull-right\" bootstrap classes to modify the position of the icon (not supported on firefox)."
            },
            "Placeholder": {
                "default": "fa-pencil"
            }
        },
        {
            "Id": "ButtonExecutingActionMessage",
            "Type": "Select",
            "Title": {
                "default": "Button Message While Executing Actions"
            },
            "HelpText": {
                "default": "Select if the displayed message should be retrieved from the localization or a custom message specified below."
            },
            "Settings": {
                "Items": {
                    "localize": {
                        "default": "Use localization"
                    },
                    "custom": {
                        "default": "Custom"
                    }
                }
            },
            "DefaultValue": {
                "default": "localize"
            }
        },
        {
            "Id": "ButtonWaitingMessage",
            "Type": "Text",
            "Title": {
                "default": "Button Custom Message"
            },
            "HelpText": {
                "default": "Write a custom message to be shown on the button while executing the actions in the background(eg. Please wait...)."
            },
            "DefaultValue": {
                "default": "Please wait..."
            },
            "Settings": {
                "ShowCondition": "itemParameters['ButtonExecutingActionMessage'].Value == 'custom'"
            }
        },
        {
            "Id": "ConnectedForms",
            "Type": "Grid",
            "Title": {
                "default": "Connected Forms"
            },
            "HelpText": {
                "default": "You can use this setting to connect other Action Form modules (from the same page) and submit them together.<br />The actions from the current button will be executed, and you will have access to fields from the other forms using the following token: [&lt;FormName&gt;:&lt;FieldID&gt;]. <br /><span class='text-warning'>Note:</span> The connected forms field tokens will not be available in the <b>On Change/Click</b> section.<br /><span class='text-warning'>Note:</span> The submitted values will not be saved in Reports."
            },
            "IsPublic": true,
            "Settings": {
                "Columns": [{
                        "Id": "FormId",
                        "Type": "Select",
                        "Title": {
                            "default": "Form Module"
                        },
                        "Settings": {
                            "DataSource": "Modules",
                            "moduleType": "Action Form",
                            "ColSize": 3,
                            "Interpolate": true,
                            "SupportsExpressions": "true"
                        }
                    },
                    {
                        "Id": "FormName",
                        "Type": "Text",
                        "Title": {
                            "default": "Form Name"
                        },
                        "HelpText": {
                            "default": "This is used to access the fields in the connected form. (e.g. [<FormName>:<FieldID>])"
                        },
                        "Settings": {
                            "ColSize": 3
                        }
                    }
                ],
                "ButtonName": "Add"
            }
        },
        {
            "Id": "Actions",
            "Type": "ActionList",
            "Title": {
                "default": "On Click Handler"
            },
            "Settings": {
                "Event": "click"
            }
        }
    ]
}]