[{
  "Title": "Clock",
  "Name": "clock",
  "Categories": ["Date and Time"],
  "TypeStr": "avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core",
  "JsIncludes": [
    "[commonUrl]/static/angular15/clock/angular-clock.js"
  ],
  "CssIncludes": [
    "[commonUrl]/static/angular15/clock/angular-clock.css"
  ],
  "Settings": {
    "TemplateFile": "controls/clock.xsl"
  },
  "Parameters": [{
      "Id": "Value",
      "Title": {
        "default": "Initial Value"
      },
      "HelpText": {
        "default": "The fields loads initially having this value. The time should be represented in miliseconds. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> so you can pull data from various sources such as user profile."
      }
    },
    {
      "Id": "ClockType",
      "Title": {
        "default": "Clock Type"
      },
      "DefaultValue": {
        "default": "both"
      },
      "Type": "Select",
      "Settings":{
        "Items":{
          "analog": { "default": "Analog" },
          "digital": { "default": "Digital" },
          "both": { "default": "Both" }
        }
      }
    },
    {
      "Id": "ClockDigitalFormat",
      "Title": {
        "default": "Digital Format"
      },
      "DefaultValue": {
        "default": "HH:mm:ss a"
      },
      "HelpText": {
        "default": "This is the format used by AngularJS. You can find more information <a href=\"https://docs.angularjs.org/api/ng/filter/date\" target=\"_blank\" tabindex=\"-1\">here</a>."
      },
      "Settings": {
        "ShowCondition": "itemParameters['ClockType'].Value == 'digital' || itemParameters['ClockType'].Value == 'both'"
      }
    },
    {
      "Id": "DigitalStyles",
      "Title": {
        "default": "Digital Styles"
      },
      "DefaultValue": {
        "default": ""
      },
      "HelpText": {
        "default": "Customize the digital clock's CSS, e.g. change font or background color."
      },
      "Settings": {
        "ShowCondition": "itemParameters['ClockType'].Value == 'digital' || itemParameters['ClockType'].Value == 'both'"
      }
    },
    {
      "Id": "ClockGMTOffset",
      "Title": {
        "default": "Clock Offset"
      },
      "Type": "Select",
      "DefaultValue": {
        "default": ""
      },
      "Settings": {
        "Items": {
          "-12":{"default": "UTC-12:00"},
          "-11":{"default": "UTC-11:00"},
          "-10":{"default": "UTC-10:00"},
          "-9.30":{"default": "UTC-09:30"},
          "-9":{"default": "UTC-09:00"},
          "-7":{"default": "UTC-07:00"},
          "-6":{"default": "UTC-06:00"},
          "-5":{"default": "UTC-05:00"},
          "-4.30":{"default": "UTC-04:30"},
          "-4":{"default": "UTC-04:00"},
          "-3":{"default": "UTC-03:00"},
          "-2":{"default": "UTC-02:00"},
          "-1":{"default": "UTC-01:00"},
          "0":{"default": "UTC 00:00"},
          "1":{"default": "UTC+01:00"},
          "2":{"default": "UTC+02:00"},
          "3":{"default": "UTC+03:00"},
          "4.00":{"default": "UTC+04:00"},
          "4.30":{"default": "UTC+04:30"},
          "5":{"default": "UTC+05:00"},
          "5.30":{"default": "UTC+05:30"},
          "5.45":{"default": "UTC+05:45"},
          "6":{"default": "UTC+06:00"},
          "6.30":{"default": "UTC+06:30"},
          "7":{"default": "UTC+07:00"},
          "8":{"default": "UTC+08:00"},
          "8.45":{"default": "UTC+08:45"},
          "9":{"default": "UTC+09:00"},
          "9.30":{"default": "UTC+09:30"},
          "10":{"default": "UTC+10:00"},
          "11":{"default": "UTC+11:00"},
          "11.30":{"default": "UTC+11:30"},
          "12":{"default": "UTC+12:00"},
          "13":{"default": "UTC+13:00"},
          "14":{"default": "UTC+14:00"}
        },
        "SupportsExpressions": "true"
      },
      "HelpText": {
        "default": "Choose the timezone. Expression-mode example: 4.30 (for UTC+04:30)"
      }
    },
    {
      "Id": "ClockGMTInfo",
      "Title": {
        "default": "Show GMT Info"
      },
      "DefaultValue": {
        "default": "false"
      },
      "Type": "Boolean",
      "HelpText": {
        "default": "Show timezone under the clock."
      }
    },
    {
      "Id": "ClockTheme",
      "Title": {
        "default": "Clock Theme"
      },
      "DefaultValue": {
        "default": "light"
      },
      "Type": "Select",
      "Settings": {
        "Items": {
          "light": { "default": "Light" },
          "dark": { "default": "Dark" }
        }
      },
      "HelpText": {
        "default": " "
      }
    },
    {
      "Id": "SaveToReport",
      "Title": {
        "default": "Save to Report"
      },
      "Type": "Boolean",
      "DefaultValue": {
        "default": "false"
      },
      "HelpText": {
        "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
      }
    }
  ]
}]