<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

  <Type>
    <Title>Color Picker</Title>
    <Name>color-picker</Name>
    <Category>Text</Category>
    <HelpText></HelpText>
    <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
    <Settings>
      <IsCommon>true</IsCommon>
    </Settings>

    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initial Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          The format is a hash (#) followed by 6 numbers or letters from 0 to 9 and from A to F.
          The fields loads initially having this value.
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>SaveToReport</Id>
      <Title>
        <Item key="default">Save to Report</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>Readonly</Id>
      <Title>
        <Item key="default">Readonly</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be Readonly.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>

    <JsIncludes>
      <Include>[commonurl]/static/jquery/jquery.inputmask.js</Include>
    </JsIncludes>
    <JsIncludes>
      <Include>[commonurl]/static/angular15/colorpicker/color-picker.min.js</Include>
    </JsIncludes>
    <CssIncludes>
      <Include>[commonurl]/static/angular15/colorpicker/color-picker.min.css</Include>
    </CssIncludes>
  </Type>
</InputTypes>
