[{
    "Title": "Currency",
    "Name": "currency",
    "Categories": ["Text"],
    "JsIncludes": [
        "[commonUrl]/static/jquery/jquery.maskMoney.min.js",
        "[commonUrl]/static/angular15/ng-currency.js"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.Currency,avt.ActionForm.Core",
    "Settings": {
        "TemplateFile": "controls/currency.xsl"
    },
    "HelpText": {
        "default": "Displays a floating point value as a currency amount. Tokens generated: <b>[&lt;FieldName&gt;]</b> - with the floating point value, <b>[&lt;FieldName&gt;:Currency]</b>, <b>[&lt;FieldName&gt;:Precision]</b>. When in manual formatting mode, additional tokens are generated: <b>[&lt;FieldName&gt;:ThousandsSeparator]</b>, <b>[&lt;FieldName&gt;:DecimalSeparator]</b>."
    },
    "Parameters": [
    {
        "Id": "InitalValue",
        "Title": {
          "default": "Initial Value"
        },
        "Type": "Text",
        "DefaultValue": {
          "default": ""
        },
        "HelpText": {
          "default":
            "The fields loads initially having this value. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> so you can pull data from various sources such as user profile."
        }
      },
    {
            "Id": "FormatterType",
            "Type": "Select",
            "Title": {
                "default": "Formatter Type"
            },
            "Settings": {
                "Items": {
                    "manual": {
                        "default": "Manual"
                    },
                    "auto": {
                        "default": "Auto"
                    }
                },
                "SupportsExpressions": "true"
            },
            "DefaultValue": {
                "default": "manual"
            }
        },
        {
            "Id": "Currency",
            "Title": {
                "default": "Currency"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "USD"
            },
            "HelpText": {
                "default": "For auto formatter please check the <a href=\"https://www.currency-iso.org/en/home/tables/table-a1.html\" target=\"_blank\">supported currency code list</a>. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "CurrencyPosition",
            "Type": "Select",
            "Title": {
                "default": "Currency symbol position"
            },
            "Settings": {
                "Items": {
                    "before": {
                        "default": "Before amount"
                    },
                    "after": {
                        "default": "After amount"
                    }
                },
                "SupportsExpressions": "true",
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "DefaultValue": {
                "default": "before"
            }
        },
        {
            "Id": "Locales",
            "Title": { "default": "Locales" },
            "HelpText": { "default": "The selected language formatting conventions will be used to customize the behavior of the formatter." },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "browser": {
                        "default": "Browser language"
                    },
                    "portal": {
                        "default": "Portal language"
                    },
                    "user": {
                        "default": "User profile language"
                    },
                    "manual": {
                        "default": "Manual"
                    }
                },
                "SupportsExpressions": "true",
                "ShowCondition": "itemParameters['FormatterType'].Value == 'auto'"
            },
            "DefaultValue": {
                "default": "browser"
            }
        },
        {
            "Id": "LanguageCode",
            "Title": {
                "default": "Language code"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "en-US"
            },
            "Settings": {
                "ShowCondition": "itemParameters['Locales'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "ThousandsSeparator",
            "Title": {
                "default": "Thousands separator"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": ","
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "DecimalSeparator",
            "Title": {
                "default": "Decimal separator"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "."
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "Precision",
            "Title": {
                "default": "Precision"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "2"
            },
            "HelpText": {
                "default": "How many decimal places are allowed. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "AffixesStay",
            "Title": {
                "default": "Symbol visible on blur"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "true"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Set if the symbol will stay in the field after the user exits the field."
            }
        },
        {
            "Id": "BringCaretAtEndOnFocus",
            "Title": {
                "default": "Caret at the end"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "true"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Place caret at the end of the input on focus."
            }
        },
        {
            "Id": "FormatOnBlur",
            "Title": {
                "default": "Format on blur"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Delay formatting of text field until focus leaves the field."
            }
        },
        {
            "Id": "AllowZero",
            "Title": {
                "default": "Allow zero"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Prevent users from inputing zero."
            }
        },
        {
            "Id": "AllowNegative",
            "Title": {
                "default": "Allow negative"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Prevent users from inputing negative values."
            }
        },
        {
            "Id": "AllowEmpty",
            "Title": {
                "default": "Allow empty"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Allow empty input values, so that when you delete the number it doesn't reset to 0.00."
            }
        },
        {
            "Id": "DoubleClickSelection",
            "Title": {
                "default": "Double click selection"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "true"
            },
            "Settings": {
                "ShowCondition": "itemParameters['FormatterType'].Value == 'manual'"
            },
            "HelpText": {
                "default": "Select text in the input on double click."
            }
        },
        {
            "Id": "SelectAllOnFocus",
            "Title": {
                "default": "Select all on focus"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "HelpText": {
                "default": "Select all text in the input when the element fires the focus event."
            }
        },
         {
            "Id": "Readonly",
            "Title": {
                "default": "Readonly"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "HelpText": {
                "default": "The field will be Readonly."
            }
        },
        {
            "Id": "SaveToReport",
            "Title": {
                "default": "Save to Report"
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": "false"
            },
            "HelpText": {
                "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
            }
        }
    ]
}]