<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

  <!--<Type>
    <Title>Date (with AngulareJS DatePicker)</Title>
    <Name>time</Name>
    <Category>Date and Time</Category>
    <HelpText></HelpText>
    <TypeStr>avt.ActionForm.Core.Input.angulareJsDatePickercs,avt.ActionForm.Core</TypeStr>

    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initially Checked</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Determines which item is initially selected.
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
    </Parameter>
  </Type>-->
  
    <Type>
        <Title>Date (with jQuery DatePicker) - Obsolete</Title>
        <Name>datetime</Name>
        <Category>Date and Time</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core</TypeStr>

      <JsIncludes>
        <Include>[jQueryUi]</Include>
      </JsIncludes>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SaveToReport</Id>
            <Title>
                <Item key="default">Save to Report</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>
        
    </Type>

    <Type>
        <Title>Date (with Month/Year Picker) - Obsolete</Title>
        <Name>datetime-monthyear</Name>
        <Category>Date and Time</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core</TypeStr>
        <Flag>yearpick</Flag>
        <Flag>monthpick</Flag>

        <JsIncludes>
          <Include>[jQueryUi]</Include>
        </JsIncludes>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>YearRange</Id>
            <Title>
                <Item key="default">Year Range</Item>
            </Title>
            <HelpText>
                <Item key="default">The range of years displayed in the year drop-down: either relative to today's year ("-nn:+nn"), relative to the currently selected year ("c-nn:c+nn"), absolute ("nnnn:nnnn"), or combinations of these formats ("nnnn:-nn").</Item>
            </HelpText>
            <Type>Text</Type>
            <DefaultValue>
                <Item key="default">-50:+50</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>DateFormat</Id>
            <Title>
                <Item key="default">Date Format</Item>
            </Title>
            <HelpText>
                <Item key="default">Optionally, provide a custom date format, for example <em>dd/mm/yy</em>. Leave empty to take the server locale default format.</Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>JsonOptions</Id>
            <Title>
                <Item key="default">Other Options for jQuery UI Datepicker (JSON)</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Optionally provide a JSON object with other options to pass into the jQuery Date Picker control.
                    For example, write <em>{ beforeShowDay: $.datepicker.noWeekends }</em> to disable selecting weekends.
                </Item>
            </HelpText>
            <Type>Textarea</Type>
        </Parameter>

        <Parameter>
            <Id>SaveToReport</Id>
            <Title>
                <Item key="default">Save to Report</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>
        
    </Type>

  <Type>
    <Title>Date And Time</Title>
    <Name>date-and-time</Name>
    <Category>Date and Time</Category>
    <HelpText>
      <Item key="default">
        Allows users to select date and/or time.
        On submit, this field will generate the following tokens:
        [&lt;FieldName&gt;] (which yields the value),
        [&lt;FieldName&gt;:Date],
        [&lt;FieldName&gt;:Day],
        [&lt;FieldName&gt;:Month],
        [&lt;FieldName&gt;:Year],
        [&lt;FieldName&gt;:DayOfMonth],
        [&lt;FieldName&gt;:DayOfYear],
        [&lt;FieldName&gt;:Time],
        [&lt;FieldName&gt;:Hour],
        [&lt;FieldName&gt;:Minute],
        [&lt;FieldName&gt;:Iso]
      </Item>
    </HelpText>
    <TypeStr>avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core</TypeStr>
    <JsIncludes>
      <Include>[commonurl]/static/angular15/i18n/angular-locale_[languagecode].js</Include>
      <Include>[commonurl]/static/jquery/jquery.inputmask.js</Include>
    </JsIncludes>
    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initial Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Determines which item is initially selected.
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>PickerType</Id>
      <Title>
        <Item key="default">DateTime Picker Type</Item>
      </Title>
      <HelpText>
        <Item key="default">
        </Item>
      </HelpText>
      <Type>Select</Type>
      <Settings>
        <Items>{ "MM/dd/yyyy": { "default": "Date" }, "HH:mm": { "default": "Time" }, "MM/dd/yyyy HH:mm": { "default": "Date And Time" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">MM/dd/yyyy HH:mm</Item>
      </DefaultValue>
    </Parameter>
    
    <Parameter>
      <Id>InlineMode</Id>
      <Title>
        <Item key="default">Display Inline</Item>
      </Title>
      <HelpText>
        <Item key="default">
          If enabled, the date and/or time picker will be initially visible.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
      <Settings>
        <ShowCondition>!itemParameters["DateTimeIcon"]</ShowCondition>
      </Settings>
    </Parameter>

    <Parameter>
      <Id>DateTimeIcon</Id>
      <Title>
        <Item key="default">Textbox with button</Item>
      </Title>
      <HelpText>
        <Item key="default">
          If enabled, datepicker will be opened when you click the button.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
            <Settings>
        <ShowCondition>!itemParameters["InlineMode"]</ShowCondition>
      </Settings>
    </Parameter>
    
    
    <Parameter>
      <Id>DateTimeFormat</Id>
      <Title>
        <Item key="default">DateTime Format</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Optionally, provide a custom date/time format, the default format is <em>MM/dd/yyyy HH:mm</em>. Leave empty to take the server locale default format.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>JsonOptions</Id>
      <Title>
        <Item key="default">Other Options for Datepicker (JSON)</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Optionally provide a JSON object with other options to pass into the Date Picker options.
          For example, write <em>{ showWeeks: true, minDate:"[DateTime:Now|yyyy-MM-dd]" }</em>, please check the <a href ="https://github.com/Gillardo/bootstrap-ui-datetime-picker">documentation</a>.
        </Item>
      </HelpText>
      <Type>Textarea</Type>
    </Parameter>

    <Parameter>
      <Id>TimeJsonOptions</Id>
      <Title>
        <Item key="default">Other Options for Timepicker (JSON)</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Optionally provide a JSON object with other options to pass into the Time Picker options.
          For example, write <em>{ showWeeks: true }</em>, please check the <a href ="https://github.com/Gillardo/bootstrap-ui-datetime-picker">documentation</a>.
        </Item>
      </HelpText>
      <Type>Textarea</Type>
    </Parameter>

    <Parameter>
      <Id>SaveToReport</Id>
      <Title>
        <Item key="default">Save to Report</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>

  </Type>

</InputTypes>