[
  {
    "Title": "Device Fingerprint",
    "Name": "device-fingerprint",
    "Categories": ["Security"],
    "TypeStr": "avt.ActionForm.Core.Input.DeviceFingerprinting, avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/device-fingerprint/fp.min.js",
      "[commonUrl]/static/angular15/device-fingerprint/angular-device-fingerprint.js"
    ],
    "Settings": {
      "TemplateFile": "controls/device-fingerprint.xsl"
    },
    "Parameters": [
      {
        "Id": "FPOptions",
        "Title": {
          "default": "Fingerprint Options"
        },
        "Type": "CheckboxList",
        "HelpText": {
          "default": "More information about each option can be found <a target=\"_blank\" href=\"https://github.com/Valve/fingerprintjs2/wiki/List-of-options\">here</a>."
        },
        "Settings": {
          "Items": {
            "excludeUserAgent": {
              "default": "Exclude User Agent"
            },
            "excludeLanguage": {
              "default": "Exclude Language"
            },
            "excludeColorDepth": {
              "default": "Exclude Color Depth"
            },
            "excludeScreenResolution": {
              "default": "Exclude Screen Resolution"
            },
            "excludeAvailableScreenResolution": {
              "default": "Exclude Available Screen Resolution"
            },
            "excludeTimezoneOffset": {
              "default": "Exclude Timezone Offset"
            },
            "excludeSessionStorage": {
              "default": "Exclude Session Storage"
            },
            "excludeIndexedDB": {
              "default": "Exclude IndexedDB"
            },
            "excludeAddBehavior": {
              "default": "Exclude Add Behavior"
            },
            "excludeOpenDatabase": {
              "default": "Exclude Open Database"
            },
            "excludeCpuClass": {
              "default": "Exclude CPU Class"
            },
            "excludePlatform": {
              "default": "Exclude Platform"
            },
            "excludeDoNotTrack": {
              "default": "Exclude Do Not Track"
            },
            "excludeCanvas": {
              "default": "Exclude Canvas"
            },
            "excludeWebGL": {
              "default": "Exclude WebGL"
            },
            "excludeAdBlock": {
              "default": "Exclude Adblock"
            },
            "excludeHasLiedLanguages": {
              "default": "Exclude Language Tampering"
            },
            "excludeHasLiedResolution": {
              "default": "Exclude Resolution Tampering"
            },
            "excludeHasLiedOs": {
              "default": "Exclude OS Tampering"
            },
            "excludeHasLiedBrowser": {
              "default": "Exclude Browser Tampering"
            },
            "excludeJsFonts": {
              "default": "Exclude JS Fonts"
            },
            "excludePlugins": {
              "default": "Exclude Extensions/Plugins"
            },
            "excludeIEPlugins": {
              "default": "Exclude Internet Explorer Plugins"
            },
            "excludeTouchSupport": {
              "default": "Exclude Touch Support"
            },
            "excludePixelRatio": {
              "default": "Exclude Pixel Ratio"
            },
            "excludeHardwareConcurrency": {
              "default": "Exclude Hardware Concurrency"
            },
            "excludeWebGLVendorAndRenderer": {
              "default": "Exclude WebGL Vendor and Renderer"
            },
            "excludeDeviceMemory": {
              "default": "Exclude Device Memory"
            },
            "excludeAudioFP": {
              "default": "Exclude Audio Fingerprinting"
            }
          }
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": " The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      }
    ]
  }
]
