<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

    <Type>
        <Title>Dropdown with Checkboxes</Title>
        <Name>dropdown-checkboxes</Name>
        <Category>Multiple Choice</Category>
        <HelpText>
            <Item key="default">
                Allows users to select a a value from a list.
                On submit, this field will generate the following tokens:
                [&amp;lt;FieldName&amp;gt;] (which yields the value),
                [&amp;lt;FieldName&amp;gt;:Text],
                [&amp;lt;FieldName&amp;gt;:Value],
                [&amp;lt;FieldName&amp;gt;:JsonArray].
                Note that if your options don't have a value (there's nothing after the pipe character in the list below), then all the tokens above will return same value.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoiceMultiSelect,avt.ActionForm.Core</TypeStr>
        <Flag>checkbox</Flag>
        <Settings>
            <IsCommon>true</IsCommon>
        </Settings>

        <Parameter>
            <Id>DisableCheckboxes</Id>
            <Title>
                <Item key="default">Disable Checkboxes</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Determines if the "Enable Conditionally" property disables the button that opens the dropdown or all the checkboxes.
                </Item>
            </HelpText>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>LinkTo</Id>
            <Title>
                <Item key="default">Link to</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Link this to another multi-select field that when changed will cause this control to update with different items.
                    For example, imagine Category and Subcategory selection.
                    When this option is used, prefix each item below with the name of the parent category like this: "Value Of Parent Item/This Item"
                </Item>
            </HelpText>
            <Type>MultipleFieldSelect</Type>
            <Settings>
                <FieldType>['closed-multiple-dropdown', 'closed-multiple-radio', 'closed-multiple-checkbox', 'dropdown-checkboxes', 'dropdown-autocomplete']</FieldType>
            </Settings>
            <DefaultValue>
                <Item key="default">[]</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>DataSource</Id>
            <Title>
                <Item key="default">Data Source</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>FrontEndDataSources</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">Choose from existing data sources or provide values below.</Item>
            </HelpText>
            <DefaultValue>
                <Item key="default">{ "Value": "Items", "Items": "First Item\nSecond Item|WithDifferentValue" }</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the check boxes are initially selected. Possible values are from the list above.
                    Separate multiple values with semicolon (;) characters.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>MaxSelection</Id>
            <Title>
                <Item key="default">Maximum Number of Selections</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    If this option is set, the user will be able to select this maximum number of checkboxes.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SelectedItemsText</Id>
            <Title>
                <Item key="default">Count selections</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Checked - The input will show the number of selected items. &lt;br&gt;
                    Unchecked - The input will show the text of the selected items, separated by comma.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
            <IsPublic>true</IsPublic>
        </Parameter>

        <Parameter>
            <Id>Legend</Id>
            <Title>
                <Item key="default">Checkbox Group Legend</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Here you can write the content for the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend" target="_blank" tabindex="-1">legend</a> html element
                    <br/>Be careful! Completing this field will enable the legend html element which comes with specific CSS styles which you can customize below.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>FieldsetStyles</Id>
            <Title>
                <Item key="default">Fieldset CSS Styles</Item>
            </Title>
            <Type>Text</Type>
            <Settings>
                <ShowCondition>itemParameters["Legend"]</ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>FieldsetClasses</Id>
            <Title>
                <Item key="default">Fieldset CSS Classes</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Input classes separated by space
                </Item>
            </HelpText>
            <Settings>
                <ShowCondition>itemParameters["Legend"]</ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>LegendStyles</Id>
            <Title>
                <Item key="default">Legend CSS Styles</Item>
            </Title>
            <Type>Text</Type>
            <Settings>
                <ShowCondition>itemParameters["Legend"]</ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>LegendClasses</Id>
            <Title>
                <Item key="default">Legend CSS Classes</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Input classes separated by space
                </Item>
            </HelpText>
            <Settings>
                <ShowCondition>itemParameters["Legend"]</ShowCondition>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>SaveToReport</Id>
            <Title>
                <Item key="default">Save to Report</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>
    </Type>

</InputTypes>
