[
  {
    "Title": "Dynamic Field Container",
    "Name": "dynamic-field-container",
    "Categories": ["Hidden Data"],
    "HelpText": {
      "default": "This is a container for adding the dynamic fields from actions in the group <u>Dynamic Fields</u>. Note that fields will copy the UI settings of this container, but you can append more UI settings in each dynamic field. The hierarchy of the fields depends on the order you add them in the actions<br/>This field will generate the following tokens:<br/><b>[&lt;FieldName&gt;:Json]</b> which will output the fields in this container as a JSON object, with the key being the FieldId and the value is the Value of the field (eg. {\"field1\":\"value1\",\"field2\":\"value2\"} ) <br/><b>[&lt;FieldName&gt;:QueryString]</b> which outputs the fields in this container in a QueryString format, meaning they will be joined by & (eg. field1=value1&field2=value2&field3=value3)"
    },
    "TypeStr": "avt.ActionForm.Core.Input.DynamicFieldsContainer,avt.ActionForm.Core",
    "JsIncludes": [],
    "CssIncludes": [],
    "Settings": {
      "TemplateFile": "controls/dynamic-field-container.xsl",
      "HasInputValidation": "false"
    },
    "Parameters": [
    ]
  }
]
