[
  {
    "Title": "Google Places",
    "Name": "googleplaces",
    "Categories": ["Google"],
    "TypeStr": "avt.ActionForm.Core.Input.GooglePlaces,avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/googleplaces/ng-map-places.min.js",
      "[commonUrl]/static/angular15/googleplaces/ng-googleplaces.js"
    ],
    "HelpText": {
      "default": "Shows a Google Places Autocomplete field that can be used to search for addresses. Generates the following tokens: [&lt;FieldName&gt;] - containing all data as JSON, [&lt;FieldName&gt;:lat], [&lt;FieldName&gt;:lng], [&lt;FieldName&gt;:viewport], [&lt;FieldName&gt;:formatted_address] <br> Documentation for the JSON can be found <a href=\"https://developers.google.com/places/web-service/details#PlaceDetailsResults\" target=\"_blank\" tabindex=\"-1\">here.</a>"
    },
    "CssIncludes": [],
    "Settings": {
      "TemplateFile": "controls/googleplaces.xsl"
    },
    "Parameters": [
      {
        "Id": "Apikey",
        "Type": "Text",
        "Title": { "default": "Google API Key" },
        "HelpText": {
          "default": "You can find or create a Google API Key <a href=\"https://console.cloud.google.com/apis/credentials\" target=\"_blank\" tabindex=\"-1\">here</a>."
        },
        "IsPublic": true
      },
      {
        "Id": "Types",
        "Title": {
          "default": "Result Type"
        },
        "DefaultValue": { "default": "mixed" },
        "Type": "Select",
        "Settings": {
          "Items": {
            "mixed": { "default": "Mixed" },
            "geocode": { "default": "Geocode" },
            "address": { "default": "Address" },
            "establishment": { "default": "Establishment" }
          }
        },
        "HelpText": {
          "default": "<strong>Mixed</strong> - Combines Geocode and Establishment types.<br><strong>Geocode</strong> - instructs the Place Autocomplete service to return only geocoding results, rather than business results. Generally, you use this request to disambiguate results where the location specified may be indeterminate.<br><strong>Address</strong> - instructs the Place Autocomplete service to return only geocoding results with a precise address. Generally, you use this request when you know the user will be looking for a fully specified address.<br> <strong>Establishment</strong> - instructs the Places Autocomplete service to return only business results."
        },
        "IsPublic": true
      },
      {
        "Id": "BasicData",
        "Title": { "default": "Basic Data Fields" },
        "Type": "CheckboxList",
        "HelpText": { "default": "Check Google's Prices for <a href=\"https://developers.google.com/maps/billing/understanding-cost-of-use#basic-data\" target=\"_blank\" tabindex=\"-1\">Basic data</a>" },
        "IsPublic": true,
        "Settings": {
          "Defaults": "[\"geometry\", \"formatted_address\"]",
          "Items": {
            "address_component": {
              "default": "address_component"
            },
            "adr_address": {
              "default": "adr_address"
            },
            "alt_id": {
              "default": "alt_id"
            },
            "formatted_address": {
              "default": "formatted_address"
            },
            "geometry": {
              "default": "geometry"
            },
            "icon": {
              "default": "icon"
            },
            "id": {
              "default": "id"
            },
            "name": {
              "default": "name"
            },
            "permanently_closed": {
              "default": "permanently_closed"
            },
            "photo": {
              "default": "photo"
            },
            "place_id": {
              "default": "place_id"
            },
            "plus_code": {
              "default": "plus_code"
            },
            "scope": {
              "default": "scope"
            },
            "type": {
              "default": "type"
            },
            "url": {
              "default": "url"
            },
            "utc_offset": {
              "default": "utc_offset"
            },
            "vicinity": {
              "default": "vicinity"
            }
          }
        }
      },
      {
        "Id": "Contact",
        "Title": { "default": "Contact Fields" },
        "Type": "CheckboxList",
        "HelpText": { "default": "Check Google's Prices for <a href=\"https://developers.google.com/maps/billing/understanding-cost-of-use#contact-data\" target=\"_blank\" tabindex=\"-1\">Contact data</a>" },
        "Settings": {
          "Items": {
            "formatted_phone_number": {
              "default": "formatted_phone_number"
            },
            "international_phone_number": {
              "default": "international_phone_number"
            },
            "opening_hours": {
              "default": "opening_hours"
            },
            "website": {
              "default": "website"
            }
          }
        },
        "IsPublic": true
      },
      {
        "Id": "Atmosphere",
        "Title": { "default": "Atmosphere Fields" },
        "Type": "CheckboxList",
        "HelpText": { "default": "Check Google's Prices for <a href=\"https://developers.google.com/maps/billing/understanding-cost-of-use#atmosphere-data\" target=\"_blank\" tabindex=\"-1\">Atmosphere data</a>" },
        "Settings": {
          "Items": {
            "price_level": {
              "default": "price_level"
            },
            "rating": {
              "default": "rating"
            },
            "review": {
              "default": "review"
            },
            "user_ratings_total": {
              "default": "user_ratings_total"
            }
          }
        },
        "IsPublic": true
      },
      {
        "Id": "SaveToReport",
        "Title": { "default": "Save to Report" },
        "Type": "Boolean",
        "DefaultValue": { "default": "false" },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      }
    ]
  }
]
