[
  {
    "Title": "reCAPTCHA",
    "Name": "recaptcha",
    "Categories": ["Google"],
    "TypeStr": "avt.ActionForm.Core.Input.ReCaptcha,avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/googlerecaptcha/angular-recaptcha.min.js"
    ],
    "CssIncludes": [],
    "Settings": {
      "TemplateFile": "controls/recaptcha.xsl"
    },
    "Parameters": [
      {
        "Id": "InvisibleRecaptcha",
        "Title": { "default": "Invisible Recaptcha" },
        "Type": "Boolean",
        "DefaultValue": { "default": "false" },
        "HelpText": {
          "default": "<b>Note:</b> The secret key and site key are different for invisible recaptcha."
        },
        "IsPublic": true
      },
      {
        "Id": "SiteKey",
        "Type": "Text",
        "Title": { "default": "API Site Key" },
        "HelpText": {
          "default": "This is the public Google API Site Key assigned to your site."
        },
        "IsPublic": true
      },
      {
        "Id": "SecretKey",
        "Type": "Password",
        "Title": { "default": "API Secret Key" },
        "HelpText": {
          "default": "This is the private key that is used to validate the entry with the Google reCAPTCHA service."
        }
      }
    ]
  }
]
