[
  {
    "Title": "Google Maps",
    "Name": "googlemaps",
    "Categories": ["Google"],
    "TypeStr": "avt.ActionForm.Core.Input.GoogleMaps,avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/googlemaps/ng-map.min.js",
      "[commonUrl]/static/angular15/googlemaps/ng-googlemaps.js"
    ],
    "HelpText": {
      "default": "Shows a Google Maps field that can be used to display or create map markers. Generates the following tokens: [&lt;FieldName&gt;] - containing all data as JSON, [&lt;FieldName&gt;:lat], [&lt;FieldName&gt;:long] and [&lt;FieldName&gt;:zoom] - defines the map position, [&lt;FieldName&gt;:hasmarkers], [&lt;FieldName&gt;:markers] - contains a JSON array of the markers contained on the map, [&lt;FieldName&gt;:markerlat] and [&lt;FieldName&gt;:markerlong] - defines the position of the first marker. The markers array contains objects with the following structure: { lat: 1.123, lng: 1.123 }, [&lt;FieldName&gt;:hascircles], [&lt;FieldName&gt;:circles] - contains a JSON array of the circles contained on the map. [&lt;FieldName&gt;:circlelat], [&lt;FieldName&gt;:circlelong], [&lt;FieldName&gt;:circleradius] - define the position of the first circle."
    },
    "CssIncludes": [],
    "Settings": {
      "TemplateFile": "controls/googlemaps.xsl"
    },
    "Parameters": [
      {
        "Id": "Apikey",
        "Type": "Text",
        "Title": { "default": "Google API Key" },
        "HelpText": {
          "default": "You can find or create a Google API Key <a href=\"https://console.cloud.google.com/apis/credentials\" target=\"_blank\" tabindex=\"-1\">here</a>.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "IsPublic": true
      },
      {
        "Id": "CenterType",
        "Title": {
          "default": "Map Center Method"
        },
        "DefaultValue": { "default": "centercoordinates" },
        "Type": "Select",
        "Settings": {
          "Items": {
            "geolocation": { "default": "Geolocation" },
            "centercoordinates": { "default": "Map Center" },
            "zoomtomarkers": { "default": "Zoom to Markers" }
          }
        },
        "HelpText": {
          "default": "Geolocation - tries to get the location and it uses Map Center as a fallback. <br>Map Center - Input the coordinates in the Map Center field below.<br>Zoom To Markers - needs at least 2 markers defined below.<br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "IsPublic": true
      },
      {
        "Id": "Center",
        "Title": {
          "default": "Map Center"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Separate latitude and longitude by comma. Example: 40.730610, -73.935242 <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "IsPublic": true,
        "Settings": {
          "ShowCondition": "itemParameters['CenterType'].Value == 'geolocation' || itemParameters['CenterType'].Value == 'centercoordinates'"
        }
      },
      {
        "Id": "Zoom",
        "Title": { "default": "Map Zoom" },
        "Type": "Text",
        "HelpText": {
          "default": "Input an integer number that represents the initial zoom level of the map. <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "IsPublic": true
      },
      {
        "Id": "Markers",
        "Title": {
          "default": "Markers"
        },
        "Type": "Grid",
        "HelpText": { "default": "Define markers to be shown on the map. <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
        "IsPublic": true,
        "Settings": {
          "Columns": [
            {
              "Id": "Label",
              "Title": { "default": "Label" },
              "Type": "Text",
              "Settings": {
                "ColSize": "4"
              }
            },
            {
              "Id": "Latitude",
              "Title": { "default": "Latitude" },
              "Type": "Text",
              "Settings": {
                "ColSize": "3"
              }
            },
            {
              "Id": "Longitude",
              "Title": { "default": "Longitude" },
              "Type": "Text",
              "Settings": {
                "ColSize": "3"
              }
            }
          ]
        }
      },
      {
        "Id": "Circles",
        "Title": {
          "default": "Circles"
        },
        "Type": "Grid",
        "HelpText": { "default": "Define circles to be drawn on the map. <br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
        "IsPublic": true,
        "Settings": {
          "Columns": [
            {
              "Id": "Latitude",
              "Title": { "default": "Latitude" },
              "Type": "Text",
              "Settings": {
                "ColSize": "2"
              },
              "DefaultValue": {
                "default": "40.730610"
              }
            },
            {
              "Id": "Longitude",
              "Title": { "default": "Longitude" },
              "Type": "Text",
              "Settings": {
                "ColSize": "2"
              },
              "DefaultValue": {
                "default": "-73.935242"
              }
            },
            {
              "Id": "Radius",
              "Title": { "default": "Radius" },
              "Type": "Text",
              "Settings": {
                "ColSize": "2"
              },
              "DefaultValue": {
                "default": "25000"
              }
            },
            {
              "Id": "FillColor",
              "Title": { "default": "Fill Color" },
              "Type": "Text",
              "Settings": {
                "ColSize": "1"
              },
              "DefaultValue": {
                "default": "#FF0000"
              }
            },
            {
              "Id": "FillOpacity",
              "Title": { "default": "Fill Opacity" },
              "Type": "Text",
              "Settings": {
                "ColSize": "1"
              },
              "DefaultValue": {
                "default": "0.35"
              }
            },
            {
              "Id": "StrokeColor",
              "Title": { "default": "Stroke Color" },
              "Type": "Text",
              "Settings": {
                "ColSize": "1"
              },
              "DefaultValue": {
                "default": "#FF0000"
              }
            },
            {
              "Id": "StrokeOpacity",
              "Title": { "default": "Stroke Opacity" },
              "Type": "Text",
              "Settings": {
                "ColSize": "1"
              },
              "DefaultValue": {
                "default": "0.8"
              }
            },
            {
              "Id": "StrokeWeight",
              "Title": { "default": "Stroke Weight" },
              "Type": "Text",
              "Settings": {
                "ColSize": "1"
              },
              "DefaultValue": {
                "default": "2"
              }
            }
          ]
        }
      },
      {
        "Id": "SaveToReport",
        "Title": { "default": "Save to Report" },
        "Type": "Boolean",
        "DefaultValue": { "default": "false" },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      }
    ]
  }
]
