[{
    "Title": "Image Editor",
    "Name": "image-editor",
    "Categories": ["Image"],
    "TypeStr": "avt.ActionForm.Core.Input.ImageEditor,avt.ActionForm.Core",
    "JsIncludes": [
        "[commonUrl]/static/angular15/image-editor/cropper.min.js",
        "[commonUrl]/static/angular15/image-editor/image-editor.js"
    ],
    "HelpText": {
        "default": "This field gives you the ability to crop the selected area of an image and submit the data in base64 format.<br />Generated tokens: [&lt;FieldId&gt;] contains the full base64 image information (e.g. data:image/png;base64,&lt;base64 string&gt;), [&lt;FieldId&gt;:ContentType] contains the content type information (e.g. jpeg, png, etc.), [&lt;FieldId&gt;:Content] contains just the base64 string."
    },
    "CssIncludes": [
        "[commonUrl]/static/angular15/image-editor/cropper.min.css"
    ],
    "Settings": {
        "TemplateFile": "controls/image-editor.xsl"
    },
    "Parameters": [
        {
            "Id": "InitialImage",
            "Type": "Text",
            "Title": {
                "default": "Initial Image"
            },
            "HelpText": {
                "default": "Input an image path or a base64 string that represents an image. This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "IsPublic": true
        },
        {
            "Id": "Output",
            "Type": "Select",
            "Title": {
                "default": "Output Type"
            },
            "HelpText": {
                "default": "Determines the type of the image to be returned (e.g. PNG or JPEG)."
            },
            "Settings": {
                "Items": {
                    "image/png": {
                        "default": "image/png"
                    },
                    "image/jpeg": {
                        "default": "image/jpeg"
                    }
                }
            },
            "DefaultValue": {
                "default": "image/png"
            }
        },
        {
            "Id": "HideSelectImageButton",
            "Title": { "default": "Hide Select Image Button" },
            "Type": "Text",
            "DefaultValue": { "default": "false" },
            "HelpText": { "default": "You can use a token that returns true/false to hide/show the image select button below the canvas. This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
            "IsPublic": true
        },
        {
            "Id": "ResetButton",
            "Title": { "default": "Reset Button" },
            "Type": "Boolean",
            "DefaultValue": { "default": "false" },
            "HelpText": { "default": "Enable to show the reset button below the canvas. The reset button resets the cropbox and image to default values." },
            "IsPublic": true
        },
        {
            "Id": "DragMode",
            "Type": "Select",
            "Title": {
                "default": "Drag Mode"
            },
            "HelpText": {
                "default": "Define the dragging mode of the cropper(create a new crop box or move the canvas)"
            },
            "Settings": {
                "Items": {
                    "crop": {
                        "default": "Crop"
                    },
                    "move": {
                        "default": "Move"
                    }
                }
            },
            "DefaultValue": {
                "default": "crop"
            }
        },
        {
            "Id": "CropBoxResizable",
            "Title": { "default": "Resizable Crop Box" },
            "Type": "Boolean",
            "DefaultValue": { "default": "true" },
            "HelpText": { "default": "Enable to resize the crop box by dragging (aspect ratio defined by width and height). When disabled, the resulting image will use the crop box width and height defined below." },
             "Settings": {
                "ShowCondition": "itemParameters['DragMode'].Value == 'move'"
            }
        },
        {
            "Id": "CropBoxWidth",
            "Title": { "default": "Crop Box Width" },
            "Type": "Number",
            "DefaultValue": { "default": "100" },
            "HelpText": { "default": "Determines the crop box width.(Integer number)" }
        },
        {
            "Id": "CropBoxHeight",
            "Title": { "default": "Crop Box Height" },
            "Type": "Number",
            "DefaultValue": { "default": "100" },
            "HelpText": { "default": "Determines the crop box height.(Integer number)" }
        },
        {
            "Id": "SaveToReport",
            "Title": { "default": "Save to Report" },
            "Type": "Boolean",
            "DefaultValue": { "default": "false" },
            "HelpText": { "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden." }
        }
    ]
}]