<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

    <Type>
        <Title>Item Picker (Tree View)</Title>
        <Name>item-picker-tree-view</Name>
        <Category>Multiple Choice</Category>
        <HelpText>
          <Item key="default">
            Allows users to select a a value from a tree view.
            On submit, this field will generate the following tokens:
            [&amp;lt;FieldName&amp;gt;] (which yields the value),
            [&amp;lt;FieldName&amp;gt;:Text],
            [&amp;lt;FieldName&amp;gt;:Value],
            [&amp;lt;FieldName&amp;gt;:Path],
            [&amp;lt;FieldName&amp;gt;:ParentPath],
            [&amp;lt;FieldName&amp;gt;:HasChildren],
            [&amp;lt;FieldName&amp;gt;:IsSelectable],
            [&amp;lt;FieldName&amp;gt;:ItemId],
            [&amp;lt;FieldName&amp;gt;:ParentId].
          </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Input.ItemPickerTreeView,avt.ActionForm.Core</TypeStr>
        <Flag>checkbox</Flag>
        <Settings>
            <IsCommon>true</IsCommon>
        </Settings>

        <Parameter>
            <Id>InlineTree</Id>
            <Title>
                <Item key="default">Show Inline</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">Displays the tree inline instead of inside a dropdown.</Item>
            </HelpText>
            <IsPublic>true</IsPublic>
        </Parameter>

        <Parameter>
            <Id>DataSource</Id>
            <Title>
                <Item key="default">Data Source</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>FrontEndDataSources</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">Choose from existing data sources or provide values below.</Item>
            </HelpText>
            <DefaultValue>
                <Item key="default">{ "Value": "Items", "Items": "First Item\nSecond Item|WithDifferentValue" }</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Selected</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the check boxes are initially selected. Possible values are from the list above.
                    Separate multiple values with semicolon (;) characters.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>SaveToReport</Id>
            <Title>
                <Item key="default">Save to Report</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>
    </Type>

</InputTypes>
