[
  {
    "Title": "Group Multiple Choice (with Radio boxes)",
    "Name": "multiple-choice-group",
    "Categories": ["Multiple Choice"],
    "TypeStr": "avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core",
    "HelpText": {
      "default": ""
    },
    "CssIncludes": [],
    "JsIncludes": ["[commonUrl]/static/angular15/multiple-choice-group.js"],
    "Settings": {
      "TemplateFile": "controls/multiple-choice-group.xsl",
      "HasInputValidation": false,
      "HasValue": false
    },
    "Parameters": [
      {
        "Id": "MultipleChoiceFieldsList",
        "Type": "MultipleFieldSelect",
        "Title": { "default": "Add multiple choice fields" },
        "HelpText": {
          "default": ""
        },
        "IsPublic": true,
        "Settings": {
          "FieldType": ["closed-multiple-radio"]
        },
        "DefaultValue": { "default": "[]" }
      },
      {
        "Id": "NumberOfColumnsForLabel",
        "Type": "Select",
        "Title": {
          "default": "Number Of Columns For Label"
        },
        "DefaultValue": { "default": "1" },
        "Settings": {
          "Items": {
            "1": { "default": "1" },
            "2": { "default": "2" },
            "3": { "default": "3" },
            "4": { "default": "4" },
            "5": { "default": "5" },
            "6": { "default": "6" },
            "7": { "default": "7" },
            "8": { "default": "8" },
            "9": { "default": "9" },
            "10": { "default": "10" }
          }
        },
        "HelpText": { "default": "Select how much space the label of the multiple choice fields should take." }
      }
    ]
  }
]
