[{
    "Title": "Phone",
    "Name": "phone",
    "Categories": ["Text"],
    "HelpText": {
        "default":"This field allows users to input a phone number while auto-detecting the country and showing its flag, validation is integrated by default. On submit, it will generate the following tokens:[&lt;FieldName&gt;] (which yields the value),"
    },
    "TypeStr": "avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core",
    "JsIncludes": [
        "[commonurl]/static/angular15/phone/js/utils.js",
        "[commonurl]/static/angular15/phone/js/intlTelInput.min.js",
        "[commonurl]/static/angular15/phone/angular-phone.js"
      ]
    ,
    "CssIncludes":["[commonurl]/static/angular15/phone/css/intlTelInput.css"]
    ,
    "Settings": {
      "TemplateFile": "controls/phone.xsl"
    },
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
            "default": "Initial Value"
        },
        "Type": "Text",
        "HelpText": {
            "default": "Initial phone number.This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
          }
        },
      {
        "Id": "InitialCountry",
        "Title": {
            "default":"Initial Country"
        },
        "Type": "Text",
        "HelpText": {
            "default":"Initial country code. You need to set this if you use initial value.This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target:\"_blank\" tabindex:\"-1\">My Tokens</a><br><strong>Setting an initial country is required to remove the flag. (a new checkbox will only appear after setting an initial country).</strong>"
        }
      },
      {
        "Id": "RemoveFlag",
        "Title": {
            "default": "Remove Flag"
        },
        "HelpText": {
            "default": "If this is checked, the phone field will be displayed without the flags dropdown and the initial country used for formatting."
        },
        "Type": "Boolean",
        "DefaultValue": {
            "default": "false"
          
        },
        "Settings": {
          "ShowCondition": "itemParameters['InitialCountry'] != ''"
        }
      },
      {
        "Id": "PreferredCountries",
        "Title": {
            "default": "Preferred Countries"
        },
        "Type": "Text",
        "HelpText": {
            "default": "The countries to be shown at the top of the country dropdown. Input comma-separated values.This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"  
        }
      },
      {
        "Id": "PlaceholderOption",
        "Type": "Select",
        "Title": {
            "default": "Placeholder Option"
        },
        "HelpText": {
            "default": "Select an option for placeholder."
        },
        "Settings": {
            "Items": {
                "autoplaceholder": {
                    "default": "Auto Placeholder"
                },
                "removeplaceholder": {
                    "default": "Remove Placeholder"
                },
                "custom": {
                    "default": "Custom Placeholder"
                }
            }
        },
        "DefaultValue": {
            "default": "autoplaceholder"
        }
        },
        {
        "Id": "CustomPlaceholder",
        "Title": {
            "default": "Custom Placeholder"
        },
        "Type": "Text",
        "HelpText": {
            "default": "This is a custom placeholder."  
        },
        "Settings": {
          "ShowCondition": "itemParameters['PlaceholderOption'].Value == 'custom'"
        }
      },
      {
        "Id": "International",
        "Title": {
            "default": "International Mode"
        },
        "HelpText": {
            "default": "Check this to enable international mode (which shows country dial codes in the input).Leaving this off provides a better experience for national sites."
        },
        "Type": "Boolean",
        "DefaultValue": {
            "default": "false"
        }
      },
      {
        "Id": "Validation",
        "Title": {
            "default": "Validation"
        },
        "HelpText": {
            "default": "Uncheck to disable phone field's own validation."
        },
        "Type": "Boolean",
        "DefaultValue": {
            "default": "true"
          
        }
      },
      {
        "Id": "Readonly",
        "Title": {
            "default": "Readonly"
        },
        "HelpText": {
            "default": "The field will be Readonly."
        
        },
        "Type": "Boolean",
        "DefaultValue": {
            "default": "false"
        
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
            "default": "Save to Report"
        
        },
        "HelpText": {
            "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
          
        },
        "Type": "Boolean",
        "DefaultValue": {
            "default": "false"
          
        }
      }
    ]
  }
]