<?xml version="1.0" encoding="utf-8"?>

<InputTypes>

  <Type>
    <Title>Progress Bar</Title>
    <Name>progressbaranimated</Name>
    <Category>Progress Bar</Category>
    <TypeStr>avt.ActionForm.Core.Input.ProgressBar, avt.ActionForm.Core</TypeStr>
    <JsIncludes>
      <Include>[commonurl]/static/angular15/ProgressBar/progressbar.js</Include>
      <Include>[commonurl]/static/angular15/ng-progress.js</Include>
    </JsIncludes>
    <HelpText>
    </HelpText>

    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initial Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          The field loads initially having this value. Value should be between Min Value and Max Value.
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>PType</Id>
      <Title>
        <Item key="default">Shape</Item>
      </Title>
      <Type>Select</Type>
      <Settings>
        <Items>{"Line": { "default": "Line" }, "Circle": { "default": "Circle" }, "Semicircle": { "default": "Semicircle" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">Line</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>DisplayTextType</Id>
      <Title>
        <Item key="default">Display Text</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Choose an option for text.
        </Item>
      </HelpText>
      <Type>Select</Type>
      <Settings>
        <Items>{"None": { "default": "None" }, "Percentage": { "default": "Percentage" }, "Value": { "default": "Value" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">Percentage</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>MinVal</Id>
      <Title>
        <Item key="default">Min Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Minimum of the range where the percentage will be calculated. Can be negative. Default 0. (eg. 20).
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">0</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>MaxVal</Id>
      <Title>
        <Item key="default">Max Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Maximum of the range where the percentage will be calculated. Default 100. (eg. 80).
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">100</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>StrokeColor</Id>
      <Title>
        <Item key="default">Stroke color</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Please enter Color (eg. red #00ff00 rgb(0,0,255)).
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">#ED6A5A</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>TrailColor</Id>
      <Title>
        <Item key="default">Trail color</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Please enter Color (eg. red #00ff00 rgb(0,0,255)).
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">gray</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>StrokeWidth</Id>
      <Title>
        <Item key="default">Stroke Width</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Thickness of the stroke (eg. 2). Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">2</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>TrailWidth</Id>
      <Title>
        <Item key="default">Trail Width</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Thickness of the trail (eg. 1). Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">1</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>Animation</Id>
      <Title>
        <Item key="default">Animation</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Type of animation on value change.
        </Item>
      </HelpText>
      <Type>Select</Type>
      <Settings>
        <Items>{"easeInOut": { "default": "easeInOut" }, "bounce": { "default": "bounce" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">easeInOut</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>AnimationDuration</Id>
      <Title>
        <Item key="default">Animation Duration</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Time in milliseconds. Disable with -1. (eg. 1400)
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">1400</Item>
      </DefaultValue>
    </Parameter>

    <Parameter>
      <Id>ValueColor</Id>
      <Title>
        <Item key="default">Change color on value</Item>
      </Title>
      <Type>NameValueCollection</Type>
      <HelpText>
        <Item key="default">
          Set the color of the progress bar once it reaches the specified value. Multiple steps can be added. (eg 20(Value) - red(Color))
        </Item>
      </HelpText>
      <Settings>
        <NameColumn>Value</NameColumn>
        <ValueColumn>Color</ValueColumn>
        <ButtonName>Add color</ButtonName>
      </Settings>
    </Parameter>
    
    
    <Settings>
      <TemplateFile>controls/progressbar.xsl</TemplateFile>
    </Settings>

  </Type>

</InputTypes>

