<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

  <Type>
    <Title>Slider</Title>
    <Name>slider</Name>
    <Category>Multiple Choice</Category>
    <HelpText>
      <Item key="default">
        This field allows users to slide through the values of an array. It offers dual handles, floating point values, text/label/select output. On submit, it will generate the following tokens:
        [&amp;lt;FieldName&amp;gt;] (which yields the value),
        [&amp;lt;FieldName&amp;gt;:StartValue],
        [&amp;lt;FieldName&amp;gt;:EndValue].
      </Item>
    </HelpText>
    <TypeStr>avt.ActionForm.Core.Input.Slider,avt.ActionForm.Core</TypeStr>
    <JsIncludes>
      <Include>[commonurl]/static/jquery/jquery.ui.touch-punch.min.js</Include>
      <Include>[commonurl]/static/angular15/bs-slider/js/bootstrap-slider.js</Include>
    </JsIncludes>
    <CssIncludes>
      <Include>[commonurl]/static/angular15/bs-slider/css/bootstrap-slider.css</Include>
    </CssIncludes>
    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initial Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Determines which value or interval (e.g.: 10, 20) is initially selected. Also sets the number of slider handles, either 1 or 2.
          This field supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens.</a>
          </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>StartText</Id>
      <Title>
        <Item key="default">Start Text</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Displays the initial value/text of the slider and therefore the position of the first handle.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>EndText</Id>
      <Title>
        <Item key="default">End Text</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Displays the highest value/text of the slider.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>Help</Id>
      <Title>
        <Item key="default">Help Text</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Description of the option; appears beneath the handler.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>MinValue</Id>
      <Title>
        <Item key="default">Min Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Value setting the minimum slider value.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>MaxValue</Id>
      <Title>
        <Item key="default">Max Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Value setting the maximum slider value.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>StepValue</Id>
      <Title>
        <Item key="default">Step Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          Value setting the slider step value.
        </Item>
      </HelpText>
    </Parameter>
        <Parameter>
        <Id>SliderCaptions</Id>
        <Title>
            <Item key="default">Slider Captions</Item>
        </Title>
        <Type>NameValueCollection</Type>
        <HelpText>
            <Item key="default">
              Append Slider Captions. For decimals use ".". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.<br/>
                Example: One (Name) - 1 (Value), Two (Name) - 2 (Value), ...
            </Item>
        </HelpText>
            <Settings>
            <NameColumn>Name</NameColumn>
            <ValueColumn>Value</ValueColumn>
            <ButtonName>Add Caption</ButtonName>
        </Settings>
    </Parameter>

    <Parameter>
        <Id>SliderCaptionClasses</Id>
        <Title>
            <Item key="default">Slider Caption Classes</Item>
        </Title>
        <Type>NameValueCollection</Type>
        <HelpText>
            <Item key="default">
              Append Slider Caption Css Classes. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.<br/>
                Example: label label-danger (Class) - 1 (Value), label label-success (Class) - 2 (Value), ...
            </Item>
        </HelpText>
            <Settings>
            <NameColumn>Class Name</NameColumn>
            <ValueColumn>Value</ValueColumn>
            <ButtonName>Add Caption Class</ButtonName>
            <ShowCondition>itemParameters["SliderCaptions"].length</ShowCondition>
        </Settings>
    </Parameter>
    <Parameter>
      <Id>Width</Id>
      <Title>
        <Item key="default">Width</Item>
      </Title>
      <Type>Text</Type>
      <DefaultValue>
        <Item key="default">100%</Item>
      </DefaultValue>
      <HelpText>
        <Item key="default">
          Determines the slider width in px, em or percentage.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>DisplayTooltip</Id>
      <Title>
        <Item key="default">Display Tooltip</Item>
      </Title>
      <Type>Boolean</Type>
      <HelpText>
        <Item key="default">
          Determines if the tooltip with the current value is displayed.
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>SliderOrientation</Id>
      <Title>
        <Item key="default">Slider Orientation</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Sets the orientation (horizontal, vertical) of the slider.
        </Item>
      </HelpText>
      <Type>Select</Type>
      <Settings>
        <Items>{ "horizontal": { "default": "Horizontal" }, "vertical": { "default": "Vertical" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">horizontal</Item>
      </DefaultValue>
    </Parameter>
    <Parameter>
      <Id>SaveToReport</Id>
      <Title>
        <Item key="default">Save to Report</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>

  </Type>

</InputTypes>