<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

  <Type>
    <Title>Sortable Input</Title>
    <Name>sortable-input</Name>
    <Category>Multiple Choice</Category>
    <HelpText>
      <Item key="default">
        This field allows users to change the items' position and manipulate them using simple drag and drop. On submit, it will generate the following tokens:
        [&amp;lt;FieldName&amp;gt;] (which yields the value),
        [&amp;lt;FieldName&amp;gt;:Text],
        [&amp;lt;FieldName&amp;gt;:Value].
      </Item>
    </HelpText>
    <TypeStr>avt.ActionForm.Core.Input.MultipleChoiceMultiSelect,avt.ActionForm.Core</TypeStr>
    <JsIncludes>
      <Include>[commonurl]/static/jquery/jquery.ui.touch-punch.min.js</Include>
      <Include>[commonurl]/static/angular15/sortable-input.js</Include>
    </JsIncludes>
    <Parameter>
      <Id>CssIconClass</Id>
      <Title>
        <Item key="default">Css Icon Class</Item>
      </Title>
      <Type>Text</Type>
      <DefaultValue>
        <Item key="default">fa-bars</Item>
      </DefaultValue>
      <HelpText>
        <Item key="default">
          "Use <a href="https://fontawesome.com/v5.12.1/icons?d=gallery">font awesome version 5.12.1 classes</a> to label the button with icons. (fa-*shortcode*).<br/>You can use 4 different styles - Solid(fas), Regular(far), Light(fal) and Brands(fab). Example:(fas fa-*shortcode*).<br/>You can also use \"pull-left\" and \"pull-right\" bootstrap classes to modify the position of the icon (not supported on firefox)."
        </Item>
      </HelpText>
    </Parameter>
    <Parameter>
      <Id>IconPosition</Id>
      <Title>
        <Item key="default">Icon Position</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Sets the alignment (left, right) of the icon.
        </Item>
      </HelpText>
      <Type>Select</Type>
      <Settings>
        <Items>{ "left": { "default": "Left" }, "right": { "default": "Right" } }</Items>
      </Settings>
      <DefaultValue>
        <Item key="default">left</Item>
      </DefaultValue>
    </Parameter>
    <Parameter>
      <Id>DragByIcon</Id>
      <Title>
        <Item key="default">Drag by icon only</Item>
      </Title>
      <HelpText>
        <Item key="default">
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">true</Item>
      </DefaultValue>
    </Parameter>
    <Parameter>
      <Id>DataSource</Id>
      <Title>
        <Item key="default">Data Source</Item>
      </Title>
      <Type>Select</Type>
            <Settings>
        <DataSource>FrontEndDataSources</DataSource>
      </Settings>
      <HelpText>
        <Item key="default">Choose from existing data sources or provide values below.</Item>
      </HelpText>
      <DefaultValue>
        <Item key="default">{ "Value": "Items", "Items": "First Item\nSecond Item|WithDifferentValue" }</Item>
      </DefaultValue>
    </Parameter>
    <Parameter>
      <Id>SaveToReport</Id>
      <Title>
        <Item key="default">Save to Report</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>
  </Type>

</InputTypes>
