<?xml version="1.0" encoding="utf-8"?>

<InputTypes>

  <Type>
    <Title>Star Rating</Title>
    <Name>starrating</Name>
    <Category>Star Rating</Category>
    <TypeStr>avt.ActionForm.Core.Input.StarRating, avt.ActionForm.Core</TypeStr>
    <HelpText>
    </HelpText>

    <Parameter>
      <Id>Value</Id>
      <Title>
        <Item key="default">Initial Value</Item>
      </Title>
      <Type>Text</Type>
      <HelpText>
        <Item key="default">
          The fields loads initially having this value.
          Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>
          so you can pull data from various sources such as user profile.
        </Item>
      </HelpText>
    </Parameter>

    <Parameter>
      <Id>StarsNo</Id>
      <Title>
        <Item key="default">Number Of Stars</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Please enter the number of stars. <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>Step</Id>
      <Title>
        <Item key="default">Step</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Please enter the Step count.(supported step count are 0.1/0.5/1) <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>Size</Id>
      <Title>
        <Item key="default">Size</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Please enter the Size.(supported size are:<b> xs</b> - extra small, <b>sm</b> - small, <b>md</b> - medium, <b>lg</b> - large, <b> xl</b>- extra large) <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
        <Id>MinimumRating</Id>
        <Title>
            <Item key="default">Minimum Rating</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Please enter the value associated with 0 stars/Not Rated (can be 0 to Number Of Stars). <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
            </Item>
        </HelpText>
        <Type>Text</Type>
    </Parameter>

    <Parameter>
        <Id>MaximumRating</Id>
        <Title>
            <Item key="default">Maximum Rating</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Please enter the value associated with the maximum number of stars (can be 0 to Number Of Stars). <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
            </Item>
        </HelpText>
        <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>SelectedStarColor</Id>
      <Title>
        <Item key="default">Selected Star Color</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Please enter Color (eg. red #00ff00 rgb(0,0,255))<a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
      <Id>UnselectedStarColor</Id>
      <Title>
        <Item key="default">Unselected Star Color</Item>
      </Title>
      <HelpText>
        <Item key="default">
          Please enter Color (eg. red #00ff00 rgb(0,0,255)) <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Text</Type>
    </Parameter>

    <Parameter>
        <Id>StarCaptions</Id>
        <Title>
            <Item key="default">Star Captions</Item>
        </Title>
        <Type>NameValueCollection</Type>
        <HelpText>
            <Item key="default">
                Append Star Captions. For decimals use ".". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.<br/>
                Example: One Star (Name) - 1 (Value), Two Star (Name) - 2 (Value), ...
            </Item>
        </HelpText>
            <Settings>
            <NameColumn>Name</NameColumn>
            <ValueColumn>Value</ValueColumn>
            <ButtonName>Add Caption</ButtonName>
            <ShowCondition>!itemParameters["ShowCaption"]</ShowCondition>
        </Settings>
    </Parameter>

    <Parameter>
        <Id>StarCaptionClasses</Id>
        <Title>
            <Item key="default">Star Caption Classes</Item>
        </Title>
        <Type>NameValueCollection</Type>
        <HelpText>
            <Item key="default">
                Append Star Caption Css Classes. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.<br/>
                Example: label label-danger (Class) - 1 (Value), label label-success (Class) - 2 (Value), ...
            </Item>
        </HelpText>
            <Settings>
            <NameColumn>Class Name</NameColumn>
            <ValueColumn>Value</ValueColumn>
            <ButtonName>Add Caption Class</ButtonName>
            <ShowCondition>!itemParameters["ShowCaption"]</ShowCondition>
        </Settings>
    </Parameter>

    <Parameter>
      <Id>ShowCaption</Id>
      <Title>
        <Item key="default">Hide Caption</Item>
      </Title>
      <HelpText>
        <Item key="default">
          If checked this will hide the Caption. <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
    </Parameter>

    <Parameter>
      <Id>ShowClear</Id>
      <Title>
        <Item key="default">Hide Clear Button</Item>
      </Title>
      <HelpText>
        <Item key="default">
          If checked this will hide the Clear button. <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
    </Parameter>
    
    <Parameter>
      <Id>SaveToReport</Id>
      <Title>
        <Item key="default">Save to Report</Item>
      </Title>
      <HelpText>
        <Item key="default">
          The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden.
        </Item>
      </HelpText>
      <Type>Boolean</Type>
      <DefaultValue>
        <Item key="default">false</Item>
      </DefaultValue>
    </Parameter>
    
    <Settings>
      <TemplateFile>controls/starrating.xsl</TemplateFile>
    </Settings>

  </Type>

</InputTypes>

