[
  {
    "Title": "Text Box",
    "Name": "open-text",
    "Categories": [
      "Text"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core",
    "Settings": {
      "IsCommon": true,
      "AngularJsControl": "controls/textbox.js"
    },
    "JsIncludes": [
      "[commonurl]/static/angular15/angular-textbox/angular-textbox.js"
    ],
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "Type": "Text",
        "HelpText": {
          "default": "The fields loads initially having this value. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> so you can pull data from various sources such as user profile."
        }
      },
      {
        "Id": "AutocompleteUrl",
        "Title": {
          "default": "Autocomplete URL"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Provide an URL can feed autocomplete suggestions for this textbox. Use {query} as a value where you want the typed text to go. <br/> Example: localhost/DesktopModules/DnnSharp/DnnApiEndpoint/Api.ashx?method=AutoComplete&amp;SearchText={query} <br/> It dynamically also appends a querystring key named \"query\" with the value you typed so you can create GET APIs which receives only a \"query\" key and call them like in example 2. <br/> Example 2: /DesktopModules/DnnSharp/DnnApiEndpoint/Api.ashx?method=AutoComplete <br/> See <a href=\"https://blog.dnnsharp.com/tip-of-the-week-how-to-drive-autocomplete-data-into-action-form\" target=\"_blank\" tabindex=\"-1\">our blog post</a> how to create an autocomplete API. <br/> If you need to use the value returned by the API, instead of the text, in the Bind Expressions, use form.fields.<b>FieldID</b>.data but check for nulls first."
        }
      },
      {
        "Id": "AutofillName",
        "Title": {
          "default": "Autofill Name"
        },
        "Type": "SelectWithGroups",
        "HelpText": {
          "default": "Select a value for the 'name' attribute of the input. You can use Google's <a href=\"https://developers.google.com/web/fundamentals/design-and-ux/input/forms/#recommended_input_name_and_autocomplete_attribute_values\" target=\"_blank\" tabindex=\"-1\">Creating Amazing Forms</a> documentation."
        },
        "Settings": {
          "SupportsExpressions": "true",
          "Items": [
            {
              "Group": "Name",
              "Text": {
                "default": "Name"
              },
              "Value": "name"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "First Name"
              },
              "Value": "fname"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "Middle Name"
              },
              "Value": "mname"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "Last Name"
              },
              "Value": "lname"
            },
            {
              "Group": "Email",
              "Text": {
                "default": "Email"
              },
              "Value": "email"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Address"
              },
              "Value": "address"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "City"
              },
              "Value": "city"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Region"
              },
              "Value": "region "
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Province"
              },
              "Value": "province "
            },
            {
              "Group": "Address",
              "Text": {
                "default": "State"
              },
              "Value": "state"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Zip"
              },
              "Value": "zip"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Zip2"
              },
              "Value": "zip2"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Postal"
              },
              "Value": "postal"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "Country"
              },
              "Value": "country"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Phone "
              },
              "Value": "phone "
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Mobile"
              },
              "Value": "mobile"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Country Code"
              },
              "Value": "country-code"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Area Code"
              },
              "Value": "area-code"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Exchange"
              },
              "Value": "exchange"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Suffix"
              },
              "Value": "suffix"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "Extension"
              },
              "Value": "ext"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Name"
              },
              "Value": "ccname"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Number"
              },
              "Value": "cardnumber"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CVC"
              },
              "Value": "cvc"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Month"
              },
              "Value": "ccmonth"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Year"
              },
              "Value": "ccyear"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Expiry Date"
              },
              "Value": "exp-date"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "CC Type"
              },
              "Value": "card-type"
            },
            {
              "Group": "Usernames",
              "Text": {
                "default": "Username"
              },
              "Value": "username"
            },
            {
              "Group": "Passwords",
              "Text": {
                "default": "Password"
              },
              "Value": "password"
            }
          ]
        }
      },
      {
        "Id": "AutofillAttribute",
        "Title": {
          "default": "Autofill Attribute"
        },
        "Type": "SelectWithGroups",
        "HelpText": {
          "default": "Select a value for the 'autocomplete' attribute of the input. You can use Google's <a href=\"https://developers.google.com/web/fundamentals/design-and-ux/input/forms/#recommended_input_name_and_autocomplete_attribute_values\" target=\"_blank\" tabindex=\"-1\">Creating Amazing Forms</a> documentation."
        },
        "Settings": {
          "SupportsExpressions": "true",
          "Items": [
            {
              "Group": "Name",
              "Text": {
                "default": "name"
              },
              "Value": "name"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "given-name"
              },
              "Value": "given-name"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "additional-name"
              },
              "Value": "additional-name"
            },
            {
              "Group": "Name",
              "Text": {
                "default": "family-name"
              },
              "Value": "family-name"
            },
            {
              "Group": "Email",
              "Text": {
                "default": "email"
              },
              "Value": "email"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "street-address"
              },
              "Value": "street-address"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "address-line1"
              },
              "Value": "address-line1"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "address-line2"
              },
              "Value": "address-line2"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "address-level1"
              },
              "Value": "address-level1"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "address-level2"
              },
              "Value": "address-level2"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "postal-code"
              },
              "Value": "postal-code"
            },
            {
              "Group": "Address",
              "Text": {
                "default": "country"
              },
              "Value": "country"
            },
            {
              "Group": "Phone",
              "Text": {
                "default": "tel"
              },
              "Value": "tel"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-name"
              },
              "Value": "cc-name"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-number"
              },
              "Value": "cc-number"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-csc"
              },
              "Value": "cc-csc"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-exp-month"
              },
              "Value": "cc-exp-month"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-exp-year"
              },
              "Value": "cc-exp-year"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-exp"
              },
              "Value": "cc-exp"
            },
            {
              "Group": "Credit Card",
              "Text": {
                "default": "cc-type"
              },
              "Value": "cc-type "
            },
            {
              "Group": "Usernames",
              "Text": {
                "default": "username"
              },
              "Value": "username"
            },
            {
              "Group": "Passwords",
              "Text": {
                "default": "current-password"
              },
              "Value": "current-password"
            },
            {
              "Group": "Passwords",
              "Text": {
                "default": "new-password"
              },
              "Value": "new-password"
            }
          ]
        }
      },
      {
        "Id": "Mask",
        "Title": {
          "default": "Mask"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Optionally you can set a mask on a field - for example, if you want a certain type of phone number format, you can use a mask like (000) 000-0000. The following mask definitions are predefined: 'a' represents an alpha character (A-Z,a-z); '0' represents a numeric character (0-9); '*' represents an alphanumeric character (A-Z,a-z,0-9). Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        }
      },
      {
        "Id": "MaskOptions",
        "Title": {
          "default": "Mask Options"
        },
        "HelpText": {
          "default": "Optionally provide a JSON object with other options to pass into the Mask Options.<br/>For example, write <em>{ \"reverse\": true }</em>, please check the <a href =\"https://github.com/Gillardo/bootstrap-ui-datetime-picker\">documentation</a><br/> Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.<br><strong>Attention! Write a valid JSON, for example you must use double quotes,you need to surround keys and values with double quotes.</strong></br>"
        },
        "Type": "Textarea",
        "Settings": {
          "ShowCondition": "itemParameters['Mask']"
        }
      },
      {
        "Id": "MaxLength",
        "Title": {
          "default": "Maximum Length"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Optionally set a maximum length."
        }
      },
      {
        "Id": "DeferRequestBy",
        "Title": {
          "default": "Defer Request By"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Number of miliseconds to defer Ajax request."
        },
        "DefaultValue": {
          "default": "300"
        
      }
      },
      {
        "Id": "ConfirmationOfTextBox",
        "Title": {
          "default": "Confirmation Of"
        },
        "Type": "FieldSelect",
        "HelpText": {
          "default": "If this is a 'textbox confirmation' field, select the textbox field that you wish to confirm here."
        },
        "Settings": {
          "FieldType": "open-text",
          "ExceptSelf": true
        }
      },
      {
        "Id": "Readonly",
        "Title": {
          "default": "Readonly"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "The field will be Readonly."
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      },
      {
        "Id": "AllowTokens",
        "Title": {
          "default": "Allow Tokens"
        },
        "Type": "Boolean",
        "HelpText": {
          "default": "When this option is on, Action Form will replace tokens in input submitted by users."
        }
      }
    ]
  }
]