[
  {
    "Title": "Trumbowyg",
    "Name": "trumbowyg",
    "Categories": ["Text"],
    "TypeStr": "avt.ActionForm.Core.Input.RichTextInput,avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/angular-confirm/ng-confirm.min.js",
      "[commonUrl]/static/angular15/textAngular-rangy.min.js",
      "[commonUrl]/static/angular15/trumbowyg/trumbowyg.min.js",
      "[commonUrl]/static/angular15/trumbowyg/plugins/colors/trumbowyg.colors.js",
      "[commonUrl]/static/angular15/trumbowyg/plugins/font-size/trumbowyg.fontsize.js",
      "[commonUrl]/static/angular15/trumbowyg/trumbowyg-input.js"
    ],
    "CssIncludes": [
      "[commonUrl]/static/angular15/angular-confirm/ngconfirm.min.css",
      "[commonUrl]/static/angular15/trumbowyg/ui/trumbowyg.min.css",
      "[commonUrl]/static/angular15/trumbowyg/plugins/colors/ui/trumbowyg.colors.css"
    ],
    "Settings": {
      "TemplateFile": "controls/trumbowyg.xsl"
    },
    "Parameters": [
      {
        "Id": "InitalValue",
        "Title": {
          "default": "Initial Value"
        },
        "Type": "Code",
        "DefaultValue": {
          "default": ""
        },
        "HelpText": {
          "default":
            "The fields loads initially having this value. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> so you can pull data from various sources such as user profile."
        }
      },
      {
        "Id": "ImageManager",
        "Title": { "default": "Image Manager Field" },
        "HelpText": { "default": "The selected image manager will be opened in a popup where you can upload or select images. A new 'upload' button will be added at the end of the button list. You can change it's location by specifying it yourself in the <b>Buttons</b> parameter." },
        "Type": "FieldSelect",
        "Settings": {
          "FieldType": "file-manager",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "Buttons",
        "Title": {
          "default": "Buttons"
        },
        "Type": "Text",
        "DefaultValue": {
          "default":
            "viewHTML|undo,redo|formatting|Emphasis|superscript,subscript|foreColor,backColor|link|insertImage|Justify|btnGrp-lists|horizontalRule|removeformat|fullscreen"
        },
        "HelpText": {
          "default":
            "Input buttons, button groups or button dropdowns(defined below) in the order that you want them to appear in the editor, you can split items with pipe '|' to form groups and inside the groups you can use comma ',' to sepparate buttons. For more information you can use the <a href=\"https://alex-d.github.io/Trumbowyg/documentation.html#button-pane\" target=\"_blank\" tabindex=\"-1\">Trumbowyg documentation.</a>"
        }
      },
      {
        "Id": "Language",
        "Title": {
          "default": "Language"
        },
        "Type": "Select",
        "DefaultValue": {
          "default": "en"
        },
        "Settings": {
          "Items": {
            "ar": { "default": "Arabic" },
            "bg": { "default": "Bulgarian" },
            "by": { "default": "Belarusian" },
            "ca": { "default": "Catalan" },
            "cs": { "default": "Czech" },
            "da": { "default": "Danish" },
            "de": { "default": "German" },
            "el": { "default": "Greek" },
            "en": { "default": "English" },
            "es": { "default": "Spanish" },
            "es_ar": { "default": "Spanish (Argentina)" },
            "fa": { "default": "Persian" },
            "fi": { "default": "Finnish" },
            "fr": { "default": "French" },
            "he": { "default": "Hebrew" },
            "hr": { "default": "Croatian" },
            "hu": { "default": "Hungarian" },
            "id": { "default": "Indonesian" },
            "it": { "default": "Italian" },
            "ja": { "default": "Japanese" },
            "ko": { "default": "Korean" },
            "mn": { "default": "Mongolian" },
            "my": { "default": "Malaysian" },
            "nl": { "default": "Dutch" },
            "no_nb": { "default": "Norwegian" },
            "ph": { "default": "Filipino" },
            "pl": { "default": "Polish" },
            "pt": { "default": "Portuguese" },
            "pt_br": { "default": "Portuguese Brazilian" },
            "ro": { "default": "Romanian" },
            "rs": { "default": "Serbian (Cyrillic)" },
            "rs_latin": { "default": "Serbian (Latin)" },
            "ru": { "default": "Russian" },
            "sk": { "default": "Slovak" },
            "sv": { "default": "Swedish" },
            "tr": { "default": "Turkish" },
            "ua": { "default": "Ukrainian" },
            "vi": { "default": "Vietnamese" },
            "zh_ch": { "default": "Simplified Chinese" },
            "zh_tw": { "default": "Traditional Chinese" }
          }
        },
        "HelpText": {
          "default":
            "Select the language for the button titles. Default is English"
        }
      },
      {
        "Id": "BtnGroups",
        "Title": {
          "default": "Button Groups"
        },
        "Type": "NameValueCollection",
        "DefaultValue": {
          "default":
            "[{\"name\": \"lists\",\"value\": \"unorderedList orderedList\"}]"
        },
        "HelpText": {
          "default":
            "Name: Group Name | Value: Input the codes of the buttons sepparated by one space."
        }
      },
      {
        "Id": "ButtonDropdowns",
        "Title": {
          "default": "Button Dropdowns"
        },
        "Type": "Grid",
        "HelpText": {
          "default": "Create new button dropdowns to use in the 'Buttons' list"
        },
        "DefaultValue": {
          "default":
            "[{\"DropdownIcon\": {\"Value\": \"justify-center\",\"IsExpression\": false,\"Parameters\": {}},\"DropdownName\": {\"Value\": \"Justify\",\"IsExpression\": false},\"DropdownButtons\": {\"Value\": \"justifyLeft justifyCenter justifyRight justifyFull\",\"IsExpression\": false}},{\"DropdownIcon\": {\"Value\": \"bold\",\"IsExpression\": false,\"Parameters\": {}},\"DropdownName\": {\"Value\": \"Emphasis\",\"IsExpression\": false},\"DropdownButtons\": {\"Value\": \"bold italic underline strikethrough\",\"IsExpression\": false}}]"
        },
        "Settings": {
          "Columns": [
            {
              "Id": "DropdownIcon",
              "Title": {
                "default": "Icon"
              },
              "Type": "Select",
              "Settings": {
                "ColSize": 3,
                "NoLabel": true,
                "Items": {
                  "blockquote": {
                    "default": "blockquote"
                  },
                  "bold": {
                    "default": "bold"
                  },
                  "close": {
                    "default": "close"
                  },
                  "create-link": {
                    "default": "create-link"
                  },
                  "del": {
                    "default": "del"
                  },
                  "em": {
                    "default": "em"
                  },
                  "fullscreen": {
                    "default": "fullscreen"
                  },
                  "h1": {
                    "default": "h1"
                  },
                  "h2": {
                    "default": "h2"
                  },
                  "h3": {
                    "default": "h3"
                  },
                  "h4": {
                    "default": "h4"
                  },
                  "horizontal-rule": {
                    "default": "horizontal-rule"
                  },
                  "insert-image": {
                    "default": "insert-image"
                  },
                  "italic": {
                    "default": "italic"
                  },
                  "justify-center": {
                    "default": "justify-center"
                  },
                  "justify-full": {
                    "default": "justify-full"
                  },
                  "justify-left": {
                    "default": "justify-left"
                  },
                  "justify-right": {
                    "default": "justify-right"
                  },
                  "link": {
                    "default": "link"
                  },
                  "ordered-list": {
                    "default": "ordered-list"
                  },
                  "p": {
                    "default": "p"
                  },
                  "redo": {
                    "default": "redo"
                  },
                  "removeformat": {
                    "default": "removeformat"
                  },
                  "strikethrough": {
                    "default": "strikethrough"
                  },
                  "strong": {
                    "default": "strong"
                  },
                  "subscript": {
                    "default": "subscript"
                  },
                  "superscript": {
                    "default": "superscript"
                  },
                  "table": {
                    "default": "table"
                  },
                  "underline": {
                    "default": "underline"
                  },
                  "undo": {
                    "default": "undo"
                  },
                  "unlink": {
                    "default": "unlink"
                  },
                  "unordered-list": {
                    "default": "unordered-list"
                  },
                  "view-html": {
                    "default": "view-html"
                  },
                  "base64": {
                    "default": "base64"
                  },
                  "back-color": {
                    "default": "back-color"
                  },
                  "fore-color": {
                    "default": "fore-color"
                  },
                  "emoji": {
                    "default": "emoji"
                  },
                  "insert-audio": {
                    "default": "insert-audio"
                  },
                  "noembed": {
                    "default": "noembed"
                  },
                  "preformatted": {
                    "default": "preformatted"
                  },
                  "upload": {
                    "default": "upload"
                  }
                }
              }
            },
            {
              "Id": "DropdownName",
              "Title": {
                "default": "Button Name"
              },
              "Type": "Text",
              "Settings": {
                "ColSize": 3,
                "NoLabel": true
              }
            },
            {
              "Id": "DropdownButtons",
              "Title": {
                "default": "Buttons"
              },
              "Type": "Text",
              "Settings": {
                "ColSize": 4,
                "NoLabel": true
              }
            }
          ],
          "ModuleDef": ""
        }
      },
      {
        "Id": "Semantic",
        "Title": {
          "default": "Semantic"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "true"
        },
        "HelpText": {
          "default": "Generates a better, more semantic oriented HTML (i.e. <code>em</code> instead of <code>i</code>, <code>strong</code> intsead of <code>b</code>, etc.)."
        }
      },
      {
        "Id": "DarkTheme",
        "Title": {
          "default": "Dark theme"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "Changes the color scheme to black"
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": " The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      },
      {
        "Id": "AllowTokens",
        "Title": {
          "default": "Allow Tokens"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default":
            " When this option is on, Action Form will replace tokens in input submitted by users."
        }
      },
      {
        "Id": "RemoveFormatPastedOption",
        "Title": {
          "default": "Remove Format Pasted Option"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "When this option is on, it allows you to remove styles pasted from clipboard (from Word or other webpage for example)."
        }
      },
      {
        "Id": "TagsToRemoveOption",
        "Title": {
          "default": "Tags to Remove Option"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "When this option is on, it allows you to sanitize the code by removing all tags you want; separate tags with a comma."
        }
      },
      {
        "Id": "TagsToRemove",
        "Title": {
          "default": "Tags to Remove"
        },
        "Type": "Text",
        "DefaultValue": {
          "default":""
        },
        "HelpText": {
          "default":
            ""
        },
        "Settings": {
          "ShowCondition": "itemParameters['TagsToRemoveOption'] == true"
        }
      },
      {
        "Id": "TagsToKeepOption",
        "Title": {
          "default": "Tags to Keep Option"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "When this option is on, it allows you to keep tags for something else; separate tags with a comma.<strong>This option is not compatible with the Semantic option!</strong>"
        }
      },
      {
        "Id": "TagsToKeep",
        "Title": {
          "default": "Tags to Keep"
        },
        "Type": "Text",
        "DefaultValue": {
          "default":""
        },
        "HelpText": {
          "default":
            ""
        },
        "Settings": {
          "ShowCondition": "itemParameters['TagsToKeepOption'] == true"
        }
      }
    ]
  }
]
