[
    {
        "Title": "First Name",
        "InputTypeStr": "open-text",
        "AddOnInit": true,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "Last Name",
        "InputTypeStr": "open-text",
        "AddOnInit": true,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "Email",
        "InputTypeStr": "open-email",
        "AddOnInit": true,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "Website",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "Phone",
        "InputTypeStr": "open-text",
        "AddOnInit": true,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Cell",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "IM",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Unit",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Street",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "City",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Country",
        "InputTypeStr": "address-country",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Region",
        "InputTypeStr": "address-region",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Postal Code",
        "InputTypeStr": "open-text",
        "AddOnInit": false,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Company",
        "InputTypeStr": "open-text",
        "AddOnInit": true,
        "IsRequired": false,
        "IsEnabled": true
    },
    {
        "Title": "Username",
        "InputTypeStr": "open-username",
        "AddOnInit": false,
        "IsRequired": true,
        "IsEnabled": true
    },
    {
        "Title": "Password",
        "InputTypeStr": "open-password",
        "AddOnInit": false,
        "IsRequired": true,
        "IsEnabled": true
    }
]