[

	{
		"Id": "LogError",
		"Title": { "default": "Log Error" },
		"HelpText": { "default": "Logs an error in DNN Event Viewer and internal logs." },
		"TypeStr": "DnnSharp.Common.Actions.Debug.LogError, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Logging"
		},

		"Parameters": [
			{
				"Id": "Message",
				"Title": { "default": "Message" },
				"HelpText": { "default": "Error message to log. \n Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
				"Type": "Textarea"
			}
		]
	},

	{
		"Id": "LogDebug",
		"Title": { "default": "Log Debug Message" },
		"HelpText": { "default": "Logs a debug message in the internal logs." },
		"TypeStr": "DnnSharp.Common.Actions.Debug.LogDebug, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Logging"
		},

		"Parameters": [
			{
				"Id": "Message",
				"Title": { "default": "Message" },
				"HelpText": { "default": "Debug message to log. \n Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
				"Type": "Textarea"
			}
		]
	}
	
]