[

    {
        "Id": "ApplyTokens",
        "Title": { "default": "Apply Tokens" },
        "HelpText": { "default": "Applies tokens on an expression and stores it in another (or the same) token." },
        "TypeStr": "DnnSharp.Common.Actions.Code.ApplyTokens, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Code"
        },

        "Parameters": [
            {
                "Id": "Tokens",
                "Title": { "default": "Tokens" },
                "HelpText": { "default": "Expressions to tokenize. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Store As",
                    "ValueColumn": "Token Expression",
                    "ButtonName": "Add Expression"
                }
            },

            {
                "Id": "RecursionCount",
                "Title": { "default": "Number of Recursions" },
                "HelpText": { "default": "Specify how many times to apply tokenization. This is useful when tokens contain other tokens that also need to be replaced. Note that this presents a security risk when the expression has content from untrusted users. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "Text",
                "DefaultValue": {
                    "default": "1"
                }
            }
        ]
    }

]
