[{
    "Id": "CredStore.EncryptValue",
    "Title": {
        "default": "Credential Store Encrypt"
    },
    "TypeStr": "DnnSharp.Common.Actions.Security.CredentialStoreEncrypt, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Security"
    },
    "HelpText": {
        "default": "This action encrypts the value passed using the Credential Store encrypt key."
    },
    "Parameters": [
        {
            "Id": "ValuesToEncrypt",
            "Title": {
                "default": "Values to Encrypt"
            },
            "HelpText": {
                "default": "Specify values to encrypt for Credential Store. Can contain form tokens for values column. (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. Specify output token names for each value for later use."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Values",
                "ValueColumn": "Output Token Names",
                "ButtonName": "Add"
        }
    }]
}]