[{
    "Id": "CredStore.DeleteEntry",
    "Title": {
        "default": "Delete Credential"
    },
    "TypeStr": "DnnSharp.Common.Actions.CredentialStore.DeleteEntry, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Credential Store"
    },
    "Parameters": [{
            "Id": "PortalId",
            "Title": {
                "default": "Portal"
            },
            "Type": "Select",
            "Settings": {
                "DataSource": "Portals",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "The portal of the Credential Entry given below. Leave empty for global entry (not bound to a portal). When using expressions, the value must be the PortalId."
            }
        },
        {
            "Id": "EntryId",
            "Title": {
                "default": "Entry Id"
            },
            "Type": "Text",
            "HelpText": {
                "default": "The Entry Id of the credential entry you want to delete. Can contain form tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            }
        }
    ]
}]