[{
    "Id": "CredStore.GetEntry",
    "Title": {
        "default": "Get Credential"
    },
    "TypeStr": "DnnSharp.Common.Actions.CredentialStore.GetEntry, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Credential Store"
    },
    "HelpText": {
        "default": "This action generates the following tokens with the information requested: [CredentialEntryInfo:EntryId], [CredentialEntryInfo:EntryName], [CredentialEntryInfo:GroupId], [CredentialEntryInfo:GroupName], [CredentialEntryData:&lt;Fieldname&gt;] tokens (those field names in the \"Add Credentials\"), [CredentialEntryData:&lt;CustomDataKey&gt;] tokens for the CustomData of your credentials. The fields marked as Secure (e.g. password field) will be set to value '******'"
    },
    "Parameters": [{
            "Id": "SelectionMode",
            "Type": "Select",
            "Title": {
                "default": "Selection Mode"
            },
            "Settings": {
                "SupportsExpressions": "false",
                "Items": {
                    "byid": { "default": "Select By Id" },
                    "byname": { "default": "Select By Name" }
                }
            },
            "DefaultValue": {
                "default": "byname"
            }
        }, {
            "Id": "EntryId",
            "Type": "Text",
            "Title": {
                "default": "Entry Id"
            },
            "HelpText": {
                "default": "Specify an Entry Id to bring the credential information for. Can contain form tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Settings": {
                "ShowCondition": "itemParameters['SelectionMode'].Value == 'byid'"
            }
        },
        {
            "Id": "CredentialType",
            "Type": "Select",
            "Title": {
                "default": "Credential type"
            },
            "Settings": {
                "ShowCondition": "itemParameters['SelectionMode'].Value == 'byname'",
                "DataSource": "CredentialStoreCredentialTypes"
            }
        }, {
            "Id": "CredentialGroup",
            "Type": "Select",
            "Title": {
                "default": "Credential group"
            },
            "Settings": {
                "ShowCondition": "itemParameters['SelectionMode'].Value == 'byname'",
                "Interpolate": true,
                "DataSource": "CredentialStoreCredentialGroups",
                "TypeName": "{{parentObject.Parameters['CredentialType'].Value}}"
            }
        },
        {
            "Id": "CredentialEntry",
            "Type": "Select",
            "Title": {
                "default": "Credential entry"
            },
            "Settings": {
                "ShowCondition": "itemParameters['SelectionMode'].Value == 'byname'",
                "Interpolate": true,
                "DataSource": "CredentialStoreCredentialEntries",
                "GroupId": "{{parentObject.Parameters['CredentialGroup'].Value}}"
            }
        }
    ]
}]