[{
    "Id": "CredStore.GetUserEntry",
    "Title": {
        "default": "Get User Credential"
    },
    "TypeStr": "DnnSharp.Common.Actions.CredentialStore.GetUserEntry, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Credential Store"
    },
    "HelpText": {
        "default": "This action retrieves the id of the first entry with the specified properties, for the specified user, in the specified portal."
    },
    "Parameters": [{
        "Id": "PortalId",
        "Type": "Select",
        "Title": {
            "default": "Portal"
        },
        "Settings": {
            "DataSource": "Portals",
            "SupportsExpressions": "true"
        },
        "HelpText": {
            "default": "Leave empty to search through current portal groups and global groups (not bound to any portal). When using expressions, the value must be the PortalId."
        }
    },
    {
        "Id": "UseCurrentUser",
        "Type": "Boolean",
        "Title": {
            "default": "Use current user"
        },
        "HelpText": {
            "default": " "
        }
    }, {
        "Id": "UserId",
        "Type": "Text",
        "Title": {
            "default": "User Identifier"
        },
        "HelpText": {
            "default": "An user can be identified by UserId, Username or Email."
        },
        "Settings": {
            "ShowCondition": "itemParameters['UseCurrentUser'] == false"
        }
    }, {
        "Id": "TypeName",
        "Type": "Select",
        "Title": {
            "default": "Credential type"
        },
        "Settings": {
            "DataSource": "CredentialStoreCredentialTypes"
        }
    }, {
        "Id": "GroupName",
        "Type": "Text",
        "Title": {
            "default": "Group Title"
        }
    }, {
        "Id": "OutputEntryId",
        "Type": "Text",
        "Title": {
            "default": "Output Entry Id"
        }
    }]
}]