[{
    "Id": "CredStore.AddGroup",
    "Title": {
        "default": "Add Group"
    },
    "TypeStr": "DnnSharp.Common.Actions.CredentialStore.AddGroup, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Credential Store"
    },
    "Parameters": [{
            "Id": "Type",
            "Title": {
                "default": "Credential Type"
            },
            "Type": "Select",
            "Settings": {
                "DataSource": "CredentialStoreCredentialTypes",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "When using expressions, the value must be the Type Name."
            }
        },
        {
            "Id": "PortalId",
            "Title": {
                "default": "Portal"
            },
            "Type": "Select",
            "Settings": {
                "DataSource": "Portals",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "Leave empty for global group (not bound to a portal). When using expressions, the value must be the PortalId."
            }
        },
        {
            "Id": "GroupName",
            "Title": {
                "default": "Group title"
            },
            "Type": "Text"
        },


        {
            "Id": "GroupIdTokenName",
            "Type": "Text",
            "Title": {
                "default": "GroupId Token Name"
            },
            "HelpText": {
                "default": "Specify a token name to save the GroupId response into. You can access it later using the token syntax, for example [MyNamedGroupIdToken]"
            }
        }
    ]
}]