[
    {
        "Id": "ClearCacheItem",
        "Title": {
            "default": "Clear Cache Item"
        },
        "HelpText": {
            "default": "Clears a cache item by specifying its cache key or a prefix key and/or select a type of cache to clear.  <br/> To see a list of everything that's in cache, open the <a href=\"AdminApi.ashx?Method=ListCache\" tabindex=\"-1\">Cache Utility</a>"
        },
        "TypeStr": "DnnSharp.Common.Actions.DNNActions.ClearCacheItem, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Data"
        },
        "Parameters": [
            {
                "Id": "ClearAllCache",
                "Title": {
                    "default": "Clear All Cache"
                },
                "HelpText": {
                    "default": "Clears all the DNN cache. This is equal to manually clearing the cache in DNN Admin Panel/PersonaBar."
                },
                "Type": "Boolean"
            },
            {
                "Id": "ClearTabsCache",
                "Title": {
                    "default": "Clear Tabs Cache"
                },
                "HelpText": {
                    "default": "Clears all the tabs cache on the current portal or on the specified portals."
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "!itemParameters['ClearAllCache']"
                }
            },
            {
                "Id": "ClearPortalsCache",
                "Title": {
                    "default": "Clears Portal Cache"
                },
                "HelpText": {
                    "default": "Clears the portal cache on current portal or on the specified portals."
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "!itemParameters['ClearAllCache']"
                }
            },
            {
                "Id": "PortalIds",
                "Title": {
                    "default": "Portal IDs"
                },
                "HelpText": {
                    "default": "Specify one or more portal ids, separated by comma. These ids are used only for Clear Tabs Cache and Clear Portal Cache Eg. 0,1,2"
                },
                "Type": "Text",
                "Settings": {
                    "ShowCondition": "!itemParameters['ClearAllCache'] && (itemParameters['ClearTabsCache'] || itemParameters['ClearPortalsCache'])"
                }
            },
            {
                "Id": "CacheKey",
                "Title": {
                    "default": "Cache Key"
                },
                "HelpText": {
                    "default": "The key used to create the cache or a partial key. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>. Eg. Tab_Tabs will clear the tabs cache on ALL portals."
                },
                "Type": "Text",
                "Settings": {
                    "ShowCondition": "!itemParameters['ClearAllCache']"
                }
            }
        ]
    }
]