[
  {
    "Id": "CopyFile",
    "Title": {
      "default": "Copy File"
    },
    "HelpText": {
      "default": "Copy a file to another DNN Folder."
    },
    "TypeStr": "DnnSharp.Common.Actions.DNNActions.CopyFile, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Dnn"
    },
    "Parameters": [
      {
        "Id": "OriginalFile",
        "Title": {
          "default": "File Identifier"
        },
		"HelpText": { "default": "Identifier for the file. It can be: The file ID (Example: 77), the file path (Example: Images/Cars/Ford.jpg) or the file path from current portal (Example: Portals/0/Images/Cars/Ford.jpg). \n Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFiles",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "DestinationFolder",
        "Title": {
          "default": "Destination Folder Identifier"
        },
        "HelpText": {
          "default": "This field supports expressions, by passing the path of the destination folder."
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFolderList",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "IgnoreErrors",
        "Title": {
          "default": "Ignore errors"
        },
        "Type": "Boolean"
      },
      {
        "Id": "OutputTokenName",
        "Type": "Text",
        "Title": {
          "default": "Output Token Name"
        },
        "HelpText": {
          "default": "Input a token name to store the information for the copied file. Tokens created: <br/>File Id: [&lt;OutputTokenName&gt;]<br />Absolute URL: [&lt;OutputTokenName&gt;:AbsoluteUrl]<br />Relative URL: [&lt;OutputTokenName&gt;:RelativeUrl]<br />Physical Path: [&lt;OutputTokenName&gt;:PhysicalPath]<br />Link Click: [&lt;OutputTokenName&gt;:LinkClick]"
        }
      }
    ]
  }
]