[
    {
        "Id": "CloseAFPopupAndContinue",
        "Title": {
            "default": "Close Action Form Popup And Continue Execution"
        },
        "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCallAndContinue, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "DNN Sharp",
            "JavaScriptFile": "Common/static/client-actions/CloseActionFormPopup.js",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "ModuleId",
                "Title": {
                    "default": "Select Module"
                },
                "HelpText": {
                    "default": "Select the Action Form module you want to close the popup."
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",
                    "DataSource": "Modules",
                    "moduleType": "Action Form"
                }
            }
        ]
    }
]