[{
    "Id": "CloseTPPopup",
    "Title": {
        "default": "Close Tabs Pro Popup And Stop Execution"
    },
    "Final": true,
    "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCall, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "DNN Sharp",
        "JavaScriptFile": "Common/static/client-actions/CloseTabsProPopup.js"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
        "Settings": {
            "ModuleFriendlyName": "avt.TabsPro"
        }
    }, {
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": ["AFORM", "AGRID"]
        }
    }],
    "Parameters": [{
        "Id": "ModuleId",
        "Title": {
            "default": "Select Module"
        },
        "HelpText": {
            "default": "Select the Tabs Pro module you want to close the popup."
        },
        "Type": "Select",
        "Settings": {
            "SupportsExpressions": "true",
            "DataSource": "Modules",
            "moduleType": "avt.TabsPro"
        }
    }]
}]