[{
    "Id": "InitActionFormClient",
    "Title": {
        "default": "Initialize Action Form"
    },
    "IsClientAction": true,
    "TypeStr": "DnnSharp.Common.Actions.ClientActions.BasicDnnsfApiCall, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "DNN Sharp",
        "JavaScriptFile": "Common/static/client-actions/InitializeActionForm.js"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
        "Settings": {
            "ModuleFriendlyName": "avt.ActionForm"
        }
    }, {
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": [
                "AGRID"
            ]
        }
    }],
    "Parameters": [{
            "Id": "ModuleId",
            "Title": {
                "default": "Select Module"
            },
            "HelpText": {
                "default": "Select the Action Form module that you want to initialize."
            },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "DataSource": "Modules",
                "moduleType": "Action Form"
            }
        },
        {
            "Id": "Params",
            "Title": {
                "default": "QueryString Parameters"
            },
            "HelpText": {
                "default": "The values set here will be sent to the Action Form module and will be available in the Init and PreInit actions as values of the 'QueryString:' token namespace."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Name",
                "ValueColumn": "Value",
                "ButtonName": "Add"
            }
        }
    ]
}]