[
    {
        "Id": "OpenTPPopupAndContinue",
        "Title": {
            "default": "Open Tabs Pro Popup And Continue Execution"
        },
        "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCallAndContinue, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "DNN Sharp",
            "JavaScriptFile": "Common/static/client-actions/OpenTabsProPopup.js",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
                "Settings": {
                    "ModuleFriendlyName": "avt.TabsPro"
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "ModuleId",
                "Title": {
                    "default": "Select Module"
                },
                "HelpText": {
                    "default": "Select the Tabs Pro module that you want to open in popup."
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",
                    "DataSource": "Modules",
                    "moduleType": "avt.TabsPro"
                }
            },
            {
                "Id": "Params",
                "Title": {
                    "default": "QueryString Parameters"
                },
                "HelpText": {
                    "default": "The values set here will be sent to the Tabs Pro module. Any Action Form modules present in the tab will receive the values as tokens with 'QueryString:' namespace."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add"
                }
            }
        ]
    }
]