[
    {
        "Id": "InitActionFormAndContinue",
        "Title": {
            "default": "Initialize Action Form And Continue Execution"
        },
        "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCallAndContinue, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "DNN Sharp",
            "JavaScriptFile": "Common/static/client-actions/InitializeActionForm.js",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "ModuleId",
                "Title": {
                    "default": "Select Module"
                },
                "HelpText": {
                    "default": "Select the Action Form module that you want to initialize."
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",
                    "DataSource": "Modules",
                    "moduleType": "Action Form"
                }
            },
            {
                "Id": "Params",
                "Title": {
                    "default": "QueryString Parameters"
                },
                "HelpText": {
                    "default": "The values set here will be sent to the Action Form module and will be available in the Init and PreInit actions as values of the 'QueryString:' token namespace."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add"
                }
            }
        ]
    }
]