[{
    "Id": "ExecuteJavascriptClient",
    "Title": {
        "default": "Execute Javascript Code"
    },
    "IsClientAction": true,
    "TypeStr": "DnnSharp.Common.Actions.ClientActions.InModuleDnnsfApiCall, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "DNN Sharp",
        "JavaScriptFile": "Common/static/client-actions/ExecuteJsCode.js",
        "ExposedParameters": "JavascriptCode"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": [
                "AGRID"
            ]
        }
    }],
    "Parameters": [{
            "Id": "JavascriptCode",
            "Title": {
                "default": "Javascript Code"
            },
            "HelpText": {
                "default": ""
            },
            "Type": "Textarea"
        },
        {
            "Id": "Params",
            "Title": {
                "default": "Parameters"
            },
            "HelpText": {
                "default": "The values set here will be available in the context like this: <b>context.Params.&lt;ParamName&gt;</b>.<br/><b>Note</b>: The ParamName is case sensitive."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Name",
                "ValueColumn": "Value",
                "ButtonName": "Add"
            }
        }
    ]
}]