[{
    "Id": "RefreshGrid",
    "Title": {
        "default": "Refresh Action Grid"
    },
    "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCallAndContinue, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "DNN Sharp",
        "JavaScriptFile": "Common/static/client-actions/RefreshGrid.js"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
        "Settings": {
            "ModuleFriendlyName": "avt.ActionGrid"
        }
    },{
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": [
                "AGRID", "AFORM"
            ]
        }
    }],
    "Parameters": [{
            "Id": "ModuleId",
            "Title": {
                "default": "Select Module"
            },
            "HelpText": {
                "default": "Select the Action Grid module that you want to initialize."
            },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "DataSource": "Modules",
                "moduleType": "Action Grid"
            }
        }
    ]
}]
