[

    {
        "Id": "FilterActionGrid",
        "Title": { "default": "Filter Action Grid" },
        "HelpText": { "default": "Refreshes an Action Grid module without page reload (if it's on same page) with the option to change sorting, pagination and filtering." },
        "TypeStr": "DnnSharp.Common.Actions.FilterGrid, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "DNN Sharp"
        },

        "Parameters": [
			{
			    "Id": "ActionGridModule",
			    "Title": { "default": "Action Grid Module" },
			    "HelpText": { "default": "This is the grid module that will update." },
			    "Type": "Select",
				"Settings": {
					"DataSource": "Modules",
					"moduleType": "Action Grid"
				}
			},

			{
			    "Id": "CurrentPage",
			    "Title": { "default": "Current Page" },
			    "HelpText": { "default": "Leave empty to keep current page. Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>." },
			    "Type": "Text"
			},

			{
			    "Id": "PageSize",
			    "Title": { "default": "Page Size" },
			    "HelpText": { "default": "Leave empty to keep existing page size. Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>." },
			    "Type": "Text"
			},

			{
			    "Id": "SortBy",
			    "Title": { "default": "Sort By" },
			    "HelpText": { "default": "Note that currently Action Grid allos sorting by a single field. Leave empty to keep existing sorting." },
			    "Type": "Text"
			},

			{
                "Id": "SortDescending",
                "Title": { "default": "Sort Descending" },
                "HelpText": { "default": "By default, fields are sorted ascending. Leave empty to keep existing sorting direction." },
                "Type": "Boolean"
            },

		    {
			    "Id": "SearchTerms",
			    "Title": { "default": "Search Terms" },
			    "HelpText": { "default": "Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>." },
			    "Type": "Text"
			},

			{
			    "Id": "Filters",
			    "Title": { "default": "Filters" },
			    "HelpText": { "default": "Action Grid can be filtered by multiple criteria. Both the field name and value support <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>." },
			    "Type": "NameValueCollection",
			    "Settings": {
			        "NameColumn": "Field Name",
			        "ValueColumn": "Value",
			        "ButtonName": "Add Filter"
			    }
			},

			{
                "Id": "ReplaceFilters",
                "Title": { "default": "Replace Filters" },
                "HelpText": { "default": "By default, filters are merged with existing filtering, if any. Use this option to replace all filters instead." },
                "Type": "Boolean"
            },

            {
			    "Id": "AdditionalData",
			    "Title": { "default": "Additional Data" },
			    "HelpText": { "default": "Provide additional values that will be passed the grid via query string. You can reference them using [$<your name here>] syntax. Both the field name and value support <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>." },
			    "Type": "NameValueCollection",
			    "Settings": {
			        "NameColumn": "Name",
			        "ValueColumn": "Value",
			        "ButtonName": "Add Data"
			    }
			},

			{
			    "Id": "StoreAbsoluteUrl",
				"For": "DNNAPIS,SCHD",
			    "Title": { "default": "Store Absolute URL" },
			    "HelpText": { "default": "Optionally provide a token name where to Store Absolute URL. The token can be used in next actions down the stack." },
			    "Type": "Text"
			},
			{
			    "Id": "StoreRelativeUrl",
				"For": "DNNAPIS,SCHD",
			    "Title": { "default": "Store Relative URL" },
			    "HelpText": { "default": "Optionally provide a token name where to Store Relative URL. The token can be used in next actions down the stack." },
			    "Type": "Text"
			}

        ]
    }
]