[{
    "Id": "SendMail",
    "Title": {
        "default": "Send email"
    },
    "TypeStr": "DnnSharp.Common.Actions.Communications.SendEmail, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Email",
        "Bulk": "False"
    },
    "Parameters": [{
            "Id": "From",
            "Title": {
                "default": "From"
            },
            "HelpText": {
                "default": "Leave empty to use the system default. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "To",
            "Title": {
                "default": "To"
            },
            "HelpText": {
                "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "DetermineEmail",
            "Title": {
                "default": "Determine email automatically"
            },
            "HelpText": {
                "default": "If <em>To</em> field above is empty, Action Form will determine email based on currently logged in user."
            },
            "Type": "Boolean"
        },

        {
            "Id": "ToAllUsers",
            "Title": {
                "default": "Send mail to all users"
            },
            "HelpText": {
                "default": "Send mail to all users from the context. When this is checked the To field should be empty. In case it is not empty, beware that tokens form the 'User' namespace will have unexpected values."
            },
            "Type": "Boolean"
        },

        {
            "Id": "ReplyTo",
            "Title": {
                "default": "Reply To"
            },
            "HelpText": {
                "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "Cc",
            "Title": {
                "default": "CC"
            },
            "HelpText": {
                "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "Bcc",
            "Title": {
                "default": "BCC"
            },
            "HelpText": {
                "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "Subject",
            "Title": {
                "default": "Subject"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },

        {
            "Id": "Format",
            "Title": {
                "default": "Format"
            },
            "HelpText": {
                "default": "Email format."
            },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "Html": {
                        "default": "Html (And replace newline with <br/>)"
                    },
                    "Text": {
                        "default": "Text"
                    },
                    "HtmlWithoutNewline": {
                        "default": "Html"
                    }
                }
            },
            "DefaultValue": {
                "default": "Html"
            }
        },

        {
            "Id": "Body",
            "Title": {
                "default": "Body"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "RichText"
        },

        {
            "Id": "Headers",
            "Title": {
                "default": "Headers"
            },
            "HelpText": {
                "default": "Append custom headers to the email. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Name",
                "ValueColumn": "Value",
                "ButtonName": "Add Header"
            }
        },

        {
            "Id": "PortalFiles",
            "Title": {
                "default": "Attach Portal Files"
            },
            "Type": "FilePicker"
        },

        {
            "Id": "FileToken1",
            "Title": {
                "default": "Attach from Token"
            },
            "HelpText": {
                "default": "This lets you compute file path from token. It must be relative to portal home folder. Can contain form tokens(for example[Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. Multiple items must be separated by semicolons."
            },
            "Type": "Text"
        }

    ]
}]