[
    {
		"Id": "JsonEntityList",
		"Title": { "default": "JSON Entity List" },
		"TypeStr": "DnnSharp.Common.Actions.Response.JsonEntityList, DnnSharp.Common.Actions",
		"HelpText": { "default": "Outputs all entities from the context that matches specified criteria." },
		"Settings": {
			"Group": "Output"
		},
		"Final": true,

		"Parameters": [
			{
				"Id": "EntityName",
				"Title": { "default": "Entity Name" },
				"HelpText": { "default": "Name of entity to serialize. Can contain context tokens, for example [FieldId], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "Text"
			},
			{
				"Id": "HttpCode",
				"Title": { "default": "Http code" },
				"HelpText": { "default": "The http code that will be returned. Can contain context tokens, for example [FieldId], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "Text"
			},
			{
				"Id": "Criteria",
				"Title": { "default": "Criteria" },
				"HelpText": { "default": "Provide criteria to determine which entries are removed. " },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "Property",
					"ValueColumn": "Value",
					"ButtonName": "Add Criteria"
				}
			},
			{
				"Id": "Headers",
				"Title": { "default": "HTTP Headers" },
				"HelpText": { "default": "Can contain context tokens, for example [FieldId], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "Name",
					"ValueColumn": "Value",
					"ButtonName": "Add"
				}
			},
			{
				"Id": "AllowJsonp",
				"Title": { "default": "Allow JSONP" },
				"HelpText": { "default": "Instead of outputing { json here }, we output myfunction({ jsonhere }), where myfunction is the value of the 'callback' query string variable." },
				"Type": "Boolean"
			}
		]
	}
]
