[
	{
		"Id": "RemoveEntities",
		"Title": { "default": "Remove Entities" },
		"TypeStr": "DnnSharp.Common.Actions.Entities.RemoveEntities, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Entities"
		},

		"Parameters": [
			{
				"Id": "EntityName",
				"Title": { "default": "Entity Name" },
				"HelpText": { "default": "Name ths entity so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "Text"
			},
			{
				"Id": "Criteria",
				"Title": { "default": "Criteria" },
				"HelpText": { "default": "Provide criteria to determine which entries are removed. " },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "Property",
					"ValueColumn": "Value",
					"ButtonName": "Add Criteria"
				}
			}
		]
	}
]