[{
    "Id": "LoadEntitiesFromJson",
    "TypeStr": "DnnSharp.Common.Actions.Entities.LoadFromJson, DnnSharp.Common.Actions",
    "Title": { "default": "Load Entities (JSON)" },
    "HelpText": {
        "default": "Loads the objects in the given JSON input string (JsonModel) into a list of entities that can then be iterated, executing actions for each entity. You can find the number of loaded entities in the [&lt;EntityName&gt;:Count] token."
    },
    "Settings": {
        "Group": "Entities"
    },

    "Parameters": [{
            "Id": "JsonModel",
            "Title": { "default": "JSON Model" },
            "HelpText": { "default": "The JSON string that will be parsed. This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
            "Type": "Textarea"
        },
        {
            "Id": "EntityName",
            "Title": { "default": "Entity Name" },
            "HelpText": { "default": "Name this entity so you can reference it later by name. This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
            "Type": "Text"
        },
        {
            "Id": "OnError",
            "Title": { "default": "On Error" },
            "HelpText": { "default": "Define a list of actions to run on error. Otherwise, an error message is returned which will contain the underlying error if debug mode is on." },
            "Type": "ActionList",
            "DefaultValue": {
                "default": "[]"
            }
        }
    ]
}]