[{
    "Id": "ExtendEntity",
    "Title": {
        "default": "Extend Entity"
    },
    "HelpText": {
        "default": "Extends an entity with new properties. This action can be used both to bulk update all entities of a type, or update entities one by one when used inside an \"Execute actions on entity list\" action."
    },
    "TypeStr": "DnnSharp.Common.Actions.Entities.ExtendEntity, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Entities"
    },
    "Parameters": [{
            "Id": "EntityName",
            "Title": {
                "default": "Entity Name"
            },
            "HelpText": {
                "default": "Name the entity type that will wish to update. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "EntityProps",
            "Title": {
                "default": "Properties"
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Property Value",
                "ButtonName": "Add Property"
            }
        },
        {
            "Id": "EntityObjProperties",
            "Title": {
                "default": "Entity Object Properties"
            },
            "HelpText": {
                "default": "You can add or replace properties on the entity which references previously created entity objects. NOTE: No recursive referencing checks will be done when setting the property so infinite loops can be encountered. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Referenced Entity Object",
                "ButtonName": "Add Object Property"
            }
        },
        {
            "Id": "EntityListProperties",
            "Title": {
                "default": "List Properties"
            },
            "HelpText": {
                "default": "You can add or replace properties on the entity which references previously created entity lists. NOTE: No recursive referencing checks will be done when setting the property so infinite loops can be encountered. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Referenced Entity List",
                "ButtonName": "Add List Property"
            }
        }
    ]
}]