[{
    "Id": "OrderEntityList",
    "Title": {
        "default": "Order Entity List"
    },
    "HelpText": {
        "default": "Generates a new entity list from the source with the items sorted."
    },
    "TypeStr": "DnnSharp.Common.Actions.Entities.OrderEntityList, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Entities"
    },
    "Parameters": [{
            "Id": "EntityName",
            "Title": {
                "default": "Entity Name"
            },
            "HelpText": {
                "default": "Name the source entity list that will be paginated. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "SortProperty",
            "Title": {
                "default": "Sort Property"
            },
            "HelpText": {
                "default": "The name of the property from the source entity list to order by. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "SortDirection",
            "Title": {
                "default": "Sort Direction"
            },
            "HelpText": {
                "default": "The direction of the sort. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "Items": {
                    "Ascending": {
                        "default": "Ascending"
                    },
                    "Descending": {
                        "default": "Descending"
                    }
                }
            }
        },
        {
            "Id": "OutputEntityName",
            "Title": {
                "default": "Output Entity Name"
            },
            "HelpText": {
                "default": "Name of the new entity list that will contain the pagination result. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        }
    ]
}]