[
	{
		"Id": "LoadEntitiesFromSql",
		"Title": { "default": "Load Entities (SQL)" },
		"HelpText": { "default": "Load Entities from an SQL query. Some actions know to execute for each entity, and expose the entity properties as tokens. A common scenario is to send an email to a list of leads. Note that this action also creates a [<EntityNameHere>:Count] token that holds the total number of entities that were loaded." },
		"TypeStr": "DnnSharp.Common.Actions.Entities.LoadFromSql, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Entities"
		},

		"Parameters": [
			{
				"Id": "ConnectionString",
				"Title": { "default": "Other Connection String" },
				"HelpText": { "default": "Leave this field empty to use the connection string from DNN." },
				"Type": "Text"
			},
			{
				"Id": "SqlQuery",
				"Title": { "default": "SQL Query" },
				"HelpText": { "default": "SQL to execute. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>.<br/> <div style=\"color:red\">WARNING!</div> We encourage using binding parameters instead of using the tokens directly on sql query. Just use @param instead of [token] and bind below values as shown: Parameter Name: param ; Parameter Value: [token]. This will keep your database safe.<br/>" },
				"Type": "Code",
				"Settings": {
					"CodeMirrorMode": "sql"
				}
			},
      {
				"Id": "BindTokens",
				"Title": { "default": "Bind Tokens" },
				"HelpText": { "default": "Bind the parameters above with a value or token. e.g. Parameter Name: param_name, Parameter Value: [token]." },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "Parameter Name",
					"ValueColumn": "Parameter Value",
					"ButtonName": "Bind more data"
				}
			},	
			{
				"Id": "EntityName",
				"Title": { "default": "Entity Name" },
				"HelpText": { "default": "Name ths entity so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "Text"
			},
			{
				"Id": "EntityProps",
				"Title": { "default": "Properties" },
				"HelpText": { "default": "Map columns returned by the SQL to properties of the entity. If the list is empty, all columns retrieved from the SQL query will be added as entity properties." },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "SQL Column",
					"ValueColumn": "Entity Property",
					"ButtonName": "Add Property"
				}
			},
			{
				"Id": "OnError",
				"Title": { "default": "On Error" },
				"HelpText": { "default": "Define a list of actions to run on error. Otherwise, an error message is returned which will contain the underlying error if debug mode is on." },
				"Type": "ActionList",
				"DefaultValue": {
					"default": "[]"
				}
			}
		]
	}
]