[
    {
        "Id": "PaginateEntityList",
        "Title": {
            "default": "Paginate Entity List"
        },
        "HelpText": {
            "default": "Generates a new entity list from the source by selecting only the entities contained in the specified page."
        },
        "TypeStr": "DnnSharp.Common.Actions.Entities.PaginateEntityList, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Entities"
        },
        "Parameters": [
            {
                "Id": "EntityName",
                "Title": {
                    "default": "Entity Name"
                },
                "HelpText": {
                    "default": "Name the source entity list that will be paginated. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "PageSize",
                "Title": {
                    "default": "Page Size"
                },
                "HelpText": {
                    "default": "The number of elements that will be selected from the source entity list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Page",
                "Title": {
                    "default": "Page"
                },
                "HelpText": {
                    "default": "The page number to select from the source entity list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "OutputEntityName",
                "Title": {
                    "default": "Output Entity Name"
                },
                "HelpText": {
                    "default": "Name of the new entity list that will contain the pagination result. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            }
        ]
    }
]