[
    {
        "Id": "RemapEntityList",
        "Title": {
            "default": "Remap Entity List"
        },
        "HelpText": {
            "default": "Create/Overwrite an entity list by remapping the properties of an entity list using a mapping entity list."
        },
        "TypeStr": "DnnSharp.Common.Actions.Entities.RemapEntityList, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Entities"
        },
        "Parameters": [
            {
                "Id": "SourceEntityName",
                "Title": {
                    "default": "Source Entity"
                },
                "HelpText": {
                    "default": "Name the entity you wish to load values from. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntityName",
                "Title": {
                    "default": "Mapping Entity"
                },
                "HelpText": {
                    "default": "This entity contains two columns, one for the source property and one for the target property. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntitySourcePropertyName",
                "Title": {
                    "default": "Mapping Entity - Source Property"
                },
                "HelpText": {
                    "default": "The property name from the mapping entity that represents the property name from the source entity. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntityTargetPropertyName",
                "Title": {
                    "default": "Mapping Entity - Target Property"
                },
                "HelpText": {
                    "default": "The property name from the mapping entity that represents the target name to be stored into the result entity. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "AdditionalProperties",
                "Title": { "default": "Additional Properties" },
                "HelpText": { "default": "Provide a list of additional properties to add to the resulting entity." },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Property Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add Property"
                }
            },
            {
                "Id": "ResultEntityName",
                "Title": {
                    "default": "Result Entity Name"
                },
                "HelpText": {
                    "default": "Name the result entity so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            }

        ]
    }
]
