[
    {
        "Id": "CreateEntityItem",
        "Title": {
            "default": "Create Entity Item"
        },
        "HelpText": {
            "default": "Creates a new entity item."
        },
        "TypeStr": "DnnSharp.Common.Actions.Entities.CreateEntityItem, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Entities"
        },
        "Parameters": [
            {
                "Id": "EntityName",
                "Title": {
                    "default": "Entity Item Name"
                },
                "HelpText": {
                    "default": "Name that will hold the newly created entity item. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "EntityProps",
                "Title": { "default": "Entity Item Properties" },
                "Type": "Grid",
                "Settings": {
                    "Columns": [
                        {
                            "Id": "PropertyName",
                            "Title": { "default": "Property Name" },
                            "Type": "Text",
                             "Settings": {
                                "ColSize": 3
                            }
                        },
                        {
                            "Id": "PropertyValue",
                            "Title": { "default": "Property Value" },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3
                            }
                        },
                        {
                            "Id": "PropertyType",
                            "Title": { "default": "Property Type" },
                            "Type": "Select",
                            "Settings": {
                                "DataSource": "DnnSharp.Common.Actions.Entities.ePropType, DnnSharp.Common.Actions",
                                "ColSize": 3
                            }
                        }
                    ]
                }
            }
        ]
    }
]