[
    {
  "Id": "ImportIntoDatabaseFromEntity",
  "Title": {
    "default": "Import Into Database (Entity)"
  },
  "HelpText": {
    "default": "Import values from an Entity list into a database table. If the ID column is defined as an identity column in your database, row values for that column will be ignored during the insert. The insert action has a 10min Bulk Copy Timeout."
  },
  "TypeStr": "DnnSharp.Common.Actions.Entities.ImportIntoDatabaseFromEntity, DnnSharp.Common.Actions",
  "Settings": {
    "Group": "Data"
  },
  "Parameters": [
    {
      "Id": "ConnectionString",
      "Title": {
        "default": "Connection String"
      },
      "HelpText": {
        "default": "Leave empty to conect to the DNN database. Connect to a different database by providing the name of a connection string from web.config or a connection string (read <a href=\"http://www.connectionstrings.com/\">connectionstrings.com</a> for more info)."
      },
      "Type": "Text"
    },
    {
      "Id": "TableName",
      "Title": {
        "default": "Table Name"
      },
      "HelpText": {
        "default": "Select the table to import data into."
      },
      "Type": "Select",
      "Settings": {
        "DataSourceMethod": "GetDbTables",
        "Interpolate": true,
        "ConnectionString": "{{parentObject.Parameters['ConnectionString'].Value || parentObject.Parameters['ConnectionString']}}",
        "IsRequired": true,
        "SupportsExpressions": "true"
      }
    },
    {
      "Id": "EntityName",
      "Title": {
        "default": "Entity Name"
      },
      "HelpText": {
        "default": "Name the entity so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
      },
      "Type": "Text"
    },
    {
      "Id": "InsertAllValues",
      "Title": {
        "default": "Insert all values"
      },
      "HelpText": {
        "default": "Check this option if you want to try and insert all values from the entity list."
      },
      "Type": "Boolean"
    },
    {
      "Id": "EntityProps",
      "Title": {
        "default": "Properties"
      },
      "HelpText": {
        "default": "Map columns  to properties of the entity."
      },
      "Type": "NameValueCollection",
      "Settings": {
        "NameColumn": "Entity Property Name",
        "ValueColumn": "Database Column Name",
        "ButtonName": "Add Field"
      }
    },
    {
      "Id": "MergeExistingValues",
      "Title": {
        "default": "Merge Existing Values"
      },
      "HelpText": {
        "default": "Check this option if you want to try and update all values from the entity list that have a corresponding row in the database table.<br/>If the primary key value is not specified it will try to automatically assign it which might lead to problems.<br/>This option can increase the execution time for large amounts of data."
      },
      "Type": "Boolean"
    },
    {
      "Id": "OnlyUpdateValues",
      "Title": {
        "default": "Only Update Values"
      },
      "HelpText": {
        "default": "Check this option if you do not want to insert new data rows into the table, only update. This option requires Merge Existing Values to be checked.<br/>This option can increase the execution time for large amounts of data."
      },
      "Type": "Boolean"
    },
    {
      "Id": "DeleteNonExistingValues",
      "Title": {
        "default": "Delete Non-Existing Values"
      },
      "HelpText": {
        "default": "Check this option if you want to try and delete all values from the database table that do not have a corresponding item in the entity list.<br/>This option can increase the execution time for large amounts of data."
      },
      "Type": "Boolean"
    },
    {
      "Id": "OnError",
      "Title": {
        "default": "On Error"
      },
      "HelpText": {
        "default": "Define a list of actions to run on error. Otherwise, an error message is returned which will contain the underlying error if debug mode is on."
      },
      "Type": "ActionList",
      "DefaultValue": {
        "default": "[]"
      }
    }
  ]
}
]
