[
    {
        "For": "AFORM,AGRID",
        "Id": "ExecuteJsCodeAndContinue",
        "Title": {
            "default": "Execute Javascript Code And Continue Execution"
        },
        "HelpText": {
            "default": "Executes javascript code. You can also use our public APIs."
        },
        "TypeStr": "DnnSharp.Common.Actions.Code.ExecuteJsCodeAndContinue, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Code",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "JavascriptCode",
                "Title": {
                    "default": "Javascript Code"
                },
                "HelpText": { "default": "This field supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. Form fields can be accessed like this <i>form.fields.FieldID.value</i> (eg. form.fields.TextBox.value). Form fields tokens like <i>[SomeField]</i> will be replaced with the value they hold. (eg. 'My name is John Doe')" },
                "Type": "Code",
                "Settings":{
                    "CodeMirrorMode":"javascript"
                }
            }
        ]
    }
]
