[{
  "Id": "LoopActions",
  "Title": {
    "default": "Repeat"
  },
  "HelpText": {
    "default": "Repeats a list of actions until a condition evaluates to false or a number of repetitions is achieved. If you combine the repetitions and condition settings, you can obtain a block  of code inside a for that will stop repeating when the condition evaluates to false. The current repetition number can be accessed in the following token: <b>[&lt;BaseNameToken&gt;:CurrentLoopNumber]</b>."
  },
  "TypeStr": "DnnSharp.Common.Actions.Flow.LoopActions, DnnSharp.Common.Actions",
  "Settings": {
    "Group": "Flow"
  },
  "Parameters": [{
      "Id": "BaseNameToken",
      "Title": {
        "default": "Base Name Token"
      },
      "HelpText": {
        "default": "Provide a name to identify the loop. If you want to use nested loops, provide different Base Name Tokens. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
      },
      "Type": "Text"
    }, {

      "Id": "Repetitions",
      "Title": {
        "default": "Repetitions"
      },
      "HelpText": {
        "default": "Define a number of repetitions, this number has to be a positive integer. This will make the loop act as a block of code inside a for. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
      },
      "Type": "Text"
    },
    {
      "Id": "EndCondition",
      "Title": {
        "default": "While Condition"
      },
      "HelpText": {
        "default": "Define the condition to decide if the repeat process continues or not. When this condition evaluates to false, the repeat process will stop. This will make the loop act as a block of code inside a while . Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
      },
      "Type": "Text"
    },
    {
      "Id": "ActionList",
      "Title": {
        "default": "Actions"
      },
      "HelpText": {
        "default": "Define the list of actions to execute."
      },
      "Type": "ActionList"
    },
    {
      "Id": "ContextBehavior",
      "Title": {
        "default": "Context Behavior"
      },
      "HelpText": {
        "default": "Depending on how you use this action, you might want to change the scope of the generated tokens<br/><b>Update all tokens in the original context</b> option will copy all the tokens generated in each iteration to the original context that was before this action<br/><b>Don't save the iteration tokens</b> option will NOT keep any tokens generated in this action, not even from one iteration to the other.<br/><b>Update the tokens in the initial context</b> option will allow you to save the tokens in the original context (before this action) and from one iteration to another IF the tokens exists in original context, meaning that you have to initialize them before this action."
      },
      "Type": "Select",
      "Settings": {
        "Items": {
          "UpdateAllTokens": {
            "default": "Update all tokens in the original context"
          },
          "NoPreserve": {
            "default": "Don't save the iteration tokens"
          },
          "UpdateInitialContextTokens": {
            "default": "Update the tokens in the initial context"
          }
        }
      }
    },
    {
      "Id": "ContinueOnError",
      "Title": {
        "default": "Continue on error"
      },
      "HelpText": {
        "default": "Continues to the next iteration even if the current one failed to execute."
      },
      "Type": "Boolean"
    },
    {
      "Id": "OnError",
      "Title": {
        "default": "On Error"
      },
      "HelpText": {
        "default": "Actions that will be executed if an error is caught in one iteration. If Continue On Error is checked final actions like Display Message / Error won't be executed."
      },
      "Type": "ActionList"
    }
  ]
}]