[
  {
    "Id": "ExecuteActions",
    "Title": { "default": "Execute Actions" },
    "HelpText": { "default": "Executes a list of actions." },
    "TypeStr": "DnnSharp.Common.Actions.Flow.ExecuteActions, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Flow"
    },
    "Parameters": [
      {
        "Id": "ActionList",
        "Title": { "default": "Actions" },
        "HelpText": { "default": "Define the list of actions to execute." },
        "Type": "ActionList"
      }
    ]
  }
]
