[
    {
        "Id": "SendDnnMessage",
        "Title": {
            "default": "Send DNN Message"
        },
        "HelpText": {
            "default": "Send a message using DNN Messaging system to an user, role or multiple users/roles. This inherits the behavior and the settings from DNN Messaging system."
        },
        "TypeStr": "DnnSharp.Common.Actions.Communications.SendDnnMessage, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Message"
        },
        "Parameters": [
            {
                "Id": "From",
                "Title": {
                    "default": "From"
                },
                "HelpText": {
                    "default": "Leave empty to use the system default. Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "To",
                "Title": {
                    "default": "To"
                },
                "HelpText": {
                    "default": "Input Usernames or UserIDs. Separate multiple recipients by semicolon \";\" or comma \",\". Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "ToRoles",
                "Title": {
                    "default": "To Roles"
                },
                "HelpText": {
                    "default": "ONLY SuperUsers, Administrators and group members(on Evoq) can send message to roles! Input RoleNames or RoleIDs. Separate multiple recipients by semicolon \";\" or comma \",\" when using expressions. Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",
                    "DataSource": "Roles"
                }
            },
            {
                "Id": "Subject",
                "Title": {
                    "default": "Subject"
                },
                "HelpText": {
                    "default": "Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Body",
                "Title": {
                    "default": "Body"
                },
                "HelpText": {
                    "default": "Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Textarea"
            },
            {
                "Id": "PortalFiles",
                "Title": {
                    "default": "Attach Portal Files"
                },
                "Type": "FilePicker"
            },
            {
                "Id": "FileField",
                "Title": {
                    "default": "Attach File Field"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment."
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "[\"upload.single\", \"upload.multi\"]"
                }
            },
            {
                "Id": "FileToken",
                "Title": {
                    "default": "Attach from Token"
                },
                "HelpText": {
                    "default": "This lets you compute file path from token. It must be relative to portal home folder.<br/>Can contain tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. <br/>Multiple items must be separated by semicolons."
                },
                "Type": "Text"
            },
            {"Id": "MessageIDTokenName",
                "Title": {
                    "default": "Message Id Token"
                },
                "HelpText": {
                    "default": "Optionally provide a token to store the sent Message ID."
                },
                "Type": "Text"
            }
        ]
    }
]