[
    {
        "Id": "CreateJsonObject",
        "Title": {
            "default": "Create JSON Object"
        },
        "HelpText": {
            "default": "Create a JSON object holding a property and a value."
        },
        "TypeStr": "DnnSharp.Common.Actions.Parsing.CreateJsonObject, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Parsing"
        },
        "Parameters": [
            {
                "Id": "Properties",
                "Title": {
                    "default": "JSON Properties"
                },
                "HelpText": {
                    "default": "For booleans, you can use value as <b>true</b> or <b>false</b> and it's not case-sensitive. <br/>String formatting will escape the string. You can input a simple token as <b>[Token]</b> or the string itself. <br/>You can also input other valid JSON strings and format them as object or array. <br/>Formatting works only if the JSON is correctly written. <br/>All fields can contain contextual tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.<br/>"
                },
                "Type": "Grid",
                "Settings": {
                    "SupportsExpressions": "true",
                    "Columns": [
                        {
                            "Id": "Name",
                            "Title": {
                                "default": "Name"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3,
                                "NoLabel": true
                            }
                        },
                        {
                            "Id": "Value",
                            "Title": {
                                "default": "Value"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3,
                                "NoLabel": true
                            }
                        },
                        {
                            "Id": "TypeValidation",
                            "Title": {
                                "default": "TypeFormatter"
                            },
                            "Type": "Select",
                            "Settings": {
                                "ColSize": 4,
                                "NoLabel": true,
                                "SupportsExpressions": "true",
                                "Items": {
                                    "String": {
                                        "default": "String"
                                    },
                                    "Number": {
                                        "default": "Number"
                                    },
                                    "Bool": {
                                        "default": "Bool"
                                    },
                                    "JSONObject": {
                                        "default": "JSONObject"
                                    },
                                    "JSONArray": {
                                        "default": "JSONArray"
                                    },
                                    "EntityList": {
                                        "default": "Entity List"
                                    },
                                    "EntityObject": {
                                        "default": "Entity Object"
                                    }
                                }
                            },
                            "DefaultValue": {
                                "default": ""
                            }
                        }
                    ]
                }
            },
            {
                "Id": "OutputTokenName",
                "Title": {
                    "default": "Output Token Name"
                },
                "HelpText": {
                    "default": "This is the output JSON string. See action help text above for details."
                },
                "Type": "Text"
            }
        ]
    }
]
