[
    {
        "Id": "RegexMultipleResults",
        "Title": {
            "default": "Regex - Multiple Results"
        },
        "HelpText": {
            "default": "Parse multiple values at once from same Input"
        },
        "TypeStr": "DnnSharp.Common.Actions.Parsing.RegexPatternMultipleResults, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Parsing"
        },
        "Parameters": [
            {
                "Id": "Input",
                "Title": {
                    "default": "Input"
                },
                "Type": "Textarea",
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "RegexPatternMultiple",
                "Title": {
                    "default": "Regex Pattern"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Provide a rule to parse the Input expression (which can be a token that contains the value from another field or action) into new tokens."
                }
            },
            {
                "Id": "CSVTokenName",
                "Title": {
                    "default": "Store CSV in token"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Format matched results as csv. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "FieldSeparator",
                "Title": {
                    "default": "CSV Field Separator"
                },
                "Type": "Select",
                "HelpText": {
                    "default": "Use semicolon if you open CSV Files with Excel and your region Format is set to other than English (United States). Left unselected, defaults to comma."
                },
                "Settings": {
                    "Items": { 
                        "comma": { "default": ", i.e. comma" }, 
                        "semicolon": { "default": "; i.e. semicolon" }, 
                        "tab": { "default": "tab" }
                    }
                }
            },
            {
                "Id": "JSONTokenName",
                "Title": {
                    "default": "Store JSON in token"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Format matched results as json. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "XMLTokenName",
                "Title": {
                    "default": "Store xml in token"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Format matched results as xml. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "CompileRegex",
                "Title": {
                    "default":"Compile Regex"
                },
                "Type":"Boolean",
                "HelpText":{
                    "default": "Compiled Regex runs 30% faster when the pattern isn't changed but takes up more memory. Use it when the action is executed frequently without changes to the pattern.(Note: The first run which will also execute the compilation will be 3 times slower.)"
                },
                "DefaultValue": {
                    "default": "False"
                }
            }
        ]
    }
]
