[
    {
        "For": "AFORM, AGRID, INFOB, DNNAPIS, SCHD",
        "Id": "RegexReplacer",
        "Title": {
            "default": "Regex Replace"
        },
        "HelpText": {
            "default": "Replaces multiple values at once from same Input"
        },
        "TypeStr": "DnnSharp.Common.Actions.Parsing.RegexReplacer, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Parsing"
        },
        "Parameters": [
            {
                "Id": "Data",
                "Title": {
                    "default": "Data"
                },
                "Type": "Grid",
                "Settings": {
                    "Columns": [
                        {
                            "Id": "TokenName",
                            "Title": {
                                "default": "Store in Token"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 2,
                                "NoLabel": true
                            }
                        },
                        {
                            "Id": "Input",
                            "Title": {
                                "default": "Input"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3,
                                "NoLabel": true
                            }
                        },
                        {
                            "Id": "PatternValue",
                            "Title": {
                                "default": "Pattern"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3,
                                "NoLabel": true
                            }
                        },
                        {
                            "Id": "ReplaceValue",
                            "Title": {
                                "default": "Replace with"
                            },
                            "Type": "Text",
                            "Settings": {
                                "ColSize": 3,
                                "NoLabel": true
                            }
                        }
                    ]
                }
            },
            {
                "Id": "ApplyTokensOnPattern",
                "Type": "Boolean",
                "Title": {
                    "default": "Apply tokens on pattern"
                }
            },
            {
                "Id": "CompileRegex",
                "Title": {
                    "default":"Compile Regex"
                },
                "Type":"Boolean",
                "HelpText":{
                    "default": "Compiled Regex runs 30% faster when the pattern isn't changed but takes up more memory. Use it when the action is executed frequently without changes to the pattern.(Note: The first run which will also execute the compilation will be 3 times slower.)"
                },
                "DefaultValue": {
                    "default": "False"
                }
            }
        ]
    }
]