[{
    "Id": "RedirectToPage",
    "Title": {
        "default": "Redirect to Portal Page"
    },
    "TypeStr": "DnnSharp.Common.Actions.Redirect.RedirectToPageAction, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Redirect"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": ["SCHD"]
        }
    }],
    "Final": true,
    "Parameters": [{
            "Id": "PageId",
            "Title": {
                "default": "Page"
            },
            "HelpText": {
                "default": "If no page is selected, the action will redirect to the current page."
            },
            "Type": "Select",
            "Settings": {
                "DataSource": "PortalPages"
            }
        },
        {
            "Id": "EnforceCurrentLocale",
            "Title": {
                "default": "Enforce Current Locale"
            },
            "HelpText": {
                "default": "Setting this to true, will make the action redirect to the localized version of the page requested. The localization of the requested tab is chosen based on the current locale."
            },
            "Type": "Boolean"
        },
        {
            "Id": "QueryString",
            "Title": {
                "default": "Query String"
            },
            "HelpText": {
                "default": "Optionally provide a query string in the form of <em>param1=value1&amp;amp;param2=value2...</em>. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "QueryStringUseUrlProvider",
            "Title": {
                "default": "Use URL Provider to form Query String"
            },
            "HelpText": {
                "default": "Some URL providers form query string using paths, e.g. /id/1, instead of ?id=1. This can cause problems in Javascript code that relies on query string variables."
            },
            "Type": "Boolean",
            "DefaultValue": {
                "default": true
            }
        },
        {
            "Id": "OpenInPopup",
            "Title": {
                "default": "Open in Popup"
            },
            "HelpText": {
                "default": "Enable this option to open in a poupup. Note that you might want to arrange your URLs a bit to look nice inside popups. More instructions in <a href=\"http://action-form.dnnsharp.com/form-actions/redirect\" tabindex=\"-1\">Action Form documentation.</a>."
            },
            "Settings": {
                "ShowCondition": "!itemParameters['OpenInNewTab']"
            },
            "Type": "Boolean"
        },
        {
            "Id": "PopupTitle",
            "Title": {
                "default": "Popup Title"
            },
            "HelpText": {
                "default": "Optionally, provide a title for the popup."
            },
            "Settings": {
                "ShowCondition": "itemParameters['OpenInPopup']"
            },
            "Type": "Text"
        },
        {
            "Id": "OpenInNewTab",
            "Title": {
                "default": "Open in new tab"
            },
            "HelpText": {
                "default": "Enable this option to open in a new tab. Note that you might want to arrange your URLs a bit to look nice inside the new tab."
            },
            "Settings": {
                "ShowCondition": "!itemParameters['OpenInPopup']"
            },
            "Type": "Boolean"
        }
    ]
}]