[
    {
        "Id": "DownloadFileResponse",
        "Title": {
            "default": "Download File"
        },
        "TypeStr": "DnnSharp.Common.Actions.Response.DownloadFile, DnnSharp.Common.Actions",
        "HelpText": {
            "default": "Downloads a file based on your identifier."
        },
        "Settings": {
            "Group": "Output"
        },
        "Final": true,
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [
                        "DNNAPIS"
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "FileIdentifier",
                "Title": {
                    "default": "File Identifier"
                },
                "HelpText": {
                    "default": "Input a file identifier that can be a FileId, or a File Path relative to current portal. Can contain context tokens, for example [FieldId], and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "OverrideUserSecurity",
                "Title": {
                    "default": "Override User Security Checks"
                },
                "HelpText": {
                    "default": "By default, this action checks if the user in the context has permissions to view the specified file.<br/>By checking this, you skip the inner portal folder security checks and the user can access any file in context portal, even if he is <b>NOT</b> logged in. <br/>You can also specify a file path, relative to portal, eg. \"/Images/me.jpg\", as well as a file ID."
                },
                "Type": "Boolean"
            },
            {
                "Id": "OverridePortalSecurity",
                "Title": {
                    "default": "Override Portal Security Checks"
                },
                "HelpText": {
                    "default": "By default, this action checks if the user in the context has permissions to view the specified file.<br/>By checking this, you skip portals security checks and the user can access any file in every portal, if the <b>File Identifier</b> field specifies relative path to the current site folder, by prefixing the path with a `~` character.<br/>Eg. \"~/Portals/AnotherFolder/me.jpg\". The path must start with \"~/Portals/\".<br/><b>Note that this will be limited only by system permissions of the current AppPool, and it's NOT recommended to use this at all!</b>"
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "itemParameters['OverrideUserSecurity']"
                }
            },
            {
                "Id": "OverrideServerSecurity",
                "Title": {
                    "default": "Override Server Security Checks"
                },
                "HelpText": {
                    "default": "By default, this action checks if the user in the context has permissions to view the specified file.<br/>By checking this, you skip every security check and the user can access any file on disk, but the <b>File Identifier</b> field must specify a full disk path.<br/>You can also specify relative paths to the current site folder, by prefixing the path with a `~` character. Eg. \"~/Portals/AnotherFolder/me.jpg\" or a full disk path. Eg \"C:\\wwwroot\\Portals\\_default\\Images\\me.jpg\".<br/><b>Note that this will be limited only by system permissions of the current AppPool, and it's NOT recommended to use this at all!</b>"
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "itemParameters['OverridePortalSecurity']"
                }
            }
        ]
    }
]