[{
    "Id": "CreateRole",
    "Title": {
        "default": "Create Role"
    },
    "TypeStr": "DnnSharp.Common.Actions.Role.CreateRole, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "Creates a new role in the current portal."
    },
    "Settings": {
        "Group": "Role"
    },
    "Parameters": [{
            "Id": "RoleName",
            "Title": {
                "default": "Role Name"
            },
            "HelpText": {
                "default": "The name of the role that will be created. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "RoleDescription",
            "Title": {
                "default": "Role Description"
            },
            "HelpText": {
                "default": "The description of the role that will be created. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "RoleGroupIdentifier",
            "Title": {
                "default": "Role Group Identifier"
            },
            "HelpText": {
                "default": "The identifier of the group that will be assigned to the role. You can use a group name or a group ID, it defaults to the id that represents no role group assigned (-1) if nothing is provided. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "RoleStatus",
            "Title": {
                "default": "Role Status"
            },
            "HelpText": {
                "default": "The status of the role that will be created. If you use an expression, the values accepted are -1 (Pending), 0 (Disabled), 1 (Approved). Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "-1": {
                        "default": "Pending"
                    },
                    "0": {
                        "default": "Disabled"
                    },
                    "1": {
                        "default": "Approved"
                    }
                },
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "AddToExistingUsers",
            "Title": {
                "default": "Add to existing users"
            },
            "HelpText": {
                "default": "Add this newly created role to existing users. A value of \"true\" or  \"false\" should be provided, it defaults to false if no input is received. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "AutoAssign",
            "Title": {
                "default": "Auto Assign"
            },
            "HelpText": {
                "default": "Assign the newly created role to all users that will register on the portal. A value of \"true\" or  \"false\" should be provided, it defaults to false if no input is received. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "IsPublic",
            "Title": {
                "default": "Is Public"
            },
            "HelpText": {
                "default": "Is a public role. A value of \"true\" or  \"false\" should be provided, it defaults to false if no input is received. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "OutputTokenName",
            "Title": {
                "default": "Output Token Name"
            },
            "HelpText": {
                "default": "Provide a token to save the Role Id in."
            },
            "Type": "Text"
        }
    ]
}]