[{
    "Id": "DeleteRole",
    "Title": {
        "default": "Delete Role"
    },
    "TypeStr": "DnnSharp.Common.Actions.Role.DeleteRole, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "Deletes a role on the current portal."
    },
    "Settings": {
        "Group": "Role"
    },
    "Parameters": [
        {
            "Id": "RoleIdentifier",
            "Title": {
                "default": "Role Identifier"
            },
            "HelpText": {
                "default": "The identifier of the role that will be deleted. You can use a role name or a role ID. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        }
    ]
}]