[
{
"Id": "SendSaman",
"Title": { "default": "Start IranKish paying" },
"TypeStr": "DnnSharpGateWay.Send, DnnSharpGateWay",
"HelpText": { "default": "برای ارسال کاربر به درگاه پرداخت از این اکشن استفاده می شود و پارامترهای لازم برای ارسال کاربر به درگاه در توکن  [PostForm]  ذخیره می شوند و کافیست از این توکن در اکشن  Display Message  استفاده کنید. " },
"Settings": {
"Group": "IranKishGateWay"
},
"Parameters": [
{
"Id": "MerchantId", // Id must match the name of your property
"Title": { "default": "Merchant Id" },
"HelpText": { "default": "شماره پذیرنده" },
"Type": "Text"
},
{
"Id": "RedirectURL", // Id must match the name of your property
"Title": { "default": "Call Back Url" },
"HelpText": { "default": " آدرس و مسیر برگشتی که در سایت تعیین کردید جهت  بازگشت کاربر از بانک" },
"Type": "Text"
},
{
"Id": "OrderId", // Id must match the name of your property
"Title": { "default": "Order Id" },
"HelpText": { "default": "بانک برای هر تراکنش به یک شماره فاکتور غیر تکراری دریافت می کند شما می توانید در فرم خود یک شماره منحصر بفرد عددی داشته باشید یا پیشنهاد میکنیم از توکن [DateTime:Now|yMMddhhmmss] برای داشتن شماره فاکتور غیر تکراری استفاده کنید ." },
"Type": "Text"
},
{
"Id": "Amount", // Id must match the name of your property
"Title": { "default": "Price" },
"HelpText": { "default": " مبلغ ارسالی به بانک می تواند یک عدد ثابت باشد یا از دیگر فیلد های که در فرم استفاده کردید به صورت توکن استفاده کنید" },
"Type": "Text"
}
]
},
{
"Id": "StartCallBackIranKish",
"Title": { "default": "Start IranKish CallBack" },
"TypeStr": "DnnSharpGateWay.Start, DnnSharpGateWay",
"HelpText": { "default":"بعد از انجام تراکنش و برگشت خریدار به این صفحه توسط درگاه پرداخت ، شماره فاکتور در توکن [ResNum] ذخیره می شوند. " },
"Settings": {
"Group": "IranKishGateWay"
}
},
{
"Id": "CallBackSaman",
"Title": { "default": "Payment processing" },
"TypeStr": "DnnSharpGateWay.CallBack, DnnSharpGateWay",
"HelpText": { "default": " نتیجه تراکنش  در توکن های   [Error] و[TRACENO] و[Successful] و[StateCode] و[State] و[SecurePan] و[RRN] و [ResNum] و [RefNum] و [MID] و [SamanMessage] و [CID] و [Amount] و [IsCallBack] ذخیره می شوند. " },
"Settings": {
"Group": "IranKishGateWay"
},
"Parameters": [
{
"Id": "Username", // Id must match the name of your property
"Title": { "default": "User Name" },
"HelpText": { "default": " نام کاربری " },
"Type": "Text"
},
{
"Id": "Password", // Id must match the name of your property
"Title": { "default": "Password" },
"HelpText": { "default": "کلمه ی عبور" },
"Type": "Text"
},
{
"Id": "OrderId", // Id must match the name of your property
"Title": { "default": "Order Id" },
"HelpText": { "default": "شماره فاکتور ، برای بررسی با شماره فاکتور ارسال شده از درگاه بانک" },
"Type": "Text"
},
{
"Id": "Price", // Id must match the name of your property
"Title": { "default": "Price" },
"HelpText": { "default": "مبلغ فاکتور ، برای بررسی با مبلغ پرداختی توسط کاربر" },
"Type": "Text"
},
{
"Id": "OnSuccessful",
"Title": { "default": "On Successful" },
"HelpText": { "default": "لیست اکشن هایی که هنگام پرداخت موفقیت آمیز می خواهید اجرا شوند." },
"Type": "ActionList"
},
{
"Id": "OnCanceled",
"Title": { "default": "On Canceled" },
"HelpText": { "default": "لیست اکشن هایی که هنگام لغو پرداخت می خواهید اجرا شوند." },
"Type": "ActionList"
},
{
"Id": "OnInvalid",
"Title": { "default": "On Invalid" },
"HelpText": { "default": "لیست اکشن هایی که هنگام نامعتبر بودن پرداخت می خواهید اجرا شوند." },
"Type": "ActionList"
},
{
"Id": "OnError",
"Title": { "default": "On Error" },
"HelpText": { "default": "لیست اکشن هایی که هنگام وجود خطا در کدها می خواهید اجرا شوند." },
"Type": "ActionList"
}
]
}
]