[
    {
        "For": "AFORM,AGRID",
        "Id": "ShowToastAndContinue",
        "Title": {
            "default": "Display Toast Message And Continue Execution"
        },
        "HelpText": {
            "default": "Displays a simple notification/information to a user in a small popup."
        },
        "TypeStr": "DnnSharp.Common.Actions.Message.ShowToastAndContinue, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Message",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "Heading",
                "Title": {
                    "default": "Heading"
                },
                "HelpText": { "default": "Optional heading to be shown on the toast. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "Text"
            },
            {
                "Id": "Message",
                "Title": {
                    "default": "Message"
                },
                "HelpText": { "default": "The text contained by the Toast Message. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "RichText"
            },
            {
                "Id": "Icon",
                "Title": {
                    "default": "Type"
                },
                "HelpText": { "default": "Type of toast." },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "default": {
                            "default": "Default"
                        },
                        "warning": {
                            "default": "Warning"
                        },
                        "success": {
                            "default": "Success"
                        },
                        "error": {
                            "default": "Error"
                        },
                        "info": {
                            "default": "Info"
                        }
                    }
                },
                "DefaultValue": { "default": "default" }
            },
            {
                "Id": "BgColor",
                "Title": {
                    "default": "Background Color"
                },
                "HelpText": { "default": "The color of the displayed message(eg. red #00ff00 rgb(0,0,255)). Each Type has a default background color, leave this option unset to use the default. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "text"
            },
            {
                "Id": "Transition",
                "Title": {
                    "default": "Transition"
                },
                "HelpText": { "default": "Type of transition." },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "fade": {
                            "default": "Fade"
                        },
                        "slide": {
                            "default": "Slide"
                        },
                        "plain": {
                            "default": "Plain"
                        }
                    }
                },
                "DefaultValue": { "default": "fade" }
            },
            {
                "Id": "AllowToastClose",
                "Title": {
                    "default": "Allow Toast Close"
                },
                "HelpText": { "default": "Enable (x) to close the toast at will." },
                "Type": "Boolean"
            },
            {
                "Id": "CallBackJsCode",
                "Title": {
                    "default": "Javascript"
                },
                "HelpText": { "default": "This javascript code will be executed on toast close." },
                "Type": "Code"
            },
            {
                "Id": "HideTime",
                "Title": {
                    "default": "Hide (with transition^) after (ms)"
                },
                "HelpText": { "default": "Time in which the toast will close automatically. Time is in milliseconds. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>" },
                "Type": "text",
                "DefaultValue": { "default": "1000" }
            },
            {
                "Id": "Stack",
                "Title": {
                    "default": "Stack Length"
                },
                "HelpText": { "default": "1 if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "text",
                "DefaultValue": { "default": "1" }
            },
            {
                "Id": "ToastPosition",
                "Title": {
                    "default": "Toast Position"
                },
                "HelpText": { "default": "Positions on screen." },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "bottom-left": {
                            "default": "Bottom Left"
                        },
                        "bottom-right": {
                            "default": "Bottom Right"
                        },
                        "bottom-center": {
                            "default": "Bottom Center"
                        },
                        "top-right": {
                            "default": "Top Right"
                        },
                        "top-left": {
                            "default": "Top Left"
                        },
                        "top-center": {
                            "default": "Top Center"
                        },
                        "mid-center": {
                            "default": "Middle Center"
                        }
                    }
                },
                "DefaultValue": { "default": "bottom-center" }
            },
            {
                "Id": "TextAlignment",
                "Title": {
                    "default": "Text Alignment"
                },
                "HelpText": { "default": "Text Alignment." },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "left": {
                            "default": "Left"
                        },
                        "right": {
                            "default": "Right"
                        },
                        "center": {
                            "default": "Center"
                        }
                    }
                },
                "DefaultValue": { "default": "left" }
            },
            {
                "Id": "ShowLoader",
                "Title": {
                    "default": "Show Loader"
                },
                "HelpText": { "default": "Displays a progress bar." },
                "Type": "Boolean"
            },
            {
                "Id": "LoaderColor",
                "Title": {
                    "default": "Loader Color"
                },
                "Settings":{
                    "ShowCondition" : "itemParameters['ShowLoader']"
                },
                "HelpText": { "default": "The color of the progress bar (eg. red #00ff00 rgb(0,0,255)). Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>." },
                "Type": "Text"
            }
        ]
    }
]
