[
    {
        "Id": "TabsProChangeTabAndContinue",
        "TypeStr": "DnnSharp.Common.Actions.TabsProChangeTabAndContinue, DnnSharp.Common.Actions",
        "Title": {
            "default": "TabsPro Change Tab And Continue Execution"
        },
        "Settings": {
            "Group": "DNN Sharp",
            "JavaScriptFile": "Common/static/client-actions/ChangeTabsProTab.js",
            "IsFlushableAction": "true"
        },
        "Conditions": [
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
                "Settings": {
                    "ModuleFriendlyName": "avt.TabsPro"
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": [ "AFORM", "AGRID" ]
                }
            },
            {
                "TypeStr": "DnnSharp.Common.Conditions.IsForVersions,DnnSharp.Common",
                "Settings": {
                    "VersionLimits": [
                        {
                            "AppCode": "AFORM",
                            "MinVersion": "3.9.261"
                        },
                        {
                            "AppCode": "AGRID",
                            "MinVersion": "4.1.330"
                        }
                    ]
                }
            }
        ],
        "Parameters": [
            {
                "Id": "TabsProModuleID",
                "Title": {
                    "default": "TabsPro Module"
                },
                "HelpText": {
                    "default": "Select the Tabs Pro module. If an expression is passed in, it needs to return the ModuleId of the TabsPro module. It supports context tokens (such as [InputField]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",                    
                    "DataSource": "Modules",
                    "moduleType": "avt.TabsPro"
                }
            },
            {
                "Id": "TabId",
                "Title": {
                    "default": "Tab"
                },
                "HelpText": {
                    "default": "Select the tab in Tabs Pro module. If an expression is passed in, it needs to return the id of the tab in the TabsPro module. It supports context tokens (such as [InputField]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
                },
                "Type": "Select",
                "Settings": {
                    "SupportsExpressions": "true",
                    "Interpolate": true,
                    "DataSource": "TabsProGetTabs",
                    "TabsProModuleID": "{{parentObject.Parameters['TabsProModuleID'].Value}}",
                    "currentTab": true
                }
            },
            {
                "Id": "Refresh",
                "Title": {
                    "default": "Evaluate state"
                },
                "HelpText": {
                    "default": "This option evaluates the state of the TabsPro' Tabs before changing the tab."
                },
                "Type": "Boolean"
            },
            {
                "Id": "Params",
                "Title": {
                    "default": "QueryString Parameters"
                },
                "HelpText": {
                    "default": "The values set here will be sent to the Tabs Pro module. Any Action Form modules present in the tab will receive the values as tokens with 'QueryString:' namespace."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add"
                }
            }
        ]
    }
]