[{
    "Id": "UpdateUserProfile.v2",
    "Title": {
        "default": "Update User Profile"
    },
    "TypeStr": "DnnSharp.Common.Actions.User.UpdateUserProfile, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "User"
    },
    "HelpText": {
        "default": "This action will instruct the module to update only fields in the profile of current user that are specified in the action (default or additional ones). <b>Important!</b> Note that profile property names are case sensitive!"
    },
    "Parameters": [{
            "Id": "UserIdentifier",
            "Title": {
                "default": "User Identifier"
            },
            "Type": "Text",
            "HelpText": {
                "default": "The user identifier (UserId, username or email) that you want to update. Leave empty to update the current user. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "UpdatePasswordField",
            "Title": {
                "default": "Password Field"
            },
            "Type": "FieldSelect",
            "Settings": {
                "FieldType": "['open-password', 'open-password-confirm']",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "Select a field to update the password of the user or use expressions to input a custom password. Expressions also supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> (for example [Email])."
            }
        }, {
            "Id": "UpdateDisplayNameField",
            "Title": {
                "default": "Also update Display Name with"
            },
            "Type": "FieldSelect",
            "Settings": {
                "FieldType": "open-text",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "Select a field to update the Display Name of the user or use expressions to input a custom display name. Expressions also supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> (for example [Email])."
            }
        }, {
            "Id": "UpdateEmailField",
            "Title": {
                "default": "Update Email with"
            },
            "Type": "FieldSelect",
            "Settings": {
                "FieldType": "open-email",
                "SupportsExpressions": "true"
            },
            "HelpText": {
                "default": "Select an email field from the form to set as the current user email. Expressions also supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> (for example [Email])."
            }
        }, {
            "Id": "AdditionalProperties",
            "Title": {
                "default": "Additional User Properties"
            },
            "Type": "Grid",
            "Settings": {
                "ButtonName": "Add",
                "Columns": [{
                    "Id": "UserProfileProperty",
                    "Title": {
                        "default": "User Profile Property"
                    },
                    "Type": "Select",
                    "Settings": {
                        "DataSource": "UserProfileProperties",
                        "SupportsExpressions": "true",
                        "ColSize": 4,
                        "NoLabel": true
                    }
                }, {
                    "Id": "PropertyValue",
                    "Title": {
                        "default": "Value"
                    },
                    "Type": "FieldSelect",
                    "Settings": {
                        "SupportsExpressions": "true",
                        "ColSize": 4,
                        "NoLabel": true
                    }
                }]
            },
            "HelpText": {
                "default": "Set here additional user profile properties that should be included in the update process."
            }
        }
    ]
}]
