[{
    "Id": "ClearUserCache",
    "Title": {
        "default": "Clear User Cache"
    },
    "HelpText": {
        "default": "This action requires an email or username field and a password field to be present in the form in order to login the user. On successfull login, access user info using the [User:*] tokens (for example [User:UserID] or [User:FirstName])."
    },
    "Settings": {
        "Group": "User"
    },
    "TypeStr": "DnnSharp.Common.Actions.User.ClearUserCache, DnnSharp.Common.Actions",
    "Parameters": [{
            "Id": "UserToken",
            "Title": {
                "default": "User"
            },
            "Type": "Text",
            "HelpText": {
                "default": "User ID, username or email of the user for which the cache needs to be refreshed."
            }
        },
        {
            "Id": "ClearUsersFromContext",
            "Title": {
                "default": "Clear users loaded in context."
            },
            "Type": "Boolean",
            "HelpText": {
                "default": "Enable this option to also clear cache for all users loaded in context, for example using the Context &gt; Load Users actions."
            }
        }
    ]
}]