[{
    "Id": "UpdateUserProfile",
    "Title": {
        "default": "Update User Profile (Obsolete)"
    },
    "TypeStr": "DnnSharp.Common.Actions.User.Obsolete.UpdateUserProfile, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "User"
    },
    "HelpText": {
        "default": "This action will update fields in the profile of the current user, or the user specified through the <b>User Identifier</b> parameter. It will search in the context for tokens matching the names of the profile properties. It will try to match profile properties both with and without spaces between words.<b>Important!</b> Note that profile property names are case sensitive!"
    },
    "Parameters": [
        {
            "Id": "UserIdentifier",
            "Title": {
                "default": "User Identifier"
            },
            "Type": "Text",
            "HelpText": {
                "default": "The user identifier (UserId, username or email) that you want to update. Leave empty to update the current user. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
        "Id": "UpdatePassword",
        "Title": {
            "default": "Allow password update"
        },
        "Type": "Boolean",
        "HelpText": {
            "default": "If there's a password field on the form, Action Form will also update the password for the current user."
        }
    }, {
        "Id": "UpdateDisplayName",
        "Title": {
            "default": "Also update Display Name with"
        },
        "Type": "FieldSelect",
        "Settings": {
            "FieldType": "open-text",
            "SupportsExpressions": "true"
        },
        "HelpText": {
            "default": "Select a field to update the Display Name of the user or use expressions to input a custom display name. Expressions also supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> (for example [Email])."
        }
    }, {
        "Id": "UpdateEmail",
        "Title": {
            "default": "Update Email with"
        },
        "Type": "FieldSelect",
        "Settings": {
            "FieldType": "open-email",
            "SupportsExpressions": "true"
        },
        "HelpText": {
            "default": "Select an email field from the form to set as the current user email. Expressions also supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a> (for example [Email])."
        }
    }, {
        "Id": "OvewriteImages",
        "Title": {
            "default": "Overwrite Images"
        },
        "Type": "Boolean",
        "HelpText": {
            "default": "If the form contains upload fields that map to user profile, such as the Photo property, enabling this option will have Action Form overwrite existing file instead of creating a new one."
        }
    },{
        "Id": "IgnoredProperties",
        "Title": {
            "default": "Ignored Properties"
        },
        "Type": "Textarea",
        "HelpText": {
            "default": "Set here the user profile properties that should be ignored in the update process. Put only one property per row."
        }
    }]
}]
