[{
    "Id": "UnauthorizeUser",
    "Title": { "default": "Unauthorize User" },
    "TypeStr": "DnnSharp.Common.Actions.User.UnauthorizeUser, DnnSharp.Common.Actions",
    "HelpText": { "default": "Unauthorizes all users loaded in current context (by default the current user)." },
    "Settings": {
        "Group": "User"
    }
}]
