[{
    "Id": "RevokeUserRole",
    "Title": { "default": "Revoke User Role" },
    "TypeStr": "DnnSharp.Common.Actions.User.RevokeRole, DnnSharp.Common.Actions",
    "HelpText": { "default": "Revokes the specified security role from current user." },
    "Settings": {
        "Group": "User"
    },
    "Parameters": [
        
        {
            "Id": "RoleId",
            "Title": { "default": "Role" },
            "HelpText": { "default": "Select the security role to revoke." },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "DataSource": "Roles"
            }
        },

        {
            "Id": "RoleNames",
            "Title": { "default": "Other Role Names" },
            "HelpText": { "default": "This allows to freely input the role names, so you can also use DNN tokens and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. If multiple roles are specified, separate them by comma." },
            "Type": "Text"
        }
    ]
}]