<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="01.09.00"><ActionForm>
  <Description>Creates an empty form so you build everything from scratch.</Description>
  <Settings>
    <Version><![CDATA[3.0.0]]></Version>
    <Build><![CDATA[3.0.8.0]]></Build>
    <FrontEndTemplate><![CDATA[<div><span><a href="[FormUrl]">Click here to change.</a></span></div>]]></FrontEndTemplate>
    <HasCustomLayout>False</HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>]]></LayoutHtml>
    <LabelAlign>right</LabelAlign>
    <LabelWidth>3</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode><![CDATA[Always]]></OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/DnnSharp/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/DnnSharp/ActionForm/UploadFile.ashx</UploadUrl>
    <IsDebug>False</IsDebug>
    <InitJs><![CDATA[]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <DateFormat>m/d/yy</DateFormat>
  </Settings>
  <Fields>
  </Fields>
  <Actions>
  </Actions>
</ActionForm></content>
