<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="03.04.11"><ActionForm>
       <Description>Builds a form where people can send a message to the portal admin. </Description>
  <Settings>
    <Title>avt.Action Form</Title>
    <CssName>avt-action-form</CssName>
    <Version>3.4.0</Version>
    <Build>3.4.112</Build>
    <RenderContext>Form</RenderContext>
    <FrontEndTemplate>&lt;div&gt;&lt;span&gt;&lt;a href="[FormUrl]"&gt;Click here to change.&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;</FrontEndTemplate>
    <HasCustomLayout>False</HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>]]></LayoutHtml>
    <CurrentContext>ExportImport</CurrentContext>
    <LabelAlign>right</LabelAlign>
    <LabelWidth>3</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode>Always</OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/DnnSharp/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/DnnSharp/ActionForm/UploadFile.ashx?tabid=325&amp;alias=dnn722.dev10.win2012.dnnsharp.com</UploadUrl>
    <ModuleId>1284</ModuleId>
    <IsDebug>False</IsDebug>
    <ShowTooltips>False</ShowTooltips>
    <LeftSidebarHtml />
    <RightSidebarHtml />
    <InitJs><![CDATA[]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <Background />
    <TextColor>inherit</TextColor>
    <Padding>0</Padding>
    <DateFormat>m/d/yy</DateFormat>
    <BaseId>dnn1284</BaseId>
    <AjaxSubmitUrl>/DesktopModules/DnnSharp/ActionForm/Submit.ashx?TabId=325&amp;ctl=ExportModule&amp;moduleid=1284&amp;language=en-US&amp;ReturnURL=%2fen-us%2ftestseb%2fform.aspx&amp;popUp=true&amp;alias=dnn722.dev10.win2012.dnnsharp.com&amp;mid=1284</AjaxSubmitUrl>
    <PageUrl>http://dnn722.dev10.win2012.dnnsharp.com/en-us/testseb/form.aspx</PageUrl>
    <LocalizedStringsUrl>/DesktopModules/DnnSharp/ActionForm/AdminApi.ashx?method=GetLocalization&amp;locale=en-US&amp;section=FrontEnd</LocalizedStringsUrl>
    <JsonUrl>/DesktopModules/DnnSharp/ActionForm/AdminApi.ashx?method=FormSettings&amp;mid=1284&amp;tabid=-1&amp;alias=dnn722.dev10.win2012.dnnsharp.com&amp;ctl=ExportModule&amp;moduleid=1284&amp;language=en-US&amp;ReturnURL=%2fen-us%2ftestseb%2fform.aspx&amp;popUp=true</JsonUrl>
    <PortalHomeUrl>/Portals/0/</PortalHomeUrl>
  </Settings>
  <Fields>
    <Field>
      <Id><![CDATA[1024]]></Id>
      <Title><![CDATA[First Name]]></Title>
      <TitleTokenized><![CDATA[First Name]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>FirstName</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":"","SaveToReport":true,"AutocompleteUrl":"","Readonly":false}</InputData>
      <Mask />
      <SaveToReport>True</SaveToReport>
      <AutocompleteUrl />
      <Readonly>False</Readonly>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>0</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1025]]></Id>
      <Title><![CDATA[Last Name]]></Title>
      <TitleTokenized><![CDATA[Last Name]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>LastName</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":"","SaveToReport":true,"AutocompleteUrl":"","Readonly":false}</InputData>
      <Mask />
      <SaveToReport>True</SaveToReport>
      <AutocompleteUrl />
      <Readonly>False</Readonly>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>1</ViewOrder>
      <RowIndex>1</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1026]]></Id>
      <Title><![CDATA[Email]]></Title>
      <TitleTokenized><![CDATA[Email]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>Email</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-email</InputType>
      <InputData>{"Value":"","SaveToReport":true}</InputData>
      <SaveToReport>True</SaveToReport>
      <Flag>email</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1>Email Address</CustomValidator1>
      <CustomValidator1JsName>email1284</CustomValidator1JsName>
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>2</ViewOrder>
      <RowIndex>2</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1027]]></Id>
      <Title><![CDATA[Phone]]></Title>
      <TitleTokenized><![CDATA[Phone]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>Phone</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":"","SaveToReport":true,"AutocompleteUrl":"","Readonly":false}</InputData>
      <Mask />
      <SaveToReport>True</SaveToReport>
      <AutocompleteUrl />
      <Readonly>False</Readonly>
      <Value><![CDATA[]]></Value>
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>3</ViewOrder>
      <RowIndex>3</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1028]]></Id>
      <Title><![CDATA[Subject]]></Title>
      <TitleTokenized><![CDATA[Subject]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>Subject</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":"","SaveToReport":true,"AutocompleteUrl":"","Readonly":false}</InputData>
      <Mask />
      <SaveToReport>True</SaveToReport>
      <AutocompleteUrl />
      <Readonly>False</Readonly>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>4</ViewOrder>
      <RowIndex>4</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1029]]></Id>
      <Title><![CDATA[Message]]></Title>
      <TitleTokenized><![CDATA[Message]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>Message</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>open-text-large</InputType>
      <InputData>{"Value":"","IgnoreTokens":false,"SaveToReport":true}</InputData>
      <IgnoreTokens>False</IgnoreTokens>
      <SaveToReport>True</SaveToReport>
      <Flag>large</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>5</ViewOrder>
      <RowIndex>5</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1030]]></Id>
      <Title><![CDATA[Send Now]]></Title>
      <TitleTokenized><![CDATA[Send Now]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>SendNow</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>button</InputType>
      <InputData>{"CausesValidation":true,"ButtonSize":"btn-normal","ButtonType":"btn-info","ButtonAlign":"left","Actions":[]}</InputData>
      <CausesValidation>True</CausesValidation>
      <ButtonSize>btn-normal</ButtonSize>
      <ButtonType>btn-info</ButtonType>
      <ButtonAlign>left</ButtonAlign>
      <Actions />
      <Value><![CDATA[]]></Value>
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>6</ViewOrder>
      <RowIndex>6</RowIndex>
      <ColSpan>3</ColSpan>
      <ColOffset>3</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1031]]></Id>
      <Title><![CDATA[Loading Bar]]></Title>
      <TitleTokenized><![CDATA[Loading Bar]]></TitleTokenized>
      <ShortDescTokenized><![CDATA[]]></ShortDescTokenized>
      <OverrideName />
      <Name>LoadingBar</Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <ValidationCondition><![CDATA[]]></ValidationCondition>
      <CanValidate><![CDATA[True]]></CanValidate>
      <BindShow><![CDATA[]]></BindShow>
      <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
      <BindValue><![CDATA[]]></BindValue>
      <BindOnChange><![CDATA[]]></BindOnChange>
      <InputType>progressbar</InputType>
      <InputData>{"Image":"/DesktopModules/DnnSharp/ActionForm/static/loader/fountain.GIF","Strech":false}</InputData>
      <Image>/DesktopModules/DnnSharp/ActionForm/static/loader/fountain.GIF</Image>
      <Strech>False</Strech>
      <Value><![CDATA[]]></Value>
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>7</ViewOrder>
      <RowIndex>6</RowIndex>
      <ColSpan>6</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
  </Fields>
  <Actions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ActionInfo>
      <ModuleId>1284</ModuleId>
      <Description>Send to admins</Description>
      <FieldName>SendNow</FieldName>
      <EventName>click</EventName>
      <ActionType>SendMail</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2014-07-16T07:19:42.693</LastModified>
      <LastModifiedBy>3</LastModifiedBy>
      <ActionData>{"To":"[Portal:Email]","ReplyTo":"[Email]","Subject":"[Subject]","Body":"\u003cp\u003eNew message from [FirstName] [LastName] (phone # [Phone]):\u003c/p\u003e\n\u003cp\u003e[Message]\u003c/p\u003e","From":"","DetermineEmail":"","Cc":"","Bcc":"","PortalFiles":"","FileField1":"","FileField2":"","FileField3":"","FileField4":"","FileField5":"","FileToken1":"","IgnoreErros":""}</ActionData>
    </ActionInfo>
    <ActionInfo>
      <ModuleId>1284</ModuleId>
      <Description>Confirmation Email</Description>
      <FieldName>SendNow</FieldName>
      <EventName>click</EventName>
      <ActionType>SendMail</ActionType>
      <OrderIndex>1</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2014-07-16T07:19:42.71</LastModified>
      <LastModifiedBy>3</LastModifiedBy>
      <ActionData>{"To":"","DetermineEmail":true,"Subject":"RE: [Subject]","Body":"\u003cp\u003eWe have received your message and will get back to you shortly.\u003c/p\u003e\n\u003cp\u003e[Message]\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e","From":"","ReplyTo":"","Cc":"","Bcc":"","PortalFiles":"","FileField1":"","FileField2":"","FileField3":"","FileField4":"","FileField5":"","FileToken1":"","IgnoreErros":""}</ActionData>
    </ActionInfo>
    <ActionInfo>
      <ModuleId>1284</ModuleId>
      <Description />
      <FieldName>SendNow</FieldName>
      <EventName>click</EventName>
      <ActionType>ShowMessage</ActionType>
      <OrderIndex>2</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2014-07-16T07:19:42.71</LastModified>
      <LastModifiedBy>3</LastModifiedBy>
      <ActionData>{"Message":"\u003cp style=\"text-align: center;\"\u003eYour message was received successfully.\u003cbr /\u003eWe will get back to you ASAP!\u003c/p\u003e","ButtonsList":{"Expression": "","Value": [],"IsExpression": false}}</ActionData>
    </ActionInfo>
  </Actions>
</ActionForm></content>