<?xml version="1.0" encoding="utf-8" ?>
<content type="ActionForm" version="03.04.70">
    <ActionForm>
        <Description>A simple form with username and password fields which logs the user in. </Description>
        <Settings>
            <Title>Login Form</Title>
            <CssName>login-form</CssName>
            <Version>3.4.0</Version>
            <Build>3.4.70</Build>
            <RenderContext>Form</RenderContext>
            <FrontEndTemplate>&lt;div&gt;&lt;span&gt;&lt;a href="[FormUrl]"&gt;Click here to change.&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;</FrontEndTemplate>
            <HasCustomLayout>False</HasCustomLayout>
            <LayoutHtml>
                <![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>]]>
            </LayoutHtml>
            <CurrentContext>ExportImport</CurrentContext>
            <LabelAlign>inside</LabelAlign>
            <LabelWidth>3</LabelWidth>
            <FieldSpacing>normal</FieldSpacing>
            <OpenFormMode>Always</OpenFormMode>
            <FormTemplate>bootstrap</FormTemplate>
            <FormTemplateFolder>/DesktopModules/DnnSharp/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
            <UploadUrl>/DesktopModules/DnnSharp/ActionForm/UploadFile.ashx?tabid=129&amp;alias=dnn722authorize.local.com</UploadUrl>
            <ModuleId>1543</ModuleId>
            <IsDebug>False</IsDebug>
            <ShowTooltips>False</ShowTooltips>
            <LeftSidebarHtml />
            <RightSidebarHtml />
            <InitJs><![CDATA[]]></InitJs>
            <PopupWidth>400</PopupWidth>
            <PopupHeight>300</PopupHeight>
            <jQueryTheme>sunny</jQueryTheme>
            <Background />
            <TextColor>inherit</TextColor>
            <Padding>0</Padding>
            <DateFormat>m/d/yy</DateFormat>
            <BaseId>dnn1543</BaseId>
            <AjaxSubmitUrl>/DesktopModules/DnnSharp/ActionForm/Submit.ashx?TabId=129&amp;ctl=ExportModule&amp;moduleid=1543&amp;ReturnURL=%2fAction-Form%2flogin&amp;popUp=true&amp;language=en-US&amp;alias=dnn722authorize.local.com&amp;mid=1543</AjaxSubmitUrl>
            <PageUrl>http://dnn722authorize.local.com/Action-Form/login</PageUrl>
            <LocalizedStringsUrl>/DesktopModules/DnnSharp/ActionForm/AdminApi.ashx?method=GetLocalization&amp;locale=en-US</LocalizedStringsUrl>
            <JsonUrl>/DesktopModules/DnnSharp/ActionForm/AdminApi.ashx?method=FormSettings&amp;mid=1543&amp;tabid=-1&amp;alias=dnn722authorize.local.com&amp;ctl=ExportModule&amp;moduleid=1543&amp;ReturnURL=%2fAction-Form%2flogin&amp;popUp=true&amp;language=en-US</JsonUrl>
            <PortalHomeUrl>/Portals/0/</PortalHomeUrl>
        </Settings>
        <Fields>
            <Field>
                <Id><![CDATA[131]]></Id>
                <Title><![CDATA[Username]]></Title>
                <TitleTokenized><![CDATA[Username]]></TitleTokenized>
                <OverrideName />
                <Name>Username</Name>
                <ShortDesc><![CDATA[]]></ShortDesc>
                <HelpText><![CDATA[]]></HelpText>
                <ShowCondition><![CDATA[]]></ShowCondition>
                <ValidationCondition><![CDATA[]]></ValidationCondition>
                <CanValidate><![CDATA[True]]></CanValidate>
                <BindShow><![CDATA[]]></BindShow>
                <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
                <BindValue><![CDATA[]]></BindValue>
                <BindOnChange><![CDATA[]]></BindOnChange>
                <InputType>open-username</InputType>
                <InputData>{"Value":"","SaveToReport":true}</InputData>
                <SaveToReport>True</SaveToReport>
                <Value><![CDATA[]]></Value>
                <IsRequired>True</IsRequired>
                <IsActive>True</IsActive>
                <IsEnabled>True</IsEnabled>
                <CssClass><![CDATA[]]></CssClass>
                <CssStyles><![CDATA[max-width: 220px;]]></CssStyles>
                <LabelCssClass><![CDATA[]]></LabelCssClass>
                <LabelCssStyles><![CDATA[]]></LabelCssStyles>
                <CustomValidator1 />
                <CustomValidator2 />
                <ValidationGroup />
                <GroupValidator />
                <SaveToUserProfile>False</SaveToUserProfile>
                <DisableAutocomplete>False</DisableAutocomplete>
                <ViewOrder>0</ViewOrder>
                <RowIndex>0</RowIndex>
                <ColSpan>12</ColSpan>
                <ColOffset>0</ColOffset>
            </Field>
            <Field>
                <Id><![CDATA[132]]></Id>
                <Title><![CDATA[Password]]></Title>
                <TitleTokenized><![CDATA[Password]]></TitleTokenized>
                <OverrideName />
                <Name>Password</Name>
                <ShortDesc><![CDATA[]]></ShortDesc>
                <HelpText><![CDATA[]]></HelpText>
                <ShowCondition><![CDATA[]]></ShowCondition>
                <ValidationCondition><![CDATA[]]></ValidationCondition>
                <CanValidate><![CDATA[True]]></CanValidate>
                <BindShow><![CDATA[]]></BindShow>
                <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
                <BindValue><![CDATA[]]></BindValue>
                <BindOnChange><![CDATA[]]></BindOnChange>
                <InputType>open-password</InputType>
                <InputData>{"Value":"","ConfirmationOf":"","SaveToReport":false}</InputData>
                <ConfirmationOf />
                <SaveToReport>False</SaveToReport>
                <Flag>password</Flag>
                <Value><![CDATA[]]></Value>
                <IsRequired>True</IsRequired>
                <IsActive>True</IsActive>
                <IsEnabled>True</IsEnabled>
                <CssClass><![CDATA[]]></CssClass>
                <CssStyles><![CDATA[max-width: 220px;]]></CssStyles>
                <LabelCssClass><![CDATA[]]></LabelCssClass>
                <LabelCssStyles><![CDATA[]]></LabelCssStyles>
                <CustomValidator1 />
                <CustomValidator2 />
                <ValidationGroup />
                <GroupValidator />
                <SaveToUserProfile>False</SaveToUserProfile>
                <DisableAutocomplete>False</DisableAutocomplete>
                <ViewOrder>12</ViewOrder>
                <RowIndex>1</RowIndex>
                <ColSpan>12</ColSpan>
                <ColOffset>0</ColOffset>
            </Field>
            <Field>
                <Id><![CDATA[133]]></Id>
                <Title><![CDATA[Login]]></Title>
                <TitleTokenized><![CDATA[Login]]></TitleTokenized>
                <OverrideName />
                <Name>Login</Name>
                <ShortDesc><![CDATA[]]></ShortDesc>
                <HelpText><![CDATA[]]></HelpText>
                <ShowCondition><![CDATA[]]></ShowCondition>
                <ValidationCondition><![CDATA[]]></ValidationCondition>
                <CanValidate><![CDATA[True]]></CanValidate>
                <BindShow><![CDATA[]]></BindShow>
                <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
                <BindValue><![CDATA[]]></BindValue>
                <BindOnChange><![CDATA[]]></BindOnChange>
                <InputType>button</InputType>
                <InputData>{"CausesValidation":true,"ButtonSize":"btn-normal","ButtonType":"btn-info","ButtonAlign":"left","Actions":[]}</InputData>
                <CausesValidation>True</CausesValidation>
                <ButtonSize>btn-normal</ButtonSize>
                <ButtonType>btn-info</ButtonType>
                <ButtonAlign>left</ButtonAlign>
                <Actions />
                <Value><![CDATA[]]></Value>
                <IsRequired>False</IsRequired>
                <IsActive>True</IsActive>
                <IsEnabled>True</IsEnabled>
                <CssClass><![CDATA[]]></CssClass>
                <CssStyles><![CDATA[]]></CssStyles>
                <LabelCssClass><![CDATA[]]></LabelCssClass>
                <LabelCssStyles><![CDATA[]]></LabelCssStyles>
                <CustomValidator1 />
                <CustomValidator2 />
                <ValidationGroup />
                <GroupValidator />
                <SaveToUserProfile>False</SaveToUserProfile>
                <DisableAutocomplete>False</DisableAutocomplete>
                <ViewOrder>24</ViewOrder>
                <RowIndex>2</RowIndex>
                <ColSpan>3</ColSpan>
                <ColOffset>0</ColOffset>
            </Field>
            <Field>
                <Id><![CDATA[134]]></Id>
                <Title><![CDATA[Loading bar]]></Title>
                <TitleTokenized><![CDATA[Loading bar]]></TitleTokenized>
                <OverrideName />
                <Name>Loadingbar</Name>
                <ShortDesc><![CDATA[]]></ShortDesc>
                <HelpText><![CDATA[]]></HelpText>
                <ShowCondition><![CDATA[]]></ShowCondition>
                <ValidationCondition><![CDATA[]]></ValidationCondition>
                <CanValidate><![CDATA[True]]></CanValidate>
                <BindShow><![CDATA[]]></BindShow>
                <BindPreserveLayout><![CDATA[False]]></BindPreserveLayout>
                <BindValue><![CDATA[]]></BindValue>
                <BindOnChange><![CDATA[]]></BindOnChange>
                <InputType>progressbar</InputType>
                <InputData>{"Image":"/DesktopModules/DnnSharp/ActionForm/static/loader/fountain.GIF","Strech":false}</InputData>
                <Image>/DesktopModules/DnnSharp/ActionForm/static/loader/fountain.GIF</Image>
                <Strech>False</Strech>
                <Value><![CDATA[]]></Value>
                <IsRequired>False</IsRequired>
                <IsActive>True</IsActive>
                <IsEnabled>True</IsEnabled>
                <CssClass><![CDATA[]]></CssClass>
                <CssStyles><![CDATA[]]></CssStyles>
                <LabelCssClass><![CDATA[]]></LabelCssClass>
                <LabelCssStyles><![CDATA[]]></LabelCssStyles>
                <CustomValidator1 />
                <CustomValidator2 />
                <ValidationGroup />
                <GroupValidator />
                <SaveToUserProfile>False</SaveToUserProfile>
                <DisableAutocomplete>False</DisableAutocomplete>
                <ViewOrder>27</ViewOrder>
                <RowIndex>2</RowIndex>
                <ColSpan>9</ColSpan>
                <ColOffset>0</ColOffset>
            </Field>
        </Fields>
        <Actions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ActionInfo>
                <ModuleId>1543</ModuleId>
                <Description />
                <FieldName>Login</FieldName>
                <EventName>click</EventName>
                <ActionType>UserLogin</ActionType>
                <OrderIndex>0</OrderIndex>
                <Condition />
                <IsDeleted>false</IsDeleted>
                <LastModified>2014-06-06T20:26:34.477</LastModified>
                <LastModifiedBy>1</LastModifiedBy>
                <ActionData>{}</ActionData>
            </ActionInfo>
        </Actions>
    </ActionForm>
</content>